In [1]:
import race_results_scanner
import google_cloud_downloader as gcd
from PyPDF2 import PdfReader
import numpy as np
import pandas as pd
import os
import header_scanner as hs


pdf = "Error_PDFS/AQU_11_04_2022.pdf"
#pdf = "Example_PDFS/equibaseFile.pdf"

In [2]:
#Testing for page

page_list = race_results_scanner.get_page_list(pdf)
target_page = 10

page_list_index = 0
for page in page_list:
    if(target_page == page['page_num']):
        break
    page_list_index += 1
    
reader = PdfReader(pdf) #File to be scanned
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()

page = page_list[page_list_index]
header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
for field,value in header.items():
    print(field ,':', value)
result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan
print(result_tables[0])
print(result_tables[1])

The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

track : Aqueduct
date : November 4, 2022
race_num : 9
criteria : FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD
track_length :  One And One Eighth Miles On The Dirt
purse : $150,000
weather : Clear
track_type : Fast
off_time : 4:45
start : Good for all except 1
race_type : stakes
Looking for tables...
Found table top bound at 162.24599999999998
Found table bottom bound at 233.54599999999994
Looking for tables...
Found table top bound at 427.871
Found table bottom bound at 512.565
    Last Raced  Pgm jockey_first_name jockey_last_name   PP  Start  1/4  1/2  \
0   1Oct22 LRL  7.0          Kendrick        Carmouche  5.0    1.0    1    1
1  17Sep22 BAQ  4.0            Hector        Diaz  Jr.  3.0    4.0    4    4
2   9Oct22 BAQ  3.0            Javier       Castellano  2.0    2.0    3    3
3   1Sep22 SAR  6.0            Trevor         McCarthy  4.0    3.0    2    2
4  19Aug22 SAR  1.0           Michael            Luzzi  1.0    5.0  ---  ---

   3/4  Str  ...             Comments     horse_name Last Raced_super_script  \
0    1    1  ...     in hand ins, hel  Battle Bling                      8 1
1    3    2  ...      4w uppr, closed     Nostalgic                      7 6
2    4    3  ...    chased inside, ti  First to Act                      3 2
3    2    4  ...     chased 2p, falte     W W Fitzy                      5 1
4  ---  ---  ...  hit gate st,lost ri   Exotic West                      8 7

  1/4_length_behind 1/2_length_behind 3/4_length_behind Str_length_behind  \
0                 1               1/2                 1             3 1/2
1               NaN               NaN               1/2                 5
2                 1               1/2               NaN                 7
3                 1                 1                 1               NaN
4               NaN               NaN               NaN               NaN

  Fin_length_behind  Wgt  M/E
0              Neck  123  - -
1            13 3/4  122  - -
2            19 1/2  121    b
3               NaN  121    b
4               NaN  123  - -

[5 rows x 22 columns]
  Pgm    Horse Name  Start  1/4  1/2  3/4  Str  Fin 1/4_length_behind  \
0   7  Battle Bling    1.0    1    1    1    1    1                 1
1   4     Nostalgic    4.0    4    4    3    2    2                 3
2   3  First to Act    2.0    3    3    4    3    3                 2
3   6     W W Fitzy    3.0    2    2    2    4    4                 1
4   1   Exotic West    5.0  ---  ---  ---  ---  ---               NaN

  1/2_length_behind 3/4_length_behind Str_length_behind Fin_length_behind
0               1/2                 1             3 1/2               Nec
1                 2                 2             3 1/2               Nec
2             1 1/2             2 1/2             8 1/2                14
3               1/2                 1            15 1/2             33 1/
4               NaN               NaN               NaN               NaN

In [3]:
result_tables[1]

,Pgm,Horse Name,Start,1/4,1/2,3/4,Str,Fin,1/4_length_behind,1/2_length_behind,3/4_length_behind,Str_length_behind,Fin_length_behind
0,7,Battle Bling,1.0,1,1,1,1,1,1,1/2,1,3 1/2,Nec
1,4,Nostalgic,4.0,4,4,3,2,2,3,2,2,3 1/2,Nec
2,3,First to Act,2.0,3,3,4,3,3,2,1 1/2,2 1/2,8 1/2,14
3,6,W W Fitzy,3.0,2,2,2,4,4,1,1/2,1,15 1/2,33 1/
4,1,Exotic West,5.0,---,---,---,---,---,NaN,NaN,NaN,NaN,NaN

In [2]:
#Testing for whole pdf
master_df = pd.DataFrame()
page_list = race_results_scanner.get_page_list(pdf)
print(page_list)
    
reader = PdfReader(pdf) #File to be scanned
number_of_pages = len(reader.pages) #Number of pages
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()
i = 0
for page in page_list:
    header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
    print(header)
    result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan
                
    #Combine into page DF
    top_table = result_tables[0]
    bottom_table = result_tables[1]
    #Dropping horse name for merge
    bottom_table = bottom_table.drop("Horse Name", axis = 1).astype(object)
    merged_df = top_table.join(bottom_table.set_index("Pgm"), on = "Pgm", rsuffix = "_RLP")
    for field,value in header.items():
        merged_df[field] = value
        #Changing all cols to object type 
        merged_df = merged_df.astype(object)
        #For every page df
    #Merge into master pdf df
    if(len(pdf_df) < 1):
        pdf_df = merged_df
    else:
        pdf_df = pd.merge(pdf_df, merged_df, how = 'outer')
            
    print(pdf_df)
    #Merging into master 
    #if(len(master_df) < 1):
     #   master_df = pdf_df
    #else:
    #    master_df = pd.merge(master_df,pdf_df, how = 'outer')

The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

[{'page_num': 0, 'horse_count': 7}, {'page_num': 1, 'horse_count': 6}, {'page_num': 2, 'horse_count': 7}, {'page_num': 3, 'horse_count': 7}, {'page_num': 4, 'horse_count': 9}, {'page_num': 6, 'horse_count': 8}, {'page_num': 7, 'horse_count': 11}, {'page_num': 9, 'horse_count': 7}, {'page_num': 10, 'horse_count': 5}, {'page_num': 11, 'horse_count': 9}]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '1', 'criteria': '(UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES TWO YEARS OLD', 'track_length': ' One Mile On The Dirt', 'purse': '$85,000', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '11:38', 'start': 'Good for all except 2,6', 'race_type': 'maiden special weight'}
Looking for tables...
Found table top bound at 125.82999999999993
Found table bottom bound at 207.13
Looking for tables...
Found table top bound at 351.955

The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 445.233
   Last Raced  Pgm jockey_first_name  jockey_last_name   PP Start 1/4 1/2 3/4  \
0  2Oct22 BAQ  7.0            Javier        Castellano  7.0   2.0   2   2   1
1         ---  1.0              Eric            Cancel  1.0   4.0   4   4   3
2         ---  4.0            Trevor          McCarthy  4.0   6.0   7   6   4
3  4Sep22 SAR  3.0          Kendrick         Carmouche  3.0   3.0   1   1   2
4         ---  5.0            Hector         Diaz  Jr.  5.0   5.0   6   7   6
5         ---  6.0              Omar  Hernandez Moreno  6.0   1.0   3   3   5
6         ---  2.0              Jose             Gomez  2.0   7.0   5   5   7

  Str  ...              date race_num  \
0   1  ...  November 4, 2022        1
1   2  ...  November 4, 2022        1
2   4  ...  November 4, 2022        1
3   3  ...  November 4, 2022        1
4   6  ...  November 4, 2022        1
5   5  ...  November 4, 2022        1
6   7  ...  November 4, 2022        1

                                            criteria           track_length  \
0  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...   One Mile On The Dirt
1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...   One Mile On The Dirt
2  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...   One Mile On The Dirt
3  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...   One Mile On The Dirt
4  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...   One Mile On The Dirt
5  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...   One Mile On The Dirt
6  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...   One Mile On The Dirt

     purse weather track_type off_time                    start  \
0  $85,000   Clear       Fast    11:38  Good for all except 2,6
1  $85,000   Clear       Fast    11:38  Good for all except 2,6
2  $85,000   Clear       Fast    11:38  Good for all except 2,6
3  $85,000   Clear       Fast    11:38  Good for all except 2,6
4  $85,000   Clear       Fast    11:38  Good for all except 2,6
5  $85,000   Clear       Fast    11:38  Good for all except 2,6
6  $85,000   Clear       Fast    11:38  Good for all except 2,6

               race_type
0  maiden special weight
1  maiden special weight
2  maiden special weight
3  maiden special weight
4  maiden special weight
5  maiden special weight
6  maiden special weight

[7 rows x 44 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '2', 'criteria': '(UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND UPWARD WHICH HAVE STARTED FOR A CLAIMING PRICE OF $50,000 OR LESS AND WHICH HAVE NEVER WON A RACE OTHER THAN MAIDEN OR CLAIMING', 'claiming_price': '$50,000', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$55,000', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '12:16', 'start': 'Good for all except 2', 'race_type': 'starter allowance'}
Looking for tables...
Found table top bound at 125.53800000000001
Found table bottom bound at 206.83799999999997
Looking for tables...
Found table top bound at 366.765

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 451.39900000000006
     Last Raced  Pgm jockey_first_name  jockey_last_name   PP Start 1/4 1/2  \
0    2Oct22 BAQ  7.0            Javier        Castellano  7.0   2.0   2   2
1           ---  1.0              Eric            Cancel  1.0   4.0   4   4
2           ---  4.0            Trevor          McCarthy  4.0   6.0   7   6
3    4Sep22 SAR  3.0          Kendrick         Carmouche  3.0   3.0   1   1
4           ---  5.0            Hector         Diaz  Jr.  5.0   5.0   6   7
5           ---  6.0              Omar  Hernandez Moreno  6.0   1.0   3   3
6           ---  2.0              Jose             Gomez  2.0   7.0   5   5
7    6Oct22 BAQ  6.0             Jorge       Vargas  Jr.  6.0   1.0   3   2
8    6Oct22 BAQ  4.0            Javier        Castellano  4.0   4.0   4   4
9   15Oct22 BAQ  1.0            Hector         Diaz  Jr.  1.0   2.0   2   3
10  30Sep22 BAQ  5.0            Trevor          McCarthy  5.0   5.0   6   5
11   8Jan22 AQU  3.0              Jose             Gomez  3.0   3.0   1   1
12  22Sep22 BAQ  2.0              Omar  Hernandez Moreno  2.0   6.0   5   6

    3/4 Str  ... race_num                                           criteria  \
0     1   1  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
1     3   2  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
2     4   4  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
3     2   3  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
4     6   6  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
5     5   5  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
6     7   7  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
7   NaN   1  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
8   NaN   2  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
9   NaN   3  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
10  NaN   5  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
11  NaN   4  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
12  NaN   6  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...

                 track_length    purse weather track_type off_time  \
0        One Mile On The Dirt  $85,000   Clear       Fast    11:38
1        One Mile On The Dirt  $85,000   Clear       Fast    11:38
2        One Mile On The Dirt  $85,000   Clear       Fast    11:38
3        One Mile On The Dirt  $85,000   Clear       Fast    11:38
4        One Mile On The Dirt  $85,000   Clear       Fast    11:38
5        One Mile On The Dirt  $85,000   Clear       Fast    11:38
6        One Mile On The Dirt  $85,000   Clear       Fast    11:38
7    Six Furlongs On The Dirt  $55,000  Cloudy       Fast    12:16
8    Six Furlongs On The Dirt  $55,000  Cloudy       Fast    12:16
9    Six Furlongs On The Dirt  $55,000  Cloudy       Fast    12:16
10   Six Furlongs On The Dirt  $55,000  Cloudy       Fast    12:16
11   Six Furlongs On The Dirt  $55,000  Cloudy       Fast    12:16
12   Six Furlongs On The Dirt  $55,000  Cloudy       Fast    12:16

                      start              race_type claiming_price
0   Good for all except 2,6  maiden special weight            NaN
1   Good for all except 2,6  maiden special weight            NaN
2   Good for all except 2,6  maiden special weight            NaN
3   Good for all except 2,6  maiden special weight            NaN
4   Good for all except 2,6  maiden special weight            NaN
5   Good for all except 2,6  maiden special weight            NaN
6   Good for all except 2,6  maiden special weight            NaN
7     Good for all except 2      starter allowance        $50,000
8     Good for all except 2      starter allowance        $50,000
9     Good for all except 2      starter allowance        $50,000
10    Good for all except 2      starter allowance        $50,000
11    Good for all except 2      starter allowance        $50,000
12    Good for all except 2      starter allowance        $50,000

[13 rows x 45 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '3', 'criteria': 'OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD WHICH HAVE NEVER WON $18,000 THREE TIMES OTHER THAN MAIDEN, CLAIMING, STARTER OR STATE BRED ALLOWANCE OR WHICH HAVE NEVER WON FOUR RACES OR OPTIONAL CLAIMING PRICE OF $80,000', 'claiming_price': '$80,000', 'track_length': ' Six Furlongs On The Outer turf', 'purse': '$100,000', 'weather': 'Hazy', 'track_type': 'Firm', 'off_time': '12:50', 'start': 'Good for all', 'race_type': 'allowance claiming'}
Looking for tables...
Found table top bound at 161.82999999999993
Found table bottom bound at 243.13
Looking for tables...
Found table top bound at 430.349

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 514.9830000000001
     Last Raced  Pgm jockey_first_name  jockey_last_name   PP Start 1/4 1/2  \
0    2Oct22 BAQ  7.0            Javier        Castellano  7.0   2.0   2   2
1           ---  1.0              Eric            Cancel  1.0   4.0   4   4
2           ---  4.0            Trevor          McCarthy  4.0   6.0   7   6
3    4Sep22 SAR  3.0          Kendrick         Carmouche  3.0   3.0   1   1
4           ---  5.0            Hector         Diaz  Jr.  5.0   5.0   6   7
5           ---  6.0              Omar  Hernandez Moreno  6.0   1.0   3   3
6           ---  2.0              Jose             Gomez  2.0   7.0   5   5
7    6Oct22 BAQ  6.0             Jorge       Vargas  Jr.  6.0   1.0   3   2
8    6Oct22 BAQ  4.0            Javier        Castellano  4.0   4.0   4   4
9   15Oct22 BAQ  1.0            Hector         Diaz  Jr.  1.0   2.0   2   3
10  30Sep22 BAQ  5.0            Trevor          McCarthy  5.0   5.0   6   5
11   8Jan22 AQU  3.0              Jose             Gomez  3.0   3.0   1   1
12  22Sep22 BAQ  2.0              Omar  Hernandez Moreno  2.0   6.0   5   6
13  18Sep22 BAQ  7.0               Nik            Juarez  7.0   1.0   1   1
14  29Sep22 BAQ  4.0            Javier        Castellano  4.0   6.0   7   4
15  29Sep22 BAQ  6.0               IRE                    6.0   5.0   6   5
16  12Oct22 PID  3.0              Jose             Gomez  3.0   4.0   5   7
17    1Sep22 KD  5.0          Kendrick         Carmouche  5.0   2.0   2   2
18   2Jul22 CHY  2.0                FR                    2.0   7.0   3   3
19   1Sep22 SAR  1.0              Eric            Cancel  1.0   3.0   4   6

    3/4 Str  ... race_num                                           criteria  \
0     1   1  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
1     3   2  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
2     4   4  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
3     2   3  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
4     6   6  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
5     5   5  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
6     7   7  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
7   NaN   1  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
8   NaN   2  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
9   NaN   3  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
10  NaN   5  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
11  NaN   4  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
12  NaN   6  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
13  NaN   1  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
14  NaN   2  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
15  NaN   5  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
16  NaN   6  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
17  NaN   3  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
18  NaN   4  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
19  NaN   7  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...

                       track_length     purse weather track_type off_time  \
0              One Mile On The Dirt   $85,000   Clear       Fast    11:38
1              One Mile On The Dirt   $85,000   Clear       Fast    11:38
2              One Mile On The Dirt   $85,000   Clear       Fast    11:38
3              One Mile On The Dirt   $85,000   Clear       Fast    11:38
4              One Mile On The Dirt   $85,000   Clear       Fast    11:38
5              One Mile On The Dirt   $85,000   Clear       Fast    11:38
6              One Mile On The Dirt   $85,000   Clear       Fast    11:38
7          Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
8          Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
9          Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
10         Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
11         Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
12         Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
13   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
14   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
15   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
16   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
17   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
18   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
19   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50

                      start              race_type claiming_price
0   Good for all except 2,6  maiden special weight            NaN
1   Good for all except 2,6  maiden special weight            NaN
2   Good for all except 2,6  maiden special weight            NaN
3   Good for all except 2,6  maiden special weight            NaN
4   Good for all except 2,6  maiden special weight            NaN
5   Good for all except 2,6  maiden special weight            NaN
6   Good for all except 2,6  maiden special weight            NaN
7     Good for all except 2      starter allowance        $50,000
8     Good for all except 2      starter allowance        $50,000
9     Good for all except 2      starter allowance        $50,000
10    Good for all except 2      starter allowance        $50,000
11    Good for all except 2      starter allowance        $50,000
12    Good for all except 2      starter allowance        $50,000
13             Good for all     allowance claiming        $80,000
14             Good for all     allowance claiming        $80,000
15             Good for all     allowance claiming        $80,000
16             Good for all     allowance claiming        $80,000
17             Good for all     allowance claiming        $80,000
18             Good for all     allowance claiming        $80,000
19             Good for all     allowance claiming        $80,000

[20 rows x 45 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '4', 'criteria': 'FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD WHICH HAVE NEVER WON THREE RACES OR THREE YEAR OLD FILLIES', 'claiming_price': '$14,000', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$28,000', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '1:26', 'start': 'Good for all', 'race_type': 'claiming'}
Looking for tables...
Found table top bound at 134.82999999999993
Found table bottom bound at 216.13
Looking for tables...
Found table top bound at 446.624

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 531.258
     Last Raced  Pgm jockey_first_name  jockey_last_name   PP Start 1/4 1/2  \
0    2Oct22 BAQ  7.0            Javier        Castellano  7.0   2.0   2   2
1           ---  1.0              Eric            Cancel  1.0   4.0   4   4
2           ---  4.0            Trevor          McCarthy  4.0   6.0   7   6
3    4Sep22 SAR  3.0          Kendrick         Carmouche  3.0   3.0   1   1
4           ---  5.0            Hector         Diaz  Jr.  5.0   5.0   6   7
5           ---  6.0              Omar  Hernandez Moreno  6.0   1.0   3   3
6           ---  2.0              Jose             Gomez  2.0   7.0   5   5
7    6Oct22 BAQ  6.0             Jorge       Vargas  Jr.  6.0   1.0   3   2
8    6Oct22 BAQ  4.0            Javier        Castellano  4.0   4.0   4   4
9   15Oct22 BAQ  1.0            Hector         Diaz  Jr.  1.0   2.0   2   3
10  30Sep22 BAQ  5.0            Trevor          McCarthy  5.0   5.0   6   5
11   8Jan22 AQU  3.0              Jose             Gomez  3.0   3.0   1   1
12  22Sep22 BAQ  2.0              Omar  Hernandez Moreno  2.0   6.0   5   6
13  18Sep22 BAQ  7.0               Nik            Juarez  7.0   1.0   1   1
14  29Sep22 BAQ  4.0            Javier        Castellano  4.0   6.0   7   4
15  29Sep22 BAQ  6.0               IRE                    6.0   5.0   6   5
16  12Oct22 PID  3.0              Jose             Gomez  3.0   4.0   5   7
17    1Sep22 KD  5.0          Kendrick         Carmouche  5.0   2.0   2   2
18   2Jul22 CHY  2.0                FR                    2.0   7.0   3   3
19   1Sep22 SAR  1.0              Eric            Cancel  1.0   3.0   4   6
20  28Aug22 SAR  1.0            Trevor          McCarthy  1.0   3.0   1   1
21  14Oct22 BAQ  4.0          Madeline           Rowland  4.0   7.0   6   2
22  13Oct22 BAQ  7.0              Omar  Hernandez Moreno  7.0   2.0   4   6
23   29Aug22 FL  5.0        Jacqueline             Davis  5.0   5.0   7   7
24  27Jul22 SAR  3.0          Kendrick         Carmouche  3.0   6.0   5   3
25   4Feb22 AQU  6.0              Jose             Gomez  6.0   1.0   3   4
26  13Oct22 BAQ  2.0              Amin          Castillo  2.0   4.0   2   5

    3/4 Str  ... race_num                                           criteria  \
0     1   1  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
1     3   2  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
2     4   4  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
3     2   3  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
4     6   6  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
5     5   5  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
6     7   7  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
7   NaN   1  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
8   NaN   2  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
9   NaN   3  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
10  NaN   5  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
11  NaN   4  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
12  NaN   6  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
13  NaN   1  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
14  NaN   2  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
15  NaN   5  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
16  NaN   6  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
17  NaN   3  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
18  NaN   4  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
19  NaN   7  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
20  NaN   1  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
21  NaN   2  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
22  NaN   3  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
23  NaN   5  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
24  NaN   4  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
25  NaN   6  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
26  NaN   7  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...

                       track_length     purse weather track_type off_time  \
0              One Mile On The Dirt   $85,000   Clear       Fast    11:38
1              One Mile On The Dirt   $85,000   Clear       Fast    11:38
2              One Mile On The Dirt   $85,000   Clear       Fast    11:38
3              One Mile On The Dirt   $85,000   Clear       Fast    11:38
4              One Mile On The Dirt   $85,000   Clear       Fast    11:38
5              One Mile On The Dirt   $85,000   Clear       Fast    11:38
6              One Mile On The Dirt   $85,000   Clear       Fast    11:38
7          Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
8          Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
9          Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
10         Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
11         Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
12         Six Furlongs On The Dirt   $55,000  Cloudy       Fast    12:16
13   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
14   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
15   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
16   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
17   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
18   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
19   Six Furlongs On The Outer turf  $100,000    Hazy       Firm    12:50
20         Six Furlongs On The Dirt   $28,000   Clear       Fast     1:26
21         Six Furlongs On The Dirt   $28,000   Clear       Fast     1:26
22         Six Furlongs On The Dirt   $28,000   Clear       Fast     1:26
23         Six Furlongs On The Dirt   $28,000   Clear       Fast     1:26
24         Six Furlongs On The Dirt   $28,000   Clear       Fast     1:26
25         Six Furlongs On The Dirt   $28,000   Clear       Fast     1:26
26         Six Furlongs On The Dirt   $28,000   Clear       Fast     1:26

                      start              race_type claiming_price
0   Good for all except 2,6  maiden special weight            NaN
1   Good for all except 2,6  maiden special weight            NaN
2   Good for all except 2,6  maiden special weight            NaN
3   Good for all except 2,6  maiden special weight            NaN
4   Good for all except 2,6  maiden special weight            NaN
5   Good for all except 2,6  maiden special weight            NaN
6   Good for all except 2,6  maiden special weight            NaN
7     Good for all except 2      starter allowance        $50,000
8     Good for all except 2      starter allowance        $50,000
9     Good for all except 2      starter allowance        $50,000
10    Good for all except 2      starter allowance        $50,000
11    Good for all except 2      starter allowance        $50,000
12    Good for all except 2      starter allowance        $50,000
13             Good for all     allowance claiming        $80,000
14             Good for all     allowance claiming        $80,000
15             Good for all     allowance claiming        $80,000
16             Good for all     allowance claiming        $80,000
17             Good for all     allowance claiming        $80,000
18             Good for all     allowance claiming        $80,000
19             Good for all     allowance claiming        $80,000
20             Good for all               claiming        $14,000
21             Good for all               claiming        $14,000
22             Good for all               claiming        $14,000
23             Good for all               claiming        $14,000
24             Good for all               claiming        $14,000
25             Good for all               claiming        $14,000
26             Good for all               claiming        $14,000

[27 rows x 45 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '5', 'criteria': '(UP TO $6,786 NYSBFOA)', 'claiming_price': '$30,000(15%', 'track_length': ' One And One Sixteenth Miles On The Turf', 'purse': '$39,000', 'weather': 'Cloudy', 'track_type': 'Firm', 'off_time': '2:00', 'start': 'Good for all except 1', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 133.414
Found table bottom bound at 234.71399999999994
Looking for tables...
Found table top bound at 474.039

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 585.9010000000001
     Last Raced  Pgm jockey_first_name  jockey_last_name   PP Start 1/4 1/2  \
0    2Oct22 BAQ  7.0            Javier        Castellano  7.0   2.0   2   2
1           ---  1.0              Eric            Cancel  1.0   4.0   4   4
2           ---  4.0            Trevor          McCarthy  4.0   6.0   7   6
3    4Sep22 SAR  3.0          Kendrick         Carmouche  3.0   3.0   1   1
4           ---  5.0            Hector         Diaz  Jr.  5.0   5.0   6   7
5           ---  6.0              Omar  Hernandez Moreno  6.0   1.0   3   3
6           ---  2.0              Jose             Gomez  2.0   7.0   5   5
7    6Oct22 BAQ  6.0             Jorge       Vargas  Jr.  6.0   1.0   3   2
8    6Oct22 BAQ  4.0            Javier        Castellano  4.0   4.0   4   4
9   15Oct22 BAQ  1.0            Hector         Diaz  Jr.  1.0   2.0   2   3
10  30Sep22 BAQ  5.0            Trevor          McCarthy  5.0   5.0   6   5
11   8Jan22 AQU  3.0              Jose             Gomez  3.0   3.0   1   1
12  22Sep22 BAQ  2.0              Omar  Hernandez Moreno  2.0   6.0   5   6
13  18Sep22 BAQ  7.0               Nik            Juarez  7.0   1.0   1   1
14  29Sep22 BAQ  4.0            Javier        Castellano  4.0   6.0   7   4
15  29Sep22 BAQ  6.0               IRE                    6.0   5.0   6   5
16  12Oct22 PID  3.0              Jose             Gomez  3.0   4.0   5   7
17    1Sep22 KD  5.0          Kendrick         Carmouche  5.0   2.0   2   2
18   2Jul22 CHY  2.0                FR                    2.0   7.0   3   3
19   1Sep22 SAR  1.0              Eric            Cancel  1.0   3.0   4   6
20  28Aug22 SAR  1.0            Trevor          McCarthy  1.0   3.0   1   1
21  14Oct22 BAQ  4.0          Madeline           Rowland  4.0   7.0   6   2
22  13Oct22 BAQ  7.0              Omar  Hernandez Moreno  7.0   2.0   4   6
23   29Aug22 FL  5.0        Jacqueline             Davis  5.0   5.0   7   7
24  27Jul22 SAR  3.0          Kendrick         Carmouche  3.0   6.0   5   3
25   4Feb22 AQU  6.0              Jose             Gomez  6.0   1.0   3   4
26  13Oct22 BAQ  2.0              Amin          Castillo  2.0   4.0   2   5
27   2Sep22 SAR  7.0            Javier        Castellano  7.0   8.0   7   7
28  17Aug22 SAR  4.0              Jose             Gomez  4.0   1.0   4   4
29  23Sep22 BAQ  1.0          Kendrick         Carmouche  1.0   3.0   1   1
30   6Oct22 BAQ  6.0             Jorge       Vargas  Jr.  6.0   6.0   5   5
31    6May22 GP  5.0            Hector         Diaz  Jr.  5.0   7.0   8   8
32   6Oct22 BAQ  3.0              Amin          Castillo  3.0   9.0   9   9
33  24Sep22 MED  9.0               Nik            Juarez  9.0   4.0   6   6
34  21May22 BEL  8.0              Eric            Cancel  8.0   5.0   3   3
35   6Oct22 BAQ  2.0            Trevor          McCarthy  2.0   2.0   2   2

    3/4 Str  ... race_num                                           criteria  \
0     1   1  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
1     3   2  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
2     4   4  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
3     2   3  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
4     6   6  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
5     5   5  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
6     7   7  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
7   NaN   1  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
8   NaN   2  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
9   NaN   3  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
10  NaN   5  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
11  NaN   4  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
12  NaN   6  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
13  NaN   1  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
14  NaN   2  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
15  NaN   5  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
16  NaN   6  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
17  NaN   3  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
18  NaN   4  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
19  NaN   7  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
20  NaN   1  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
21  NaN   2  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
22  NaN   3  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
23  NaN   5  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
24  NaN   4  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
25  NaN   6  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
26  NaN   7  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
27    7   2  ...        5                             (UP TO $6,786 NYSBFOA)
28    2   3  ...        5                             (UP TO $6,786 NYSBFOA)
29    1   1  ...        5                             (UP TO $6,786 NYSBFOA)
30    4   4  ...        5                             (UP TO $6,786 NYSBFOA)
31    9   6  ...        5                             (UP TO $6,786 NYSBFOA)
32    8   5  ...        5                             (UP TO $6,786 NYSBFOA)
33    5   7  ...        5                             (UP TO $6,786 NYSBFOA)
34    3   8  ...        5                             (UP TO $6,786 NYSBFOA)
35    6   9  ...        5                             (UP TO $6,786 NYSBFOA)

                                track_length     purse weather track_type  \
0                       One Mile On The Dirt   $85,000   Clear       Fast
1                       One Mile On The Dirt   $85,000   Clear       Fast
2                       One Mile On The Dirt   $85,000   Clear       Fast
3                       One Mile On The Dirt   $85,000   Clear       Fast
4                       One Mile On The Dirt   $85,000   Clear       Fast
5                       One Mile On The Dirt   $85,000   Clear       Fast
6                       One Mile On The Dirt   $85,000   Clear       Fast
7                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
8                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
9                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
10                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
11                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
12                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
13            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
14            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
15            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
16            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
17            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
18            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
19            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
20                  Six Furlongs On The Dirt   $28,000   Clear       Fast
21                  Six Furlongs On The Dirt   $28,000   Clear       Fast
22                  Six Furlongs On The Dirt   $28,000   Clear       Fast
23                  Six Furlongs On The Dirt   $28,000   Clear       Fast
24                  Six Furlongs On The Dirt   $28,000   Clear       Fast
25                  Six Furlongs On The Dirt   $28,000   Clear       Fast
26                  Six Furlongs On The Dirt   $28,000   Clear       Fast
27   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
28   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
29   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
30   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
31   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
32   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
33   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
34   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
35   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm

   off_time                    start              race_type claiming_price
0     11:38  Good for all except 2,6  maiden special weight            NaN
1     11:38  Good for all except 2,6  maiden special weight            NaN
2     11:38  Good for all except 2,6  maiden special weight            NaN
3     11:38  Good for all except 2,6  maiden special weight            NaN
4     11:38  Good for all except 2,6  maiden special weight            NaN
5     11:38  Good for all except 2,6  maiden special weight            NaN
6     11:38  Good for all except 2,6  maiden special weight            NaN
7     12:16    Good for all except 2      starter allowance        $50,000
8     12:16    Good for all except 2      starter allowance        $50,000
9     12:16    Good for all except 2      starter allowance        $50,000
10    12:16    Good for all except 2      starter allowance        $50,000
11    12:16    Good for all except 2      starter allowance        $50,000
12    12:16    Good for all except 2      starter allowance        $50,000
13    12:50             Good for all     allowance claiming        $80,000
14    12:50             Good for all     allowance claiming        $80,000
15    12:50             Good for all     allowance claiming        $80,000
16    12:50             Good for all     allowance claiming        $80,000
17    12:50             Good for all     allowance claiming        $80,000
18    12:50             Good for all     allowance claiming        $80,000
19    12:50             Good for all     allowance claiming        $80,000
20     1:26             Good for all               claiming        $14,000
21     1:26             Good for all               claiming        $14,000
22     1:26             Good for all               claiming        $14,000
23     1:26             Good for all               claiming        $14,000
24     1:26             Good for all               claiming        $14,000
25     1:26             Good for all               claiming        $14,000
26     1:26             Good for all               claiming        $14,000
27     2:00    Good for all except 1               claiming    $30,000(15%
28     2:00    Good for all except 1               claiming    $30,000(15%
29     2:00    Good for all except 1               claiming    $30,000(15%
30     2:00    Good for all except 1               claiming    $30,000(15%
31     2:00    Good for all except 1               claiming    $30,000(15%
32     2:00    Good for all except 1               claiming    $30,000(15%
33     2:00    Good for all except 1               claiming    $30,000(15%
34     2:00    Good for all except 1               claiming    $30,000(15%
35     2:00    Good for all except 1               claiming    $30,000(15%

[36 rows x 45 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '6', 'criteria': 'FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN NEW YORK STATE AND APPROVED BY THE NEW YORK STATE-BRED REGISTRY', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$70,000', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '2:49', 'start': 'Good for all', 'race_type': 'maiden special weight'}

Looking for tables...
Found table top bound at 134.12199999999996
Found table bottom bound at 235.42199999999988
Looking for tables...
Found table top bound at 411.933

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 506.567
     Last Raced   Pgm jockey_first_name  jockey_last_name   PP Start 1/4 1/2  \
0    2Oct22 BAQ   7.0            Javier        Castellano  7.0   2.0   2   2
1           ---   1.0              Eric            Cancel  1.0   4.0   4   4
2           ---   4.0            Trevor          McCarthy  4.0   6.0   7   6
3    4Sep22 SAR   3.0          Kendrick         Carmouche  3.0   3.0   1   1
4           ---   5.0            Hector         Diaz  Jr.  5.0   5.0   6   7
5           ---   6.0              Omar  Hernandez Moreno  6.0   1.0   3   3
6           ---   2.0              Jose             Gomez  2.0   7.0   5   5
7    6Oct22 BAQ   6.0             Jorge       Vargas  Jr.  6.0   1.0   3   2
8    6Oct22 BAQ   4.0            Javier        Castellano  4.0   4.0   4   4
9   15Oct22 BAQ   1.0            Hector         Diaz  Jr.  1.0   2.0   2   3
10  30Sep22 BAQ   5.0            Trevor          McCarthy  5.0   5.0   6   5
11   8Jan22 AQU   3.0              Jose             Gomez  3.0   3.0   1   1
12  22Sep22 BAQ   2.0              Omar  Hernandez Moreno  2.0   6.0   5   6
13  18Sep22 BAQ   7.0               Nik            Juarez  7.0   1.0   1   1
14  29Sep22 BAQ   4.0            Javier        Castellano  4.0   6.0   7   4
15  29Sep22 BAQ   6.0               IRE                    6.0   5.0   6   5
16  12Oct22 PID   3.0              Jose             Gomez  3.0   4.0   5   7
17    1Sep22 KD   5.0          Kendrick         Carmouche  5.0   2.0   2   2
18   2Jul22 CHY   2.0                FR                    2.0   7.0   3   3
19   1Sep22 SAR   1.0              Eric            Cancel  1.0   3.0   4   6
20  28Aug22 SAR   1.0            Trevor          McCarthy  1.0   3.0   1   1
21  14Oct22 BAQ   4.0          Madeline           Rowland  4.0   7.0   6   2
22  13Oct22 BAQ   7.0              Omar  Hernandez Moreno  7.0   2.0   4   6
23   29Aug22 FL   5.0        Jacqueline             Davis  5.0   5.0   7   7
24  27Jul22 SAR   3.0          Kendrick         Carmouche  3.0   6.0   5   3
25   4Feb22 AQU   6.0              Jose             Gomez  6.0   1.0   3   4
26  13Oct22 BAQ   2.0              Amin          Castillo  2.0   4.0   2   5
27   2Sep22 SAR   7.0            Javier        Castellano  7.0   8.0   7   7
28  17Aug22 SAR   4.0              Jose             Gomez  4.0   1.0   4   4
29  23Sep22 BAQ   1.0          Kendrick         Carmouche  1.0   3.0   1   1
30   6Oct22 BAQ   6.0             Jorge       Vargas  Jr.  6.0   6.0   5   5
31    6May22 GP   5.0            Hector         Diaz  Jr.  5.0   7.0   8   8
32   6Oct22 BAQ   3.0              Amin          Castillo  3.0   9.0   9   9
33  24Sep22 MED   9.0               Nik            Juarez  9.0   4.0   6   6
34  21May22 BEL   8.0              Eric            Cancel  8.0   5.0   3   3
35   6Oct22 BAQ   2.0            Trevor          McCarthy  2.0   2.0   2   2
36  12Aug22 SAR   3.0            Javier        Castellano  NaN   1.0   2   1
37   1Oct22 BAQ   4.0          Kendrick         Carmouche  NaN   4.0   3   3
38   1Oct22 BAQ   9.0            Trevor          McCarthy  NaN   2.0   7   7
39          ---   7.0        Jacqueline             Davis  NaN   7.0   4   4
40   5Sep22 SAR   8.0            Hector         Diaz  Jr.  NaN   6.0   5   5
41  25Sep22 BAQ   2.0              Luis  Rodriguez Castro  NaN   3.0   1   2
42  17Sep22 BAQ   6.0              Jose             Gomez  NaN   5.0   6   6
43          ---  10.0             Jorge       Vargas  Jr.  NaN   8.0   8   8

    3/4 Str  ... race_num                                           criteria  \
0     1   1  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
1     3   2  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
2     4   4  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
3     2   3  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
4     6   6  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
5     5   5  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
6     7   7  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
7   NaN   1  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
8   NaN   2  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
9   NaN   3  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
10  NaN   5  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
11  NaN   4  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
12  NaN   6  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
13  NaN   1  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
14  NaN   2  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
15  NaN   5  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
16  NaN   6  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
17  NaN   3  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
18  NaN   4  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
19  NaN   7  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
20  NaN   1  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
21  NaN   2  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
22  NaN   3  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
23  NaN   5  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
24  NaN   4  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
25  NaN   6  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
26  NaN   7  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
27    7   2  ...        5                             (UP TO $6,786 NYSBFOA)
28    2   3  ...        5                             (UP TO $6,786 NYSBFOA)
29    1   1  ...        5                             (UP TO $6,786 NYSBFOA)
30    4   4  ...        5                             (UP TO $6,786 NYSBFOA)
31    9   6  ...        5                             (UP TO $6,786 NYSBFOA)
32    8   5  ...        5                             (UP TO $6,786 NYSBFOA)
33    5   7  ...        5                             (UP TO $6,786 NYSBFOA)
34    3   8  ...        5                             (UP TO $6,786 NYSBFOA)
35    6   9  ...        5                             (UP TO $6,786 NYSBFOA)
36  NaN   1  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
37  NaN   2  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
38  NaN   4  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
39  NaN   3  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
40  NaN   6  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
41  NaN   5  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
42  NaN   7  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
43  NaN   8  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...

                                track_length     purse weather track_type  \
0                       One Mile On The Dirt   $85,000   Clear       Fast
1                       One Mile On The Dirt   $85,000   Clear       Fast
2                       One Mile On The Dirt   $85,000   Clear       Fast
3                       One Mile On The Dirt   $85,000   Clear       Fast
4                       One Mile On The Dirt   $85,000   Clear       Fast
5                       One Mile On The Dirt   $85,000   Clear       Fast
6                       One Mile On The Dirt   $85,000   Clear       Fast
7                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
8                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
9                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
10                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
11                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
12                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
13            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
14            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
15            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
16            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
17            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
18            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
19            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
20                  Six Furlongs On The Dirt   $28,000   Clear       Fast
21                  Six Furlongs On The Dirt   $28,000   Clear       Fast
22                  Six Furlongs On The Dirt   $28,000   Clear       Fast
23                  Six Furlongs On The Dirt   $28,000   Clear       Fast
24                  Six Furlongs On The Dirt   $28,000   Clear       Fast
25                  Six Furlongs On The Dirt   $28,000   Clear       Fast
26                  Six Furlongs On The Dirt   $28,000   Clear       Fast
27   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
28   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
29   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
30   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
31   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
32   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
33   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
34   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
35   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
36                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
37                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
38                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
39                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
40                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
41                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
42                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
43                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast

   off_time                    start              race_type claiming_price
0     11:38  Good for all except 2,6  maiden special weight            NaN
1     11:38  Good for all except 2,6  maiden special weight            NaN
2     11:38  Good for all except 2,6  maiden special weight            NaN
3     11:38  Good for all except 2,6  maiden special weight            NaN
4     11:38  Good for all except 2,6  maiden special weight            NaN
5     11:38  Good for all except 2,6  maiden special weight            NaN
6     11:38  Good for all except 2,6  maiden special weight            NaN
7     12:16    Good for all except 2      starter allowance        $50,000
8     12:16    Good for all except 2      starter allowance        $50,000
9     12:16    Good for all except 2      starter allowance        $50,000
10    12:16    Good for all except 2      starter allowance        $50,000
11    12:16    Good for all except 2      starter allowance        $50,000
12    12:16    Good for all except 2      starter allowance        $50,000
13    12:50             Good for all     allowance claiming        $80,000
14    12:50             Good for all     allowance claiming        $80,000
15    12:50             Good for all     allowance claiming        $80,000
16    12:50             Good for all     allowance claiming        $80,000
17    12:50             Good for all     allowance claiming        $80,000
18    12:50             Good for all     allowance claiming        $80,000
19    12:50             Good for all     allowance claiming        $80,000
20     1:26             Good for all               claiming        $14,000
21     1:26             Good for all               claiming        $14,000
22     1:26             Good for all               claiming        $14,000
23     1:26             Good for all               claiming        $14,000
24     1:26             Good for all               claiming        $14,000
25     1:26             Good for all               claiming        $14,000
26     1:26             Good for all               claiming        $14,000
27     2:00    Good for all except 1               claiming    $30,000(15%
28     2:00    Good for all except 1               claiming    $30,000(15%
29     2:00    Good for all except 1               claiming    $30,000(15%
30     2:00    Good for all except 1               claiming    $30,000(15%
31     2:00    Good for all except 1               claiming    $30,000(15%
32     2:00    Good for all except 1               claiming    $30,000(15%
33     2:00    Good for all except 1               claiming    $30,000(15%
34     2:00    Good for all except 1               claiming    $30,000(15%
35     2:00    Good for all except 1               claiming    $30,000(15%
36     2:49             Good for all  maiden special weight            NaN
37     2:49             Good for all  maiden special weight            NaN
38     2:49             Good for all  maiden special weight            NaN
39     2:49             Good for all  maiden special weight            NaN
40     2:49             Good for all  maiden special weight            NaN
41     2:49             Good for all  maiden special weight            NaN
42     2:49             Good for all  maiden special weight            NaN
43     2:49             Good for all  maiden special weight            NaN

[44 rows x 45 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '7', 'criteria': 'OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES TWO YEARS OLD', 'track_length': ' Six Furlongs On The Outer turf', 'purse': '$85,000', 'weather': 'Cloudy', 'track_type': 'Firm', 'off_time': '3:26', 'start': 'Good for all', 'race_type': 'maiden special weight'}

Looking for tables...
Found table top bound at 131.9979999999999
Found table bottom bound at 253.29800000000006
Looking for tables...
Found table top bound at 471.183

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 595.817
     Last Raced   Pgm jockey_first_name  jockey_last_name    PP Start 1/4 1/2  \
0    2Oct22 BAQ   7.0            Javier        Castellano   7.0   2.0   2   2
1           ---   1.0              Eric            Cancel   1.0   4.0   4   4
2           ---   4.0            Trevor          McCarthy   4.0   6.0   7   6
3    4Sep22 SAR   3.0          Kendrick         Carmouche   3.0   3.0   1   1
4           ---   5.0            Hector         Diaz  Jr.   5.0   5.0   6   7
5           ---   6.0              Omar  Hernandez Moreno   6.0   1.0   3   3
6           ---   2.0              Jose             Gomez   2.0   7.0   5   5
7    6Oct22 BAQ   6.0             Jorge       Vargas  Jr.   6.0   1.0   3   2
8    6Oct22 BAQ   4.0            Javier        Castellano   4.0   4.0   4   4
9   15Oct22 BAQ   1.0            Hector         Diaz  Jr.   1.0   2.0   2   3
10  30Sep22 BAQ   5.0            Trevor          McCarthy   5.0   5.0   6   5
11   8Jan22 AQU   3.0              Jose             Gomez   3.0   3.0   1   1
12  22Sep22 BAQ   2.0              Omar  Hernandez Moreno   2.0   6.0   5   6
13  18Sep22 BAQ   7.0               Nik            Juarez   7.0   1.0   1   1
14  29Sep22 BAQ   4.0            Javier        Castellano   4.0   6.0   7   4
15  29Sep22 BAQ   6.0               IRE                     6.0   5.0   6   5
16  12Oct22 PID   3.0              Jose             Gomez   3.0   4.0   5   7
17    1Sep22 KD   5.0          Kendrick         Carmouche   5.0   2.0   2   2
18   2Jul22 CHY   2.0                FR                     2.0   7.0   3   3
19   1Sep22 SAR   1.0              Eric            Cancel   1.0   3.0   4   6
20  28Aug22 SAR   1.0            Trevor          McCarthy   1.0   3.0   1   1
21  14Oct22 BAQ   4.0          Madeline           Rowland   4.0   7.0   6   2
22  13Oct22 BAQ   7.0              Omar  Hernandez Moreno   7.0   2.0   4   6
23   29Aug22 FL   5.0        Jacqueline             Davis   5.0   5.0   7   7
24  27Jul22 SAR   3.0          Kendrick         Carmouche   3.0   6.0   5   3
25   4Feb22 AQU   6.0              Jose             Gomez   6.0   1.0   3   4
26  13Oct22 BAQ   2.0              Amin          Castillo   2.0   4.0   2   5
27   2Sep22 SAR   7.0            Javier        Castellano   7.0   8.0   7   7
28  17Aug22 SAR   4.0              Jose             Gomez   4.0   1.0   4   4
29  23Sep22 BAQ   1.0          Kendrick         Carmouche   1.0   3.0   1   1
30   6Oct22 BAQ   6.0             Jorge       Vargas  Jr.   6.0   6.0   5   5
31    6May22 GP   5.0            Hector         Diaz  Jr.   5.0   7.0   8   8
32   6Oct22 BAQ   3.0              Amin          Castillo   3.0   9.0   9   9
33  24Sep22 MED   9.0               Nik            Juarez   9.0   4.0   6   6
34  21May22 BEL   8.0              Eric            Cancel   8.0   5.0   3   3
35   6Oct22 BAQ   2.0            Trevor          McCarthy   2.0   2.0   2   2
36  12Aug22 SAR   3.0            Javier        Castellano   NaN   1.0   2   1
37   1Oct22 BAQ   4.0          Kendrick         Carmouche   NaN   4.0   3   3
38   1Oct22 BAQ   9.0            Trevor          McCarthy   NaN   2.0   7   7
39          ---   7.0        Jacqueline             Davis   NaN   7.0   4   4
40   5Sep22 SAR   8.0            Hector         Diaz  Jr.   NaN   6.0   5   5
41  25Sep22 BAQ   2.0              Luis  Rodriguez Castro   NaN   3.0   1   2
42  17Sep22 BAQ   6.0              Jose             Gomez   NaN   5.0   6   6
43          ---  10.0             Jorge       Vargas  Jr.   NaN   8.0   8   8
44  28Aug22 SAR   4.0            Javier        Castellano   2.0   8.0   5   2
45   8Oct22 BAQ  12.0             Jorge       Vargas  Jr.  10.0   2.0   6   5
46          ---   7.0               IRE                     5.0  10.0   9   8
47  14Oct22 BAQ   5.0               Nik            Juarez   3.0   4.0   1   1
48   8Oct22 BAQ   1.0            Hector         Diaz  Jr.   7.0   9.0  10  10
49   8Oct22 BAQ   6.0            Trevor          McCarthy   4.0   1.0   4   3
50   14Sep22 KD  11.0               IRE                     9.0   3.0   7   7
51          ---  13.0                GB                    11.0   7.0   8   6
52   8Oct22 BAQ  10.0              Omar  Hernandez Moreno   8.0   6.0   3   4
53   9Sep22 PIM   9.0                GB                     6.0   5.0   2   9
54  15Oct22 BAQ   2.0              Luis  Rodriguez Castro   1.0  11.0  11  11

    3/4 Str  ... race_num                                           criteria  \
0     1   1  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
1     3   2  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
2     4   4  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
3     2   3  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
4     6   6  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
5     5   5  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
6     7   7  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
7   NaN   1  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
8   NaN   2  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
9   NaN   3  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
10  NaN   5  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
11  NaN   4  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
12  NaN   6  ...        2  (UP TO $9,570 NYSBFOA) FOR THREE YEAR OLDS AND...
13  NaN   1  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
14  NaN   2  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
15  NaN   5  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
16  NaN   6  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
17  NaN   3  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
18  NaN   4  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
19  NaN   7  ...        3  OUTER TURF (UP TO $17,400 NYSBFOA) FOR FILLIES...
20  NaN   1  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
21  NaN   2  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
22  NaN   3  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
23  NaN   5  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
24  NaN   4  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
25  NaN   6  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
26  NaN   7  ...        4  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
27    7   2  ...        5                             (UP TO $6,786 NYSBFOA)
28    2   3  ...        5                             (UP TO $6,786 NYSBFOA)
29    1   1  ...        5                             (UP TO $6,786 NYSBFOA)
30    4   4  ...        5                             (UP TO $6,786 NYSBFOA)
31    9   6  ...        5                             (UP TO $6,786 NYSBFOA)
32    8   5  ...        5                             (UP TO $6,786 NYSBFOA)
33    5   7  ...        5                             (UP TO $6,786 NYSBFOA)
34    3   8  ...        5                             (UP TO $6,786 NYSBFOA)
35    6   9  ...        5                             (UP TO $6,786 NYSBFOA)
36  NaN   1  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
37  NaN   2  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
38  NaN   4  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
39  NaN   3  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
40  NaN   6  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
41  NaN   5  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
42  NaN   7  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
43  NaN   8  ...        6  FOR MAIDENS, FILLIES TWO YEARS OLD FOALED IN N...
44  NaN   1  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
45  NaN   3  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
46  NaN   5  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
47  NaN   2  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
48  NaN   9  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
49  NaN   4  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
50  NaN   6  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
51  NaN   7  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
52  NaN   8  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
53  NaN  10  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...
54  NaN  11  ...        7  OUTER TURF (UP TO $14,790 NYSBFOA) FOR MAIDENS...

                                track_length     purse weather track_type  \
0                       One Mile On The Dirt   $85,000   Clear       Fast
1                       One Mile On The Dirt   $85,000   Clear       Fast
2                       One Mile On The Dirt   $85,000   Clear       Fast
3                       One Mile On The Dirt   $85,000   Clear       Fast
4                       One Mile On The Dirt   $85,000   Clear       Fast
5                       One Mile On The Dirt   $85,000   Clear       Fast
6                       One Mile On The Dirt   $85,000   Clear       Fast
7                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
8                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
9                   Six Furlongs On The Dirt   $55,000  Cloudy       Fast
10                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
11                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
12                  Six Furlongs On The Dirt   $55,000  Cloudy       Fast
13            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
14            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
15            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
16            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
17            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
18            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
19            Six Furlongs On The Outer turf  $100,000    Hazy       Firm
20                  Six Furlongs On The Dirt   $28,000   Clear       Fast
21                  Six Furlongs On The Dirt   $28,000   Clear       Fast
22                  Six Furlongs On The Dirt   $28,000   Clear       Fast
23                  Six Furlongs On The Dirt   $28,000   Clear       Fast
24                  Six Furlongs On The Dirt   $28,000   Clear       Fast
25                  Six Furlongs On The Dirt   $28,000   Clear       Fast
26                  Six Furlongs On The Dirt   $28,000   Clear       Fast
27   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
28   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
29   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
30   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
31   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
32   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
33   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
34   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
35   One And One Sixteenth Miles On The Turf   $39,000  Cloudy       Firm
36                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
37                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
38                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
39                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
40                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
41                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
42                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
43                  Six Furlongs On The Dirt   $70,000  Cloudy       Fast
44            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
45            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
46            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
47            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
48            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
49            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
50            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
51            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
52            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
53            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm
54            Six Furlongs On The Outer turf   $85,000  Cloudy       Firm

   off_time                    start              race_type claiming_price
0     11:38  Good for all except 2,6  maiden special weight            NaN
1     11:38  Good for all except 2,6  maiden special weight            NaN
2     11:38  Good for all except 2,6  maiden special weight            NaN
3     11:38  Good for all except 2,6  maiden special weight            NaN
4     11:38  Good for all except 2,6  maiden special weight            NaN
5     11:38  Good for all except 2,6  maiden special weight            NaN
6     11:38  Good for all except 2,6  maiden special weight            NaN
7     12:16    Good for all except 2      starter allowance        $50,000
8     12:16    Good for all except 2      starter allowance        $50,000
9     12:16    Good for all except 2      starter allowance        $50,000
10    12:16    Good for all except 2      starter allowance        $50,000
11    12:16    Good for all except 2      starter allowance        $50,000
12    12:16    Good for all except 2      starter allowance        $50,000
13    12:50             Good for all     allowance claiming        $80,000
14    12:50             Good for all     allowance claiming        $80,000
15    12:50             Good for all     allowance claiming        $80,000
16    12:50             Good for all     allowance claiming        $80,000
17    12:50             Good for all     allowance claiming        $80,000
18    12:50             Good for all     allowance claiming        $80,000
19    12:50             Good for all     allowance claiming        $80,000
20     1:26             Good for all               claiming        $14,000
21     1:26             Good for all               claiming        $14,000
22     1:26             Good for all               claiming        $14,000
23     1:26             Good for all               claiming        $14,000
24     1:26             Good for all               claiming        $14,000
25     1:26             Good for all               claiming        $14,000
26     1:26             Good for all               claiming        $14,000
27     2:00    Good for all except 1               claiming    $30,000(15%
28     2:00    Good for all except 1               claiming    $30,000(15%
29     2:00    Good for all except 1               claiming    $30,000(15%
30     2:00    Good for all except 1               claiming    $30,000(15%
31     2:00    Good for all except 1               claiming    $30,000(15%
32     2:00    Good for all except 1               claiming    $30,000(15%
33     2:00    Good for all except 1               claiming    $30,000(15%
34     2:00    Good for all except 1               claiming    $30,000(15%
35     2:00    Good for all except 1               claiming    $30,000(15%
36     2:49             Good for all  maiden special weight            NaN
37     2:49             Good for all  maiden special weight            NaN
38     2:49             Good for all  maiden special weight            NaN
39     2:49             Good for all  maiden special weight            NaN
40     2:49             Good for all  maiden special weight            NaN
41     2:49             Good for all  maiden special weight            NaN
42     2:49             Good for all  maiden special weight            NaN
43     2:49             Good for all  maiden special weight            NaN
44     3:26             Good for all  maiden special weight            NaN
45     3:26             Good for all  maiden special weight            NaN
46     3:26             Good for all  maiden special weight            NaN
47     3:26             Good for all  maiden special weight            NaN
48     3:26             Good for all  maiden special weight            NaN
49     3:26             Good for all  maiden special weight            NaN
50     3:26             Good for all  maiden special weight            NaN
51     3:26             Good for all  maiden special weight            NaN
52     3:26             Good for all  maiden special weight            NaN
53     3:26             Good for all  maiden special weight            NaN
54     3:26             Good for all  maiden special weight            NaN

[55 rows x 45 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '8', 'criteria': 'FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD FOALED IN NEW YORK STATE AND APPROVED BY THE NEW YORK STATE-BRED REGISTRY WHICH HAVE NEVER WON $18,000 OTHER THAN MAIDEN, CLAIMING OR STARTER OR WHICH HAVE NEVER WON TWO RACES', 'track_length': ' One Mile On The Dirt', 'purse': '$75,000', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '4:06', 'start': 'Good for all', 'race_type': 'allowance'}

Looking for tables...
Found table top bound at 143.82999999999993
Found table bottom bound at 225.13
Looking for tables...
Found table top bound at 385.705

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AQU_11_04_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 478.983
    Last Raced  Pgm jockey_first_name  jockey_last_name   PP Start 1/4 1/2  \
0   2Oct22 BAQ  7.0            Javier        Castellano  7.0   2.0   2   2
1          ---  1.0              Eric            Cancel  1.0   4.0   4   4
2          ---  4.0            Trevor          McCarthy  4.0   6.0   7   6
3   4Sep22 SAR  3.0          Kendrick         Carmouche  3.0   3.0   1   1
4          ---  5.0            Hector         Diaz  Jr.  5.0   5.0   6   7
..         ...  ...               ...               ...  ...   ...  ..  ..
57  9Oct22 BAQ  6.0            Trevor          McCarthy  6.0   1.0   3   3
58  9Oct22 BAQ  2.0            Javier        Castellano  2.0   5.0   4   4
59  8Oct22 BAQ  4.0          Kendrick         Carmouche  4.0   4.0   5   5
60  9Oct22 BAQ  3.0              Jose             Gomez  3.0   7.0   7   7
61  19Oct22 FL  7.0              Luis  Rodriguez Castro  7.0   2.0   2   2

   3/4 Str  ... race_num                                           criteria  \
0    1   1  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
1    3   2  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
2    4   4  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
3    2   3  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
4    6   6  ...        1  (UP TO $14,790 NYSBFOA) FOR MAIDENS, FILLIES T...
..  ..  ..  ...      ...                                                ...
57   3   3  ...        8  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
58   5   4  ...        8  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
59   6   5  ...        8  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
60   7   7  ...        8  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...
61   4   6  ...        8  FOR FILLIES AND MARES THREE YEARS OLD AND UPWA...

             track_length    purse weather track_type off_time  \
0    One Mile On The Dirt  $85,000   Clear       Fast    11:38
1    One Mile On The Dirt  $85,000   Clear       Fast    11:38
2    One Mile On The Dirt  $85,000   Clear       Fast    11:38
3    One Mile On The Dirt  $85,000   Clear       Fast    11:38
4    One Mile On The Dirt  $85,000   Clear       Fast    11:38
..                    ...      ...     ...        ...      ...
57   One Mile On The Dirt  $75,000  Cloudy       Fast     4:06
58   One Mile On The Dirt  $75,000  Cloudy       Fast     4:06
59   One Mile On The Dirt  $75,000  Cloudy       Fast     4:06
60   One Mile On The Dirt  $75,000  Cloudy       Fast     4:06
61   One Mile On The Dirt  $75,000  Cloudy       Fast     4:06

                      start              race_type claiming_price
0   Good for all except 2,6  maiden special weight            NaN
1   Good for all except 2,6  maiden special weight            NaN
2   Good for all except 2,6  maiden special weight            NaN
3   Good for all except 2,6  maiden special weight            NaN
4   Good for all except 2,6  maiden special weight            NaN
..                      ...                    ...            ...
57             Good for all              allowance            NaN
58             Good for all              allowance            NaN
59             Good for all              allowance            NaN
60             Good for all              allowance            NaN
61             Good for all              allowance            NaN

[62 rows x 45 columns]
{'track': 'Aqueduct', 'date': 'November 4, 2022', 'race_num': '9', 'criteria': 'FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD', 'track_length': ' One And One Eighth Miles On The Dirt', 'purse': '$150,000', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '4:45', 'start': 'Good for all except 1', 'race_type': 'stakes'}
Looking for tables...
Found table top bound at 162.24599999999998
Found table bottom bound at 233.54599999999994
Looking for tables...
Found table top bound at 427.871
Found table bottom bound at 512.565

ValueError: You are trying to merge on float64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:
pdf_df

In [6]:
pdf_df.to_csv("ARAP.csv")