In [1]:
import race_results_scanner
import google_cloud_downloader as gcd
from PyPDF2 import PdfReader
import numpy as np
import pandas as pd
import os
import header_scanner as hs


pdf = "Error_PDFS/ARP_10_01_2022.pdf"
#pdf = "Example_PDFS/equibaseFile.pdf"

In [2]:
#Testing for page

page_list = race_results_scanner.get_page_list(pdf)
target_page = 3

page_list_index = 0
for page in page_list:
    if(target_page == page['page_num']):
        break
    page_list_index += 1
    
reader = PdfReader(pdf) #File to be scanned
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()

page = page_list[page_list_index]
header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
for field,value in header.items():
    print(field ,':', value)
result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan

The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

track :  ARAP <AHOE PARK
date :  October 1, 2022
race_num :  4
criteria :  FOR THREE YEAR OLDS AND UPWARD.
claiming_price :  $2,500.
track_length :  Claiming Price $2,500 Four And One Half Furlongs On The Dirt
purse :  $9,000
weather :  Cloudy
track_type :  Good
off_time :  2 16
start :  Good for all
track : Arapahoe Park
date : October 1, 2022
race_num : 4
criteria : FOR THREE YEAR OLDS AND UPWARD
claiming_price : $2,500
track_length :  Four And One Half Furlongs On The Dirt
purse : $9,000
weather : Cloudy
track_type : Good
off_time : 2:16
start : Good for all
race_type : claiming
Looking for tables...
Found table top bound at 125.12199999999996
Found table bottom bound at 216.42199999999988
Looking for tables...
Found table top bound at 430.772
Found table bottom bound at 531.842
     Last Raced  Unnamed: 0  Pgm               Horse Name (Jockey)    Wgt  \
0           2 4         NaN  NaN                               NaN    NaN
1    6Sep22 ARP         NaN  1.0    Getaloadofthis (Herrera, Hugo)  124.0
2           3 4         NaN  NaN                               NaN    NaN
3   19Sep22 ARP         NaN  5.0       Its a Deal (Cardoso, David)  120.0
4           5 3         NaN  NaN                               NaN    NaN
5   29Aug22 ARP         NaN  2.0        Cherubim (Aguilar, Daniel)  124.0
6           7 1         NaN  NaN                               NaN    NaN
7   19Sep22 ARP         NaN  8.0          Dryspell (Martin, David)  124.0
8           7 1         NaN  NaN                               NaN    NaN
9    5Sep22 ARP         NaN  6.0    All Shacked Up (Wales, Travis)  124.0
10          5 2         NaN  NaN                               NaN    NaN
11  29Aug22 ARP         NaN  3.0    Jack With Seven (Haar, Nathan)  124.0
12          4 1         NaN  NaN                               NaN    NaN
13  12Sep22 ARP         NaN  7.0  El Diablo Grande (Ramos, Adrian)  124.0
14          7 3         NaN  NaN                               NaN    NaN
15  19Sep22 ARP         NaN  4.0    Zcat's Chatain (Bethke, Scott)  124.0

      M/E   PP  Start    1/4    Str    Fin   Odds                Comments
0     NaN  NaN    NaN    1/2      2      7    NaN                     NaN
1   BL bf  1.0    1.0      1      1      1  0.70*  spd rail drew clr easy
2     NaN  NaN    NaN  1 1/2   Head  1 1/2    NaN                     NaN
3    BL f  5.0    3.0      2      3      2   3.40    chased 2pth 2nd best
4     NaN  NaN    NaN  1 1/2    1/2    3/4    NaN                     NaN
5      BL  2.0    5.0      6      6      3  29.80  perfect rail trip up 3
6     NaN  NaN    NaN  1 1/2  1 1/2   Head    NaN                     NaN
7   BL bf  8.0    4.0      4      4      4  18.50     3wide trip no rally
8     NaN  NaN    NaN   Head   Head      2    NaN                     NaN
9    BL b  6.0    2.0      3      2      5   9.60    chased tired stretch
10    NaN  NaN    NaN      2      2   Neck    NaN                     NaN
11   BL b  3.0    8.0      5      5      6   8.30    inside trip no rally
12    NaN  NaN    NaN      4      4  5 1/4    NaN                     NaN
13  BL bf  7.0    6.0      7      7      7   6.90  5-6 wide tired stretch
14    NaN  NaN    NaN    NaN    NaN    NaN    NaN                     NaN
15   BL b  4.0    7.0      8      8      8  31.30  lost path early traild

In [4]:
result_tables[1]

,Pgm,Horse Name,Start,1/4,Str,Fin,1/4_length_behind,Str_length_behind,Fin_length_behind
0,1.0,Getaloadofthis,1.0,1,1,1,1/2,2,7
1,5.0,Its a Deal,3.0,2,3,2,1/2,2,7
2,2.0,Cherubim,5.0,6,6,3,5 1/2,5 3/4,8 1/2
3,8.0,Dryspell,4.0,4,4,4,2,2 1/4,9 1/4
4,6.0,All Shacked Up,2.0,3,2,5,2,2,9 1/4
5,3.0,Jack With Seven,8.0,5,5,6,3 1/2,3 3/4,11 1/4
6,7.0,El Diablo Grande,6.0,7,7,7,7,6 1/4,11 1/2
7,4.0,Zcat's Chatain,7.0,8,8,8,11,10 1/4,16 3/4

In [ ]:
#Testing for whole pdf
master_df = pd.DataFrame()
page_list = race_results_scanner.get_page_list(pdf)
print(page_list)
    
reader = PdfReader(pdf) #File to be scanned
number_of_pages = len(reader.pages) #Number of pages
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()
i = 0
for page in page_list:
    header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
    print(header)
    result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan
                
    #Combine into page DF
    top_table = result_tables[0].astype(object)
    bottom_table = result_tables[1].astype(object)
    #Dropping horse name for merge
    bottom_table = bottom_table.drop("Horse Name", axis = 1)
    merged_df = top_table.join(bottom_table.set_index("Pgm"), on = "Pgm", rsuffix = "_RLP")
    for field,value in header.items():
        merged_df[field] = value
        #Changing all cols to object type 
        merged_df = merged_df.astype(object)
        #For every page df
    #Merge into master pdf df
    if(len(pdf_df) < 1):
        pdf_df = merged_df
    else:
        pdf_df = pd.merge(pdf_df, merged_df, how = 'outer')
            
    print(pdf_df)
    #Merging into master 
    #if(len(master_df) < 1):
     #   master_df = pdf_df
    #else:
    #    master_df = pd.merge(master_df,pdf_df, how = 'outer')

The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

[{'page_num': 0, 'horse_count': 6}, {'page_num': 1, 'horse_count': 7}, {'page_num': 2, 'horse_count': 6}, {'page_num': 3, 'horse_count': 8}, {'page_num': 4, 'horse_count': 6}, {'page_num': 5, 'horse_count': 5}, {'page_num': 6, 'horse_count': 6}, {'page_num': 7, 'horse_count': 6}, {'page_num': 8, 'horse_count': 9}]
track :  ARAPAHOE PARK
date :  October 1, 2022
race_num :  1
criteria :  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF THREE RACES LIFETIME.
track_length :  Older, 124 lbs. (NW3 L) Seven Furlongs On The Dirt
purse :  $9,800
weather :  Cloudy
track_type :  Muddy
off_time :  1 01
start :  Good for all
{'track': 'Arapahoe Park', 'date': 'October 1, 2022', 'race_num': '1', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF THREE RACES LIFETIME', 'track_length': ' Seven Furlongs On The Dirt', 'purse': '$9,800', 'weather': 'Cloudy', 'track_type': 'Muddy', 'off_time': '1:01', 'start': 'Good for all', 'race_type': 'allowance'}
Looking for tables...
Found table top bound at 125.53800000000001
Found table bottom bound at 206.83799999999997
Looking for tables...
Found table top bound at 358.89

The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 443.52400000000006
     Last Raced  Unnamed: 0  Pgm                Horse Name (Jockey)   Wgt M/E  \
0           1 3         NaN  NaN                                NaN       NaN
1   15Aug22 ARP         NaN  5.0         RB HASHTAG (Herrera, Hugo)    124 BL
2           1 2         NaN  NaN                                NaN       NaN
3   11Sep22 ARP         NaN  2.0   WMA SMOKE SIGNAL (Martin, David)  120 BL b
4           4 5         NaN  NaN                                NaN       NaN
5   25Sep22 ARP         NaN  4.0   UPTOWN RINGOFFIRE (Haar, Nathan)  124 BL b
6           1 1         NaN  NaN                                NaN       NaN
7   12Sep22 ARP         NaN  3.0            ROXY CS (Ramos, Adrian)  117 BL f
8           1 1         NaN  NaN                                NaN       NaN
9    8Aug22 ARP         NaN  6.0     RS JEWEL CROWN (Wales, Travis)  117 BL f
10          1 7         NaN  NaN                                NaN       NaN
11   7Aug22 ARP         NaN  1.0  AA RICH WHISKEY (Gonzalez, Pedro)  121 BL b

     PP  Start    1/4   1/2   Str     Fin   Odds               Comments
0   NaN    NaN      3     5     1   1 1/2    NaN                    NaN
1   5.0    2.0      2     2     1       1  1.70*  2pth spd pulled clear
2   NaN    NaN      1   NaN    12   2 1/4    NaN                    NaN
3   2.0    5.0      5     6     5       2   2.30   well back 2pth mv tr
4   NaN    NaN    NaN   1/2  Head   1 3/4    NaN                    NaN
5   4.0    4.0      6     5     3       3   2.80    3wide bid for third
6   NaN    NaN    1/2     1     1   2 1/2    NaN                    NaN
7   3.0    1.0      1     1     2       4   6.70       speed rail tired
8   NaN    NaN      2  Head  Head  21 1/2    NaN                    NaN
9   6.0    6.0      4     3     4       5   6.10    inside dropped back
10  NaN    NaN  2 1/2     1   NaN     NaN    NaN                    NaN
11  1.0    3.0      3     4     6       6  18.90  chased off rail tired
    Last Raced  Pgm jockey_first_name jockey_last_name   PP Start 1/4 1/2 Str  \
0  15Aug22 ARP  5.0              Hugo          Herrera  5.0   2.0   2   2   1
1  11Sep22 ARP  2.0             David           Martin  2.0   5.0   5   6   5
2  25Sep22 ARP  4.0            Nathan             Haar  4.0   4.0   6   5   3
3  12Sep22 ARP  3.0            Adrian            Ramos  3.0   1.0   1   1   2
4   8Aug22 ARP  6.0            Travis            Wales  6.0   6.0   4   3   4
5   7Aug22 ARP  1.0             Pedro         Gonzalez  1.0   3.0   3   4   6

  Fin  ...             date race_num  \
0   1  ...  October 1, 2022        1
1   2  ...  October 1, 2022        1
2   3  ...  October 1, 2022        1
3   4  ...  October 1, 2022        1
4   5  ...  October 1, 2022        1
5   6  ...  October 1, 2022        1

                                            criteria  \
0  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
1  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
2  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
3  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
4  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
5  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...

                  track_length   purse weather track_type off_time  \
0   Seven Furlongs On The Dirt  $9,800  Cloudy      Muddy     1:01
1   Seven Furlongs On The Dirt  $9,800  Cloudy      Muddy     1:01
2   Seven Furlongs On The Dirt  $9,800  Cloudy      Muddy     1:01
3   Seven Furlongs On The Dirt  $9,800  Cloudy      Muddy     1:01
4   Seven Furlongs On The Dirt  $9,800  Cloudy      Muddy     1:01
5   Seven Furlongs On The Dirt  $9,800  Cloudy      Muddy     1:01

          start  race_type
0  Good for all  allowance
1  Good for all  allowance
2  Good for all  allowance
3  Good for all  allowance
4  Good for all  allowance
5  Good for all  allowance

[6 rows x 40 columns]
track :  ARAPA [HOE PARK
date :  October 1, 2022
race_num :  2
criteria :  FOR MAIDENS, TWO YEARS OLD.
track_length :  Three Hundred Yards On The Dirt
purse :  $10,300
weather :  Cloudy
track_type :  Good
off_time :  1 26
start :  Good for all
{'track': 'Arapahoe Park', 'date': 'October 1, 2022', 'race_num': '2', 'criteria': 'FOR MAIDENS, TWO YEARS OLD', 'track_length': ' Three Hundred Yards On The Dirt', 'purse': '$10,300', 'weather': 'Cloudy', 'track_type': 'Good', 'off_time': '1:26', 'start': 'Good for all', 'race_type': 'maiden'}
Looking for tables...
Found table top bound at 124.7299999999999
Found table bottom bound at 215.13
Looking for tables...
Found table top bound at 341.305

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 434.5830000000001
        Last Raced  Unnamed: 0  Pgm               Horse Name (Jockey)  \
0              3 7         NaN  NaN                               NaN
1      18Sep22 ARP         NaN  7.0    Ocean Katumi (Morales, Adrian)
2              1 6         NaN  NaN                               NaN
3       4Sep22 ARP         NaN  2.0          Malala (Lazalde, Martin)
4              5 8         NaN  NaN                               NaN
5      18Sep22 ARP         NaN  1.0        Nikkis Chick (Lopez, Jose)
6              6 6         NaN  NaN                               NaN
7      28Aug22 ARP         NaN  4.0           My Baby (Soto, Jhaciel)
8              4 8         NaN  NaN                               NaN
9      14Aug22 ARP         NaN  3.0   Ms Alexadria (Beverly Jr., Ron)
10             3 8         NaN  NaN                               NaN
11     18Sep22 ARP         NaN  6.0   See the Catrin (Hernandez, Rey)
12             ---         NaN  5.0  Excited Chrome (Gonzalez, Pedro)
13  Run-Up: 0 feet         NaN  NaN                               NaN

      Wgt M/E   PP  Start   Str    Fin   Odds  Ind. Time  Sp. In.  \
0         NaN  NaN    NaN  Neck    1/2    NaN        NaN      NaN
1    124 BL b  7.0    1.0     1      1   4.90     16.169     79.0
2         NaN  NaN    NaN  Neck    1/2    NaN        NaN      NaN
3    124 BL b  2.0    3.0     2      2   4.70     16.253     76.0
4         NaN  NaN    NaN   1/2    3/4    NaN        NaN      NaN
5   124 BL bk  1.0    2.0     3      3   2.50     16.343     73.0
6         NaN  NaN    NaN   1/2    1/2    NaN        NaN      NaN
7   124 BL bk  4.0    4.0     4      4  1.40*     16.478     69.0
8         NaN  NaN    NaN     1  1 1/2    NaN        NaN      NaN
9    124 BL b  3.0    6.0     5      5  23.20     16.573     65.0
10        NaN  NaN    NaN     1  1 1/4    NaN        NaN      NaN
11   124 BL b  6.0    5.0     6      6   7.60     16.840     57.0
12   124 BL b  5.0    7.0     7      7  20.50     17.064     49.0
13        NaN  NaN    NaN   NaN    NaN    NaN        NaN      NaN

                Comments
0                    NaN
1        drifted in best
2                    NaN
3         broke outwards
4                    NaN
5   broke in good effort
6                    NaN
7        broke in bumped
8                    NaN
9         in tight early
10                   NaN
11           even effort
12        away step slow
13                   NaN
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  1/2  \
0   15Aug22 ARP  5.0              Hugo          Herrera  5.0   2.0    2    2
1   11Sep22 ARP  2.0             David           Martin  2.0   5.0    5    6
2   25Sep22 ARP  4.0            Nathan             Haar  4.0   4.0    6    5
3   12Sep22 ARP  3.0            Adrian            Ramos  3.0   1.0    1    1
4    8Aug22 ARP  6.0            Travis            Wales  6.0   6.0    4    3
5    7Aug22 ARP  1.0             Pedro         Gonzalez  1.0   3.0    3    4
6   18Sep22 ARP  7.0            Adrian          Morales  7.0   1.0  NaN  NaN
7    4Sep22 ARP  2.0            Martin          Lazalde  2.0   3.0  NaN  NaN
8   18Sep22 ARP  1.0              Jose            Lopez  1.0   2.0  NaN  NaN
9   28Aug22 ARP  4.0           Jhaciel             Soto  4.0   4.0  NaN  NaN
10  14Aug22 ARP  3.0               Ron      Beverly Jr.  3.0   6.0  NaN  NaN
11  18Sep22 ARP  6.0               Rey        Hernandez  6.0   5.0  NaN  NaN
12          ---  5.0             Pedro         Gonzalez  5.0   7.0  NaN  NaN

   Str Fin  ...                                           criteria  \
0    1   1  ...  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
1    5   2  ...  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
2    3   3  ...  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
3    2   4  ...  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
4    4   5  ...  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
5    6   6  ...  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF ...
6    1   1  ...                         FOR MAIDENS, TWO YEARS OLD
7    2   2  ...                         FOR MAIDENS, TWO YEARS OLD
8    3   3  ...                         FOR MAIDENS, TWO YEARS OLD
9    4   4  ...                         FOR MAIDENS, TWO YEARS OLD
10   5   5  ...                         FOR MAIDENS, TWO YEARS OLD
11   6   6  ...                         FOR MAIDENS, TWO YEARS OLD
12   7   7  ...                         FOR MAIDENS, TWO YEARS OLD

                        track_length    purse weather track_type off_time  \
0         Seven Furlongs On The Dirt   $9,800  Cloudy      Muddy     1:01
1         Seven Furlongs On The Dirt   $9,800  Cloudy      Muddy     1:01
2         Seven Furlongs On The Dirt   $9,800  Cloudy      Muddy     1:01
3         Seven Furlongs On The Dirt   $9,800  Cloudy      Muddy     1:01
4         Seven Furlongs On The Dirt   $9,800  Cloudy      Muddy     1:01
5         Seven Furlongs On The Dirt   $9,800  Cloudy      Muddy     1:01
6    Three Hundred Yards On The Dirt  $10,300  Cloudy       Good     1:26
7    Three Hundred Yards On The Dirt  $10,300  Cloudy       Good     1:26
8    Three Hundred Yards On The Dirt  $10,300  Cloudy       Good     1:26
9    Three Hundred Yards On The Dirt  $10,300  Cloudy       Good     1:26
10   Three Hundred Yards On The Dirt  $10,300  Cloudy       Good     1:26
11   Three Hundred Yards On The Dirt  $10,300  Cloudy       Good     1:26
12   Three Hundred Yards On The Dirt  $10,300  Cloudy       Good     1:26

           start  race_type Ind. Time Sp. In.
0   Good for all  allowance       NaN     NaN
1   Good for all  allowance       NaN     NaN
2   Good for all  allowance       NaN     NaN
3   Good for all  allowance       NaN     NaN
4   Good for all  allowance       NaN     NaN
5   Good for all  allowance       NaN     NaN
6   Good for all     maiden    16.169    79.0
7   Good for all     maiden    16.253    76.0
8   Good for all     maiden    16.343    73.0
9   Good for all     maiden    16.478    69.0
10  Good for all     maiden    16.573    65.0
11  Good for all     maiden     16.84    57.0
12  Good for all     maiden    17.064    49.0

[13 rows x 42 columns]
track :  AR ?APAHOE PARK
date :  October 1, 2022
race_num :  3
criteria :  FOR TWO YEAR OLDS.
track_length :  Four Hundred Yards On The Dirt
purse :  $17,500
weather :  Cloudy
track_type :  Good
off_time :  1 51
start :  Good for all
{'track': 'Arapahoe Park', 'date': 'October 1, 2022', 'race_num': '3', 'criteria': 'FOR TWO YEAR OLDS', 'track_length': ' Four Hundred Yards On The Dirt', 'purse': '$17,500', 'weather': 'Cloudy', 'track_type': 'Good', 'off_time': '1:51', 'start': 'Good for all', 'race_type': 'allowance'}
Looking for tables...
Found table top bound at 125.43799999999999
Found table bottom bound at 195.83799999999997
Looking for tables...
Found table top bound at 325.63800000000003

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 408.1240000000001
     Last Raced  Unnamed: 0  Pgm                   Horse Name (Jockey)  \
0           3 3         NaN  NaN                                   NaN
1   18Sep22 ARP         NaN  1.0        Sweet City Woman (Lopez, Jose)
2           5 6         NaN  NaN                                   NaN
3   18Sep22 ARP         NaN  4.0            Ram Dash (Morales, Adrian)
4           4 6         NaN  NaN                                   NaN
5   18Sep22 ARP         NaN  6.0  See the Inolvidable (Hernandez, Rey)
6           4 4         NaN  NaN                                   NaN
7   18Sep22 ARP         NaN  3.0    A Mini Secret (Montalvo, Genovero)
8           3 6         NaN  NaN                                   NaN
9   18Sep22 ARP         NaN  5.0        Political Gift (Soto, Jhaciel)
10          3 4         NaN  NaN                                   NaN
11  18Sep22 ARP         NaN  2.0    Tf Im That Chick (Lazalde, Martin)

    Wgt M/E PP  Unnamed: 1  Start Str 1   Str    Fin   Odds  Ind. Time  \
0          NaN         NaN    NaN  Neck   1/2    3/4    NaN        NaN
1    124 BL bf         1.0    1.0     1     1      1  0.80*     20.810
2          NaN         NaN    NaN  Neck   3/4  1 1/2    NaN        NaN
3   124 BL bfk         4.0    2.0     2     2      2   1.00     20.920
4          NaN         NaN    NaN     1     2   Head    NaN        NaN
5     124 BL b         6.0    4.0     4     4      3  22.20     21.159
6          NaN         NaN    NaN  Neck  Head  2 1/2    NaN        NaN
7     124 BL f         3.0    3.0     3     3      4   8.70     21.182
8          NaN         NaN    NaN     3     4  5 3/4    NaN        NaN
9   124 BL bfk         5.0    5.0     5     5      5  26.00     21.599
10         NaN         NaN    NaN   NaN   NaN    NaN    NaN        NaN
11   124 BL bf         2.0    6.0     6     6      6  27.10     22.531

    Sp. In.            Comments
0       NaN                 NaN
1      77.0      broke best edg
2       NaN                 NaN
3      74.0       chased 2nd be
4       NaN                 NaN
5      68.0  drift in up for th
6       NaN                 NaN
7      67.0      away well fade
8       NaN                 NaN
9      57.0       broke in bump
10      NaN                 NaN
11     33.0      away slow lost
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  1/2  \
0   15Aug22 ARP  5.0              Hugo          Herrera  5.0   2.0    2    2
1   11Sep22 ARP  2.0             David           Martin  2.0   5.0    5    6
2   25Sep22 ARP  4.0            Nathan             Haar  4.0   4.0    6    5
3   12Sep22 ARP  3.0            Adrian            Ramos  3.0   1.0    1    1
4    8Aug22 ARP  6.0            Travis            Wales  6.0   6.0    4    3
5    7Aug22 ARP  1.0             Pedro         Gonzalez  1.0   3.0    3    4
6   18Sep22 ARP  7.0            Adrian          Morales  7.0   1.0  NaN  NaN
7    4Sep22 ARP  2.0            Martin          Lazalde  2.0   3.0  NaN  NaN
8   18Sep22 ARP  1.0              Jose            Lopez  1.0   2.0  NaN  NaN
9   28Aug22 ARP  4.0           Jhaciel             Soto  4.0   4.0  NaN  NaN
10  14Aug22 ARP  3.0               Ron      Beverly Jr.  3.0   6.0  NaN  NaN
11  18Sep22 ARP  6.0               Rey        Hernandez  6.0   5.0  NaN  NaN
12          ---  5.0             Pedro         Gonzalez  5.0   7.0  NaN  NaN
13  18Sep22 ARP  1.0              Jose            Lopez  NaN   1.0  NaN  NaN
14  18Sep22 ARP  4.0            Adrian          Morales  NaN   2.0  NaN  NaN
15  18Sep22 ARP  6.0               Rey        Hernandez  NaN   4.0  NaN  NaN
16  18Sep22 ARP  3.0          Genovero         Montalvo  NaN   3.0  NaN  NaN
17  18Sep22 ARP  5.0           Jhaciel             Soto  NaN   5.0  NaN  NaN
18  18Sep22 ARP  2.0            Martin          Lazalde  NaN   6.0  NaN  NaN

   Str Fin  ... track_type off_time         start  race_type Ind. Time  \
0    1   1  ...      Muddy     1:01  Good for all  allowance       NaN
1    5   2  ...      Muddy     1:01  Good for all  allowance       NaN
2    3   3  ...      Muddy     1:01  Good for all  allowance       NaN
3    2   4  ...      Muddy     1:01  Good for all  allowance       NaN
4    4   5  ...      Muddy     1:01  Good for all  allowance       NaN
5    6   6  ...      Muddy     1:01  Good for all  allowance       NaN
6    1   1  ...       Good     1:26  Good for all     maiden    16.169
7    2   2  ...       Good     1:26  Good for all     maiden    16.253
8    3   3  ...       Good     1:26  Good for all     maiden    16.343
9    4   4  ...       Good     1:26  Good for all     maiden    16.478
10   5   5  ...       Good     1:26  Good for all     maiden    16.573
11   6   6  ...       Good     1:26  Good for all     maiden     16.84
12   7   7  ...       Good     1:26  Good for all     maiden    17.064
13   1   1  ...       Good     1:51  Good for all  allowance     20.81
14   2   2  ...       Good     1:51  Good for all  allowance     20.92
15   4   3  ...       Good     1:51  Good for all  allowance    21.159
16   3   4  ...       Good     1:51  Good for all  allowance    21.182
17   5   5  ...       Good     1:51  Good for all  allowance    21.599
18   6   6  ...       Good     1:51  Good for all  allowance    22.531

   Sp. In. Str 1 Str 1_length_behind Str 1_RLP Str 1_length_behind_RLP
0      NaN   NaN                 NaN       NaN                     NaN
1      NaN   NaN                 NaN       NaN                     NaN
2      NaN   NaN                 NaN       NaN                     NaN
3      NaN   NaN                 NaN       NaN                     NaN
4      NaN   NaN                 NaN       NaN                     NaN
5      NaN   NaN                 NaN       NaN                     NaN
6     79.0   NaN                 NaN       NaN                     NaN
7     76.0   NaN                 NaN       NaN                     NaN
8     73.0   NaN                 NaN       NaN                     NaN
9     69.0   NaN                 NaN       NaN                     NaN
10    65.0   NaN                 NaN       NaN                     NaN
11    57.0   NaN                 NaN       NaN                     NaN
12    49.0   NaN                 NaN       NaN                     NaN
13    77.0     1                Neck       NaN                     NaN
14    74.0     2                Neck       NaN                     NaN
15    68.0     4                   1       NaN                     NaN
16    67.0     3                Neck       NaN                     NaN
17    57.0     5                   3       NaN                     NaN
18    33.0     6                 NaN       NaN                     NaN

[19 rows x 46 columns]
track :  ARAP <AHOE PARK
date :  October 1, 2022
race_num :  4
criteria :  FOR THREE YEAR OLDS AND UPWARD.
claiming_price :  $2,500.
track_length :  Claiming Price $2,500 Four And One Half Furlongs On The Dirt
purse :  $9,000
weather :  Cloudy
track_type :  Good
off_time :  2 16
start :  Good for all
{'track': 'Arapahoe Park', 'date': 'October 1, 2022', 'race_num': '4', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD', 'claiming_price': '$2,500', 'track_length': ' Four And One Half Furlongs On The Dirt', 'purse': '$9,000', 'weather': 'Cloudy', 'track_type': 'Good', 'off_time': '2:16', 'start': 'Good for all', 'race_type': 'claiming'}
Looking for tables...
Found table top bound at 125.12199999999996
Found table bottom bound at 216.42199999999988
Looking for tables...
Found table top bound at 430.772

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 531.842
     Last Raced  Unnamed: 0  Pgm               Horse Name (Jockey)    Wgt  \
0           2 4         NaN  NaN                               NaN    NaN
1    6Sep22 ARP         NaN  1.0    Getaloadofthis (Herrera, Hugo)  124.0
2           3 4         NaN  NaN                               NaN    NaN
3   19Sep22 ARP         NaN  5.0       Its a Deal (Cardoso, David)  120.0
4           5 3         NaN  NaN                               NaN    NaN
5   29Aug22 ARP         NaN  2.0        Cherubim (Aguilar, Daniel)  124.0
6           7 1         NaN  NaN                               NaN    NaN
7   19Sep22 ARP         NaN  8.0          Dryspell (Martin, David)  124.0
8           7 1         NaN  NaN                               NaN    NaN
9    5Sep22 ARP         NaN  6.0    All Shacked Up (Wales, Travis)  124.0
10          5 2         NaN  NaN                               NaN    NaN
11  29Aug22 ARP         NaN  3.0    Jack With Seven (Haar, Nathan)  124.0
12          4 1         NaN  NaN                               NaN    NaN
13  12Sep22 ARP         NaN  7.0  El Diablo Grande (Ramos, Adrian)  124.0
14          7 3         NaN  NaN                               NaN    NaN
15  19Sep22 ARP         NaN  4.0    Zcat's Chatain (Bethke, Scott)  124.0

      M/E   PP  Start    1/4    Str    Fin   Odds                Comments
0     NaN  NaN    NaN    1/2      2      7    NaN                     NaN
1   BL bf  1.0    1.0      1      1      1  0.70*  spd rail drew clr easy
2     NaN  NaN    NaN  1 1/2   Head  1 1/2    NaN                     NaN
3    BL f  5.0    3.0      2      3      2   3.40    chased 2pth 2nd best
4     NaN  NaN    NaN  1 1/2    1/2    3/4    NaN                     NaN
5      BL  2.0    5.0      6      6      3  29.80  perfect rail trip up 3
6     NaN  NaN    NaN  1 1/2  1 1/2   Head    NaN                     NaN
7   BL bf  8.0    4.0      4      4      4  18.50     3wide trip no rally
8     NaN  NaN    NaN   Head   Head      2    NaN                     NaN
9    BL b  6.0    2.0      3      2      5   9.60    chased tired stretch
10    NaN  NaN    NaN      2      2   Neck    NaN                     NaN
11   BL b  3.0    8.0      5      5      6   8.30    inside trip no rally
12    NaN  NaN    NaN      4      4  5 1/4    NaN                     NaN
13  BL bf  7.0    6.0      7      7      7   6.90  5-6 wide tired stretch
14    NaN  NaN    NaN    NaN    NaN    NaN    NaN                     NaN
15   BL b  4.0    7.0      8      8      8  31.30  lost path early traild
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  1/2  \
0   15Aug22 ARP  5.0              Hugo          Herrera  5.0   2.0    2    2
1   11Sep22 ARP  2.0             David           Martin  2.0   5.0    5    6
2   25Sep22 ARP  4.0            Nathan             Haar  4.0   4.0    6    5
3   12Sep22 ARP  3.0            Adrian            Ramos  3.0   1.0    1    1
4    8Aug22 ARP  6.0            Travis            Wales  6.0   6.0    4    3
5    7Aug22 ARP  1.0             Pedro         Gonzalez  1.0   3.0    3    4
6   18Sep22 ARP  7.0            Adrian          Morales  7.0   1.0  NaN  NaN
7    4Sep22 ARP  2.0            Martin          Lazalde  2.0   3.0  NaN  NaN
8   18Sep22 ARP  1.0              Jose            Lopez  1.0   2.0  NaN  NaN
9   28Aug22 ARP  4.0           Jhaciel             Soto  4.0   4.0  NaN  NaN
10  14Aug22 ARP  3.0               Ron      Beverly Jr.  3.0   6.0  NaN  NaN
11  18Sep22 ARP  6.0               Rey        Hernandez  6.0   5.0  NaN  NaN
12          ---  5.0             Pedro         Gonzalez  5.0   7.0  NaN  NaN
13  18Sep22 ARP  1.0              Jose            Lopez  NaN   1.0  NaN  NaN
14  18Sep22 ARP  4.0            Adrian          Morales  NaN   2.0  NaN  NaN
15  18Sep22 ARP  6.0               Rey        Hernandez  NaN   4.0  NaN  NaN
16  18Sep22 ARP  3.0          Genovero         Montalvo  NaN   3.0  NaN  NaN
17  18Sep22 ARP  5.0           Jhaciel             Soto  NaN   5.0  NaN  NaN
18  18Sep22 ARP  2.0            Martin          Lazalde  NaN   6.0  NaN  NaN
19   6Sep22 ARP  1.0              Hugo          Herrera  1.0   1.0    1  NaN
20  19Sep22 ARP  5.0             David          Cardoso  5.0   3.0    2  NaN
21  29Aug22 ARP  2.0            Daniel          Aguilar  2.0   5.0    6  NaN
22  19Sep22 ARP  8.0             David           Martin  8.0   4.0    4  NaN
23   5Sep22 ARP  6.0            Travis            Wales  6.0   2.0    3  NaN
24  29Aug22 ARP  3.0            Nathan             Haar  3.0   8.0    5  NaN
25  12Sep22 ARP  7.0            Adrian            Ramos  7.0   6.0    7  NaN
26  19Sep22 ARP  4.0             Scott           Bethke  4.0   7.0    8  NaN

   Str Fin  ... off_time         start  race_type Ind. Time Sp. In. Str 1  \
0    1   1  ...     1:01  Good for all  allowance       NaN     NaN   NaN
1    5   2  ...     1:01  Good for all  allowance       NaN     NaN   NaN
2    3   3  ...     1:01  Good for all  allowance       NaN     NaN   NaN
3    2   4  ...     1:01  Good for all  allowance       NaN     NaN   NaN
4    4   5  ...     1:01  Good for all  allowance       NaN     NaN   NaN
5    6   6  ...     1:01  Good for all  allowance       NaN     NaN   NaN
6    1   1  ...     1:26  Good for all     maiden    16.169    79.0   NaN
7    2   2  ...     1:26  Good for all     maiden    16.253    76.0   NaN
8    3   3  ...     1:26  Good for all     maiden    16.343    73.0   NaN
9    4   4  ...     1:26  Good for all     maiden    16.478    69.0   NaN
10   5   5  ...     1:26  Good for all     maiden    16.573    65.0   NaN
11   6   6  ...     1:26  Good for all     maiden     16.84    57.0   NaN
12   7   7  ...     1:26  Good for all     maiden    17.064    49.0   NaN
13   1   1  ...     1:51  Good for all  allowance     20.81    77.0     1
14   2   2  ...     1:51  Good for all  allowance     20.92    74.0     2
15   4   3  ...     1:51  Good for all  allowance    21.159    68.0     4
16   3   4  ...     1:51  Good for all  allowance    21.182    67.0     3
17   5   5  ...     1:51  Good for all  allowance    21.599    57.0     5
18   6   6  ...     1:51  Good for all  allowance    22.531    33.0     6
19   1   1  ...     2:16  Good for all   claiming       NaN     NaN   NaN
20   3   2  ...     2:16  Good for all   claiming       NaN     NaN   NaN
21   6   3  ...     2:16  Good for all   claiming       NaN     NaN   NaN
22   4   4  ...     2:16  Good for all   claiming       NaN     NaN   NaN
23   2   5  ...     2:16  Good for all   claiming       NaN     NaN   NaN
24   5   6  ...     2:16  Good for all   claiming       NaN     NaN   NaN
25   7   7  ...     2:16  Good for all   claiming       NaN     NaN   NaN
26   8   8  ...     2:16  Good for all   claiming       NaN     NaN   NaN

   Str 1_length_behind Str 1_RLP Str 1_length_behind_RLP claiming_price
0                  NaN       NaN                     NaN            NaN
1                  NaN       NaN                     NaN            NaN
2                  NaN       NaN                     NaN            NaN
3                  NaN       NaN                     NaN            NaN
4                  NaN       NaN                     NaN            NaN
5                  NaN       NaN                     NaN            NaN
6                  NaN       NaN                     NaN            NaN
7                  NaN       NaN                     NaN            NaN
8                  NaN       NaN                     NaN            NaN
9                  NaN       NaN                     NaN            NaN
10                 NaN       NaN                     NaN            NaN
11                 NaN       NaN                     NaN            NaN
12                 NaN       NaN                     NaN            NaN
13                Neck       NaN                     NaN            NaN
14                Neck       NaN                     NaN            NaN
15                   1       NaN                     NaN            NaN
16                Neck       NaN                     NaN            NaN
17                   3       NaN                     NaN            NaN
18                 NaN       NaN                     NaN            NaN
19                 NaN       NaN                     NaN         $2,500
20                 NaN       NaN                     NaN         $2,500
21                 NaN       NaN                     NaN         $2,500
22                 NaN       NaN                     NaN         $2,500
23                 NaN       NaN                     NaN         $2,500
24                 NaN       NaN                     NaN         $2,500
25                 NaN       NaN                     NaN         $2,500
26                 NaN       NaN                     NaN         $2,500

[27 rows x 47 columns]
track :  ARAPAH /OE PARK
date :  October 1, 2022
race_num :  5
criteria :  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF THREE RACES IN 2022.
claiming_price :  $5,000.
track_length :  ( N W3 9 M) Claiming Price $5,000 Five Furlongs On The Dirt
purse :  $10,800
weather :  Showery
track_type :  Good
off_time :  2 41
start :  Good for all
{'track': 'Arapahoe Park', 'date': 'October 1, 2022', 'race_num': '5', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF THREE RACES IN 2022', 'claiming_price': '$5,000', 'track_length': ' Five Furlongs On The Dirt', 'purse': '$10,800', 'weather': 'Showery', 'track_type': 'Good', 'off_time': '2:41', 'start': 'Good for all', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 116.53800000000001
Found table bottom bound at 197.83799999999997
Looking for tables...
Found table top bound at 411.1650000000001

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 495.799
     Last Raced  Unnamed: 0  Pgm                  Horse Name (Jockey)  \
0           9 5         NaN  NaN                                  NaN
1   19Sep22 ARP         NaN  6.0           Three Ball (Wales, Travis)
2           4 1         NaN  NaN                                  NaN
3   20Sep22 ARP         NaN  4.0             Preacher (Ramos, Adrian)
4           6 2         NaN  NaN                                  NaN
5   12Sep22 ARP         NaN  2.0        Cougar Country (Haar, Nathan)
6           4 2         NaN  NaN                                  NaN
7   23Aug22 ARP         NaN  3.0        Gee Whiz Who (Cardoso, David)
8           6 1         NaN  NaN                                  NaN
9   12Sep22 ARP         NaN  1.0         Most Amusing (Herrera, Hugo)
10          8 6         NaN  NaN                                  NaN
11   6Sep22 ARP         NaN  5.0  West Coast Broker (Gonzalez, Pedro)

     Wgt M/E   PP  Start  3/16   3/8   Str    Fin   Odds              Comments
0        NaN  NaN    NaN     3     8     2    1/2    NaN                   NaN
1     124 BL  6.0    5.0     5     5     4      1   9.20    4wd mv trn up late
2        NaN  NaN    NaN     2   1/2   1/2   Neck    NaN                   NaN
3   124 BL b  4.0    4.0     4     3     3      2  0.60*  4pth spd outfinished
4        NaN  NaN    NaN  Head   1/2  Head    1/2    NaN                   NaN
5   124 BL b  2.0    1.0     2     2     1      3   2.60  2pth spd outfinished
6        NaN  NaN    NaN   1/2     1     8      1    NaN                   NaN
7   124 BL f  3.0    2.0     3     4     5      4  14.60     3pth dropped back
8        NaN  NaN    NaN  Head  Head  Head  8 1/4    NaN                   NaN
9   124 BL b  1.0    3.0     1     1     2      5   5.60  ins speed drop bck s
10       NaN  NaN    NaN   NaN   NaN   NaN    NaN    NaN                   NaN
11  124 BL b  5.0    6.0     6     6     6      6  28.30  dropped back trailed
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  1/2  \
0   15Aug22 ARP  5.0              Hugo          Herrera  5.0   2.0    2    2
1   11Sep22 ARP  2.0             David           Martin  2.0   5.0    5    6
2   25Sep22 ARP  4.0            Nathan             Haar  4.0   4.0    6    5
3   12Sep22 ARP  3.0            Adrian            Ramos  3.0   1.0    1    1
4    8Aug22 ARP  6.0            Travis            Wales  6.0   6.0    4    3
5    7Aug22 ARP  1.0             Pedro         Gonzalez  1.0   3.0    3    4
6   18Sep22 ARP  7.0            Adrian          Morales  7.0   1.0  NaN  NaN
7    4Sep22 ARP  2.0            Martin          Lazalde  2.0   3.0  NaN  NaN
8   18Sep22 ARP  1.0              Jose            Lopez  1.0   2.0  NaN  NaN
9   28Aug22 ARP  4.0           Jhaciel             Soto  4.0   4.0  NaN  NaN
10  14Aug22 ARP  3.0               Ron      Beverly Jr.  3.0   6.0  NaN  NaN
11  18Sep22 ARP  6.0               Rey        Hernandez  6.0   5.0  NaN  NaN
12          ---  5.0             Pedro         Gonzalez  5.0   7.0  NaN  NaN
13  18Sep22 ARP  1.0              Jose            Lopez  NaN   1.0  NaN  NaN
14  18Sep22 ARP  4.0            Adrian          Morales  NaN   2.0  NaN  NaN
15  18Sep22 ARP  6.0               Rey        Hernandez  NaN   4.0  NaN  NaN
16  18Sep22 ARP  3.0          Genovero         Montalvo  NaN   3.0  NaN  NaN
17  18Sep22 ARP  5.0           Jhaciel             Soto  NaN   5.0  NaN  NaN
18  18Sep22 ARP  2.0            Martin          Lazalde  NaN   6.0  NaN  NaN
19   6Sep22 ARP  1.0              Hugo          Herrera  1.0   1.0    1  NaN
20  19Sep22 ARP  5.0             David          Cardoso  5.0   3.0    2  NaN
21  29Aug22 ARP  2.0            Daniel          Aguilar  2.0   5.0    6  NaN
22  19Sep22 ARP  8.0             David           Martin  8.0   4.0    4  NaN
23   5Sep22 ARP  6.0            Travis            Wales  6.0   2.0    3  NaN
24  29Aug22 ARP  3.0            Nathan             Haar  3.0   8.0    5  NaN
25  12Sep22 ARP  7.0            Adrian            Ramos  7.0   6.0    7  NaN
26  19Sep22 ARP  4.0             Scott           Bethke  4.0   7.0    8  NaN
27  19Sep22 ARP  6.0            Travis            Wales  6.0   5.0  NaN  NaN
28  20Sep22 ARP  4.0            Adrian            Ramos  4.0   4.0  NaN  NaN
29  12Sep22 ARP  2.0            Nathan             Haar  2.0   1.0  NaN  NaN
30  23Aug22 ARP  3.0             David          Cardoso  3.0   2.0  NaN  NaN
31  12Sep22 ARP  1.0              Hugo          Herrera  1.0   3.0  NaN  NaN
32   6Sep22 ARP  5.0             Pedro         Gonzalez  5.0   6.0  NaN  NaN

   Str Fin  ... Str 1_length_behind_RLP claiming_price 3/16  3/8  \
0    1   1  ...                     NaN            NaN  NaN  NaN
1    5   2  ...                     NaN            NaN  NaN  NaN
2    3   3  ...                     NaN            NaN  NaN  NaN
3    2   4  ...                     NaN            NaN  NaN  NaN
4    4   5  ...                     NaN            NaN  NaN  NaN
5    6   6  ...                     NaN            NaN  NaN  NaN
6    1   1  ...                     NaN            NaN  NaN  NaN
7    2   2  ...                     NaN            NaN  NaN  NaN
8    3   3  ...                     NaN            NaN  NaN  NaN
9    4   4  ...                     NaN            NaN  NaN  NaN
10   5   5  ...                     NaN            NaN  NaN  NaN
11   6   6  ...                     NaN            NaN  NaN  NaN
12   7   7  ...                     NaN            NaN  NaN  NaN
13   1   1  ...                     NaN            NaN  NaN  NaN
14   2   2  ...                     NaN            NaN  NaN  NaN
15   4   3  ...                     NaN            NaN  NaN  NaN
16   3   4  ...                     NaN            NaN  NaN  NaN
17   5   5  ...                     NaN            NaN  NaN  NaN
18   6   6  ...                     NaN            NaN  NaN  NaN
19   1   1  ...                     NaN         $2,500  NaN  NaN
20   3   2  ...                     NaN         $2,500  NaN  NaN
21   6   3  ...                     NaN         $2,500  NaN  NaN
22   4   4  ...                     NaN         $2,500  NaN  NaN
23   2   5  ...                     NaN         $2,500  NaN  NaN
24   5   6  ...                     NaN         $2,500  NaN  NaN
25   7   7  ...                     NaN         $2,500  NaN  NaN
26   8   8  ...                     NaN         $2,500  NaN  NaN
27   4   1  ...                     NaN         $5,000    5    5
28   3   2  ...                     NaN         $5,000    4    3
29   1   3  ...                     NaN         $5,000    2    2
30   5   4  ...                     NaN         $5,000    3    4
31   2   5  ...                     NaN         $5,000    1    1
32   6   6  ...                     NaN         $5,000    6    6

   3/16_length_behind 3/8_length_behind 3/16_RLP 3/8_RLP  \
0                 NaN               NaN      NaN     NaN
1                 NaN               NaN      NaN     NaN
2                 NaN               NaN      NaN     NaN
3                 NaN               NaN      NaN     NaN
4                 NaN               NaN      NaN     NaN
5                 NaN               NaN      NaN     NaN
6                 NaN               NaN      NaN     NaN
7                 NaN               NaN      NaN     NaN
8                 NaN               NaN      NaN     NaN
9                 NaN               NaN      NaN     NaN
10                NaN               NaN      NaN     NaN
11                NaN               NaN      NaN     NaN
12                NaN               NaN      NaN     NaN
13                NaN               NaN      NaN     NaN
14                NaN               NaN      NaN     NaN
15                NaN               NaN      NaN     NaN
16                NaN               NaN      NaN     NaN
17                NaN               NaN      NaN     NaN
18                NaN               NaN      NaN     NaN
19                NaN               NaN      NaN     NaN
20                NaN               NaN      NaN     NaN
21                NaN               NaN      NaN     NaN
22                NaN               NaN      NaN     NaN
23                NaN               NaN      NaN     NaN
24                NaN               NaN      NaN     NaN
25                NaN               NaN      NaN     NaN
26                NaN               NaN      NaN     NaN
27                  3                 8      NaN     NaN
28                  2               1/2      NaN     NaN
29               Head               1/2      NaN     NaN
30                1/2                 1      NaN     NaN
31               Head              Head      NaN     NaN
32                NaN               NaN      NaN     NaN

   3/16_length_behind_RLP 3/8_length_behind_RLP
0                     NaN                   NaN
1                     NaN                   NaN
2                     NaN                   NaN
3                     NaN                   NaN
4                     NaN                   NaN
5                     NaN                   NaN
6                     NaN                   NaN
7                     NaN                   NaN
8                     NaN                   NaN
9                     NaN                   NaN
10                    NaN                   NaN
11                    NaN                   NaN
12                    NaN                   NaN
13                    NaN                   NaN
14                    NaN                   NaN
15                    NaN                   NaN
16                    NaN                   NaN
17                    NaN                   NaN
18                    NaN                   NaN
19                    NaN                   NaN
20                    NaN                   NaN
21                    NaN                   NaN
22                    NaN                   NaN
23                    NaN                   NaN
24                    NaN                   NaN
25                    NaN                   NaN
26                    NaN                   NaN
27                    NaN                   NaN
28                    NaN                   NaN
29                    NaN                   NaN
30                    NaN                   NaN
31                    NaN                   NaN
32                    NaN                   NaN

[33 rows x 55 columns]
track :  ARAPAHOE PAR [K
date :  October 1, 2022
race_num :  6
criteria :  FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD NON WINNERS OF A RACE SINCE JULY 3, 2022.
claiming_price :  $5,000.
track_length :  ( N W1 3 M) Claiming Price $5,000 Six Furlongs On The Dirt
purse :  $12,800
weather :  Showery
track_type :  Good
off_time :  3 13
start :  Good for all
{'track': 'Arapahoe Park', 'date': 'October 1, 2022', 'race_num': '6', 'criteria': 'FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD NON WINNERS OF A RACE SINCE JULY 3, 2022', 'claiming_price': '$5,000', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$12,800', 'weather': 'Showery', 'track_type': 'Good', 'off_time': '3:13', 'start': 'Good for all', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 117.24599999999997
Found table bottom bound at 188.54599999999994
Looking for tables...

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/ARP_10_01_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table top bound at 394.18100000000004
Found table bottom bound at 468.815
    Last Raced  Unnamed: 0  Pgm                Horse Name (Jockey)    Wgt M/E  \
0          7 2         NaN  NaN                                NaN        NaN
1  15Sep22 CBY         NaN  5.0    Tiz Wonderfully (Bethke, Scott)  124 BL bf
2          1 3         NaN  NaN                                NaN        NaN
3  19Sep22 ARP         NaN  4.0   Remarkable Charm (Wales, Travis)     124 BL
4          5 2         NaN  NaN                                NaN        NaN
5  25Sep22 ARP         NaN  3.0    Porsumsugaronme (Ramos, Adrian)     124 BL
6          8 2         NaN  NaN                                NaN        NaN
7  20Sep22 ARP         NaN  2.0  T. P. Right Lane (Cardoso, David)     124 BL
8          1 2         NaN  NaN                                NaN        NaN
9  19Sep22 ARP         NaN  7.0      Ultra Cordial (Herrera, Hugo)      124 b

    PP  Start    1/4  1/2  Str    Fin   Odds             Comments
0  NaN    NaN  2 1/2    4    2  1 3/4    NaN                  NaN
1  5.0    1.0      1    1    1      1  1.20*    inside speed held
2  NaN    NaN    1/2  1/2    2      9    NaN                  NaN
3  4.0    3.0      3    2    2      2   5.10     3wd bid 2nd best
4  NaN    NaN      3    3    6  2 1/4    NaN                  NaN
5  3.0    5.0      4    3    3      3   1.70  inside lacked rally
6  NaN    NaN    1/2  NaN  NaN  2 3/4    NaN                  NaN
7  2.0    4.0      2    5    5      4   5.80  up close dropped ba
8  NaN    NaN    NaN    2  1/2    NaN    NaN                  NaN
9  6.0    2.0      5    4    4      5   7.00    4wd thruout tired
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  1/2  \
0   15Aug22 ARP  5.0              Hugo          Herrera  5.0   2.0    2    2
1   11Sep22 ARP  2.0             David           Martin  2.0   5.0    5    6
2   25Sep22 ARP  4.0            Nathan             Haar  4.0   4.0    6    5
3   12Sep22 ARP  3.0            Adrian            Ramos  3.0   1.0    1    1
4    8Aug22 ARP  6.0            Travis            Wales  6.0   6.0    4    3
5    7Aug22 ARP  1.0             Pedro         Gonzalez  1.0   3.0    3    4
6   18Sep22 ARP  7.0            Adrian          Morales  7.0   1.0  NaN  NaN
7    4Sep22 ARP  2.0            Martin          Lazalde  2.0   3.0  NaN  NaN
8   18Sep22 ARP  1.0              Jose            Lopez  1.0   2.0  NaN  NaN
9   28Aug22 ARP  4.0           Jhaciel             Soto  4.0   4.0  NaN  NaN
10  14Aug22 ARP  3.0               Ron      Beverly Jr.  3.0   6.0  NaN  NaN
11  18Sep22 ARP  6.0               Rey        Hernandez  6.0   5.0  NaN  NaN
12          ---  5.0             Pedro         Gonzalez  5.0   7.0  NaN  NaN
13  18Sep22 ARP  1.0              Jose            Lopez  NaN   1.0  NaN  NaN
14  18Sep22 ARP  4.0            Adrian          Morales  NaN   2.0  NaN  NaN
15  18Sep22 ARP  6.0               Rey        Hernandez  NaN   4.0  NaN  NaN
16  18Sep22 ARP  3.0          Genovero         Montalvo  NaN   3.0  NaN  NaN
17  18Sep22 ARP  5.0           Jhaciel             Soto  NaN   5.0  NaN  NaN
18  18Sep22 ARP  2.0            Martin          Lazalde  NaN   6.0  NaN  NaN
19   6Sep22 ARP  1.0              Hugo          Herrera  1.0   1.0    1  NaN
20  19Sep22 ARP  5.0             David          Cardoso  5.0   3.0    2  NaN
21  29Aug22 ARP  2.0            Daniel          Aguilar  2.0   5.0    6  NaN
22  19Sep22 ARP  8.0             David           Martin  8.0   4.0    4  NaN
23   5Sep22 ARP  6.0            Travis            Wales  6.0   2.0    3  NaN
24  29Aug22 ARP  3.0            Nathan             Haar  3.0   8.0    5  NaN
25  12Sep22 ARP  7.0            Adrian            Ramos  7.0   6.0    7  NaN
26  19Sep22 ARP  4.0             Scott           Bethke  4.0   7.0    8  NaN
27  19Sep22 ARP  6.0            Travis            Wales  6.0   5.0  NaN  NaN
28  20Sep22 ARP  4.0            Adrian            Ramos  4.0   4.0  NaN  NaN
29  12Sep22 ARP  2.0            Nathan             Haar  2.0   1.0  NaN  NaN
30  23Aug22 ARP  3.0             David          Cardoso  3.0   2.0  NaN  NaN
31  12Sep22 ARP  1.0              Hugo          Herrera  1.0   3.0  NaN  NaN
32   6Sep22 ARP  5.0             Pedro         Gonzalez  5.0   6.0  NaN  NaN
33  15Sep22 CBY  5.0             Scott           Bethke  5.0   1.0    1    1
34  19Sep22 ARP  4.0            Travis            Wales  4.0   3.0    3    2
35  25Sep22 ARP  3.0            Adrian            Ramos  3.0   5.0    4    3
36  20Sep22 ARP  2.0             David          Cardoso  2.0   4.0    2    5
37  19Sep22 ARP  7.0              Hugo          Herrera  6.0   2.0    5    4

   Str Fin  ... Str 1_length_behind_RLP claiming_price 3/16  3/8  \
0    1   1  ...                     NaN            NaN  NaN  NaN
1    5   2  ...                     NaN            NaN  NaN  NaN
2    3   3  ...                     NaN            NaN  NaN  NaN
3    2   4  ...                     NaN            NaN  NaN  NaN
4    4   5  ...                     NaN            NaN  NaN  NaN
5    6   6  ...                     NaN            NaN  NaN  NaN
6    1   1  ...                     NaN            NaN  NaN  NaN
7    2   2  ...                     NaN            NaN  NaN  NaN
8    3   3  ...                     NaN            NaN  NaN  NaN
9    4   4  ...                     NaN            NaN  NaN  NaN
10   5   5  ...                     NaN            NaN  NaN  NaN
11   6   6  ...                     NaN            NaN  NaN  NaN
12   7   7  ...                     NaN            NaN  NaN  NaN
13   1   1  ...                     NaN            NaN  NaN  NaN
14   2   2  ...                     NaN            NaN  NaN  NaN
15   4   3  ...                     NaN            NaN  NaN  NaN
16   3   4  ...                     NaN            NaN  NaN  NaN
17   5   5  ...                     NaN            NaN  NaN  NaN
18   6   6  ...                     NaN            NaN  NaN  NaN
19   1   1  ...                     NaN         $2,500  NaN  NaN
20   3   2  ...                     NaN         $2,500  NaN  NaN
21   6   3  ...                     NaN         $2,500  NaN  NaN
22   4   4  ...                     NaN         $2,500  NaN  NaN
23   2   5  ...                     NaN         $2,500  NaN  NaN
24   5   6  ...                     NaN         $2,500  NaN  NaN
25   7   7  ...                     NaN         $2,500  NaN  NaN
26   8   8  ...                     NaN         $2,500  NaN  NaN
27   4   1  ...                     NaN         $5,000    5    5
28   3   2  ...                     NaN         $5,000    4    3
29   1   3  ...                     NaN         $5,000    2    2
30   5   4  ...                     NaN         $5,000    3    4
31   2   5  ...                     NaN         $5,000    1    1
32   6   6  ...                     NaN         $5,000    6    6
33   1   1  ...                     NaN         $5,000  NaN  NaN
34   2   2  ...                     NaN         $5,000  NaN  NaN
35   3   3  ...                     NaN         $5,000  NaN  NaN
36   5   4  ...                     NaN         $5,000  NaN  NaN
37   4   5  ...                     NaN         $5,000  NaN  NaN

   3/16_length_behind 3/8_length_behind 3/16_RLP 3/8_RLP  \
0                 NaN               NaN      NaN     NaN
1                 NaN               NaN      NaN     NaN
2                 NaN               NaN      NaN     NaN
3                 NaN               NaN      NaN     NaN
4                 NaN               NaN      NaN     NaN
5                 NaN               NaN      NaN     NaN
6                 NaN               NaN      NaN     NaN
7                 NaN               NaN      NaN     NaN
8                 NaN               NaN      NaN     NaN
9                 NaN               NaN      NaN     NaN
10                NaN               NaN      NaN     NaN
11                NaN               NaN      NaN     NaN
12                NaN               NaN      NaN     NaN
13                NaN               NaN      NaN     NaN
14                NaN               NaN      NaN     NaN
15                NaN               NaN      NaN     NaN
16                NaN               NaN      NaN     NaN
17                NaN               NaN      NaN     NaN
18                NaN               NaN      NaN     NaN
19                NaN               NaN      NaN     NaN
20                NaN               NaN      NaN     NaN
21                NaN               NaN      NaN     NaN
22                NaN               NaN      NaN     NaN
23                NaN               NaN      NaN     NaN
24                NaN               NaN      NaN     NaN
25                NaN               NaN      NaN     NaN
26                NaN               NaN      NaN     NaN
27                  3                 8      NaN     NaN
28                  2               1/2      NaN     NaN
29               Head               1/2      NaN     NaN
30                1/2                 1      NaN     NaN
31               Head              Head      NaN     NaN
32                NaN               NaN      NaN     NaN
33                NaN               NaN      NaN     NaN
34                NaN               NaN      NaN     NaN
35                NaN               NaN      NaN     NaN
36                NaN               NaN      NaN     NaN
37                NaN               NaN      NaN     NaN

   3/16_length_behind_RLP 3/8_length_behind_RLP
0                     NaN                   NaN
1                     NaN                   NaN
2                     NaN                   NaN
3                     NaN                   NaN
4                     NaN                   NaN
5                     NaN                   NaN
6                     NaN                   NaN
7                     NaN                   NaN
8                     NaN                   NaN
9                     NaN                   NaN
10                    NaN                   NaN
11                    NaN                   NaN
12                    NaN                   NaN
13                    NaN                   NaN
14                    NaN                   NaN
15                    NaN                   NaN
16                    NaN                   NaN
17                    NaN                   NaN
18                    NaN                   NaN
19                    NaN                   NaN
20                    NaN                   NaN
21                    NaN                   NaN
22                    NaN                   NaN
23                    NaN                   NaN
24                    NaN                   NaN
25                    NaN                   NaN
26                    NaN                   NaN
27                    NaN                   NaN
28                    NaN                   NaN
29                    NaN                   NaN
30                    NaN                   NaN
31                    NaN                   NaN
32                    NaN                   NaN
33                    NaN                   NaN
34                    NaN                   NaN
35                    NaN                   NaN
36                    NaN                   NaN
37                    NaN                   NaN

[38 rows x 55 columns]
track :  ARAPAHOE PARK
date :  October 1, 2022
race_num :  7
criteria :  FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF TWO RACES LIFETIME.
claiming_price :  $3,500.
track_length :  ( N W2 L) Claiming Price $3,500 Six Furlongs On The Dirt
purse :  $9,800
weather :  Cloudy
track_type :  Good
off_time :  3 37
start :  Good for all
{'track': 'Arapahoe Park', 'date': 'October 1, 2022', 'race_num': '7', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD NON WINNERS OF TWO RACES LIFETIME', 'claiming_price': '$3,500', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$9,800', 'weather': 'Cloudy', 'track_type': 'Good', 'off_time': '3:37', 'start': 'Good for all', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 116.53800000000001
Found table bottom bound at 197.83799999999997
Looking for tables...
Found table top bound at 402.765

In [8]:
pdf_df

,Last Raced,Pgm,jockey_first_name,jockey_last_name,PP,Start,Str 1,Str,Fin,Odds,...,1/2_length_behind_RLP,3/4_length_behind_RLP,3/16,3/8,3/16_length_behind,3/8_length_behind,3/16_RLP,3/8_RLP,3/16_length_behind_RLP,3/8_length_behind_RLP
0,29Aug22 ARP,3.0,Ramiro,Garcia,3.0,3.0,2,2,1,6.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28Aug22 ARP,2.0,Francisco,Giles,2.0,2.0,1,1,2,0.60*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14Aug22 ARP,4.0,Juan,Rosales Gallegos,4.0,1.0,3,3,3,8.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29Aug22 ARP,1.0,Jhaciel,Soto,1.0,4.0,4,4,4,2.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14Aug22 ARP,5.0,Rey,Hernandez,5.0,5.0,5,5,5,12.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,11Sep22 ARP,4.0,Adrian,Ramos,4.0,6.0,NaN,5,2,7.70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,6Sep22 ARP,6.0,Hugo,Herrera,5.0,1.0,NaN,1,3,4.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,6Sep22 ARP,2.0,Pedro,Gonzalez,2.0,5.0,NaN,6,4,33.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,11Sep22 ARP,3.0,Travis,Wales,3.0,2.0,NaN,4,5,1.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,4Sep22 ARP,7.0,Daniel,Aguilar,6.0,3.0,NaN,3,6,7.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
pdf_df.to_csv("ARAP.csv")