In [1]:
import race_results_scanner
import google_cloud_downloader as gcd
from PyPDF2 import PdfReader
import numpy as np
import pandas as pd
import os
import header_scanner as hs


pdf = "Error_PDFS/AZD_09_17_2022.pdf"
#pdf = "Example_PDFS/equibaseFile.pdf"

In [2]:
#Testing for page

page_list = race_results_scanner.get_page_list(pdf)
target_page = 6

page_list_index = 0
for page in page_list:
    if(target_page == page['page_num']):
        break
    page_list_index += 1
    
reader = PdfReader(pdf) #File to be scanned
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()

page = page_list[page_list_index]
header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
for field,value in header.items():
    print(field ,':', value)
result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan

The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

['ARIZONA', 'DOWN', '/S', '-', 'September', '17,', '2022', '-', 'Race', '7', 'MAIDEN', 'OPTIONAL', 'CLAIMING', '-', 'Thoroughbred', 'FOR', 'MAIDENS,', 'FILLIES', 'AND', 'MARES', 'THREE', 'YEARS', 'OLD', 'AND', 'UPWARD.', 'Three', 'Year', 'Olds,', '120', 'lbs.;', 'Older,', '124', 'lbs.', 'Claiming', 'Price', '$30,000.', 'Claiming', 'Price', '$30,000', 'Five', 'And', 'One', 'Half', 'Furlongs', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(', 'Botero', '-', '1', '01.56', '-', 'August', '17,', '2021)', 'Purse', '$14,025', 'Includes', '$5,175', 'Other', 'Sources', 'Includes', '$5,400', 'Other', 'Sources', 'Available', 'Money', '$14,025', 'Value', 'of', 'Race', '$14,025', '1st', '$8,415,', '2nd', '$2,805,', '3rd', '$1,403,', '4th', '$561,', '5th', '$421,', '6th', '$280,', '7th', '$140', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '4', '51', 'Start', 'Good', 'for', 'all', 'except', '1', 'Timer', 'Hand']
track :  ARIZONA DOWN /S
date :  September 17, 2022
race_num :  7
criteria :  FOR MAIDENS, FILLIES AND MARES THREE YEARS OLD AND UPWARD.
claiming_price :  $30,000.
track_length :  Five And One Half Furlongs On The Dirt
purse :  $14,025
weather :  Cloudy
track_type :  Fast
off_time :  4 51
start :  Good for all except 1
track : Arizona Downs
date : September 17, 2022
race_num : 7
criteria : FOR MAIDENS, FILLIES AND MARES THREE YEARS OLD AND UPWARD
claiming_price : $30,000
track_length :  Five And One Half Furlongs On The Dirt
purse : $14,025
weather : Cloudy
track_type : Fast
off_time : 4:51
start : Good for all except 1
race_type : maiden optional claiming
Looking for tables...
Found table top bound at 143.82999999999993
Found table bottom bound at 235.13
Looking for tables...
Found table top bound at 420.224
Found table bottom bound at 514.858

In [4]:
result_tables[1]

,Pgm,Horse Name,Start,1/4,3/8,Str,Fin,1/4_length_behind,3/8_length_behind,Str_length_behind,Fin_length_behind
0,4,Boisterously Irish,4.0,5,3,2,1,5,3 1/2,2,1 3/4
1,3,She Had a Secret,3.0,2,1,1,2,1 1/2,Head,2,1 3/4
2,2,Belle My Belle,5.0,4,4,3,3,4,3 3/4,2 1/2,3
3,6,Downtown Cutie,2.0,1,2,4,4,1 1/2,Head,5 1/2,11 1/2
4,1,Sweet and Ez,7.0,6,5,5,5,6,5 3/4,10,14 1/4
5,5,C'Mon Lets Switch,1.0,3,6,6,6,3 1/2,7 1/4,17,31
6,7,Legal Mischief,6.0,---,---,---,---,NaN,NaN,NaN,NaN

In [ ]:
#Testing for whole pdf
master_df = pd.DataFrame()
page_list = race_results_scanner.get_page_list(pdf)
print(page_list)
    
reader = PdfReader(pdf) #File to be scanned
number_of_pages = len(reader.pages) #Number of pages
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()
i = 0
for page in page_list:
    header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
    print(header)
    result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan
                
    #Combine into page DF
    top_table = result_tables[0].astype(object)
    bottom_table = result_tables[1].astype(object)
    #Dropping horse name for merge
    bottom_table = bottom_table.drop("Horse Name", axis = 1)
    merged_df = top_table.join(bottom_table.set_index("Pgm"), on = "Pgm", rsuffix = "_RLP")
    for field,value in header.items():
        merged_df[field] = value
        #Changing all cols to object type 
        merged_df = merged_df.astype(object)
        #For every page df
    #Merge into master pdf df
    if(len(pdf_df) < 1):
        pdf_df = merged_df
    else:
        pdf_df = pd.merge(pdf_df, merged_df, how = 'outer')
            
    print(pdf_df)
    #Merging into master 
    #if(len(master_df) < 1):
     #   master_df = pdf_df
    #else:
    #    master_df = pd.merge(master_df,pdf_df, how = 'outer')

The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

[{'page_num': 0, 'horse_count': 8}, {'page_num': 1, 'horse_count': 9}, {'page_num': 2, 'horse_count': 9}, {'page_num': 3, 'horse_count': 7}, {'page_num': 4, 'horse_count': 7}, {'page_num': 5, 'horse_count': 7}, {'page_num': 6, 'horse_count': 7}, {'page_num': 7, 'horse_count': 8}, {'page_num': 8, 'horse_count': 8}]
['ARIZONA', 'DOWNS', '[-', 'September', '17,', '2022', '-', 'Race', '1', 'ALLOWANCE', '-', 'Quarter', 'Horse', 'FOR', 'THREE', 'YEAR', 'OLDS', 'AND', 'UPWARD', 'WHICH', 'HAVE', 'NEVER', 'WON', 'TWO', 'RACES.', 'Three', 'Year', 'Olds,', '124', 'lbs.;', 'Older,', '126', 'lbs.', '(NW2', 'L)', 'Four', 'Hundred', 'Yards', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(First', 'Lady', 'Perry', '-', '19.233', '-', 'September', '1,', '2019)', 'Purse', '$8,100', 'Includes', '$4,600', 'Other', 'Sources', 'Available', 'Money', '$8,100', 'Value', 'of', 'Race', '$8,100', '1st', '$4,455,', '2nd', '$1,620,', '3rd', '$810,', '4th', '$405,', '5th', '$324,', '6th', '$162,', '7th', '$162,', '8th', '$162', 'Wind', 'Speed', '13', 'Wind', 'Direction', 'Head', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '1', '47', 'Start', 'Poor', 'Timer', 'Electronic']
track :  ARIZONA DOWNS
date :  September 17, 2022
race_num :  1
criteria :  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON TWO RACES.
track_length :  Older, 126 lbs. (NW2 L) Four Hundred Yards On The Dirt
purse :  $8,100
weather :  Cloudy
track_type :  Fast
off_time :  1 47
start :  Poor
{'track': 'Arizona Downs', 'date': 'September 17, 2022', 'race_num': '1', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON TWO RACES', 'track_length': ' Four Hundred Yards On The Dirt', 'purse': '$8,100', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '1:47', 'start': 'Poor', 'race_type': 'allowance'}
Looking for tables...
Found table top bound at 142.02199999999993
Found table bottom bound at 232.42199999999988
Looking for tables...
Found table top bound at 362.222

The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 463.29200000000003
    Last Raced  Pgm jockey_first_name jockey_last_name   PP Start Str 1 Str  \
0   3Sep22 AZD  6.0           Rodolfo           Arvizu  6.0   4.0     1   1
1   3Sep22 AZD  7.0             Elias        Gutierrez  7.0   2.0     4   2
2   3Sep22 AZD  3.0             David     Reyes-Frisby  3.0   5.0     3   3
3  15Aug22 AZD  1.0           Michael           Ybarra  1.0   1.0     2   4
4  15Aug22 AZD  8.0            Martin            Osuna  8.0   3.0     5   5
5  27Aug22 AZD  4.0              Jose             Leon  4.0   7.0     6   6
6  15Aug22 AZD  5.0             Aaron           Belloc  5.0   8.0     7   7
7  23Jul22 AZD  2.0             Kevin         Carbajal  2.0   6.0     8   8

  Fin   Odds  ...                date race_num  \
0   1   3.90  ...  September 17, 2022        1
1   2  15.30  ...  September 17, 2022        1
2   3  1.70*  ...  September 17, 2022        1
3   4   7.80  ...  September 17, 2022        1
4   5   9.50  ...  September 17, 2022        1
5   6   4.20  ...  September 17, 2022        1
6   7  17.80  ...  September 17, 2022        1
7   8   5.10  ...  September 17, 2022        1

                                            criteria  \
0  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
1  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
2  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
3  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
4  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
5  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
6  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
7  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...

                      track_length   purse weather track_type off_time start  \
0   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor
1   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor
2   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor
3   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor
4   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor
5   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor
6   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor
7   Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47  Poor

   race_type
0  allowance
1  allowance
2  allowance
3  allowance
4  allowance
5  allowance
6  allowance
7  allowance

[8 rows x 38 columns]
['ARIZ', '?ONA', 'DOWNS', '-', 'September', '17,', '2022', '-', 'Race', '2', 'ALLOWANCE', '-', 'Quarter', 'Horse', 'FOR', 'THREE', 'YEAR', 'OLDS', 'AND', 'UPWARD', 'WHICH', 'HAVE', 'NEVER', 'WON', 'TWO', 'RACES.', 'Three', 'Year', 'Olds,', '124', 'lbs.;', 'Older,', '126', 'lbs.', '(NW2', 'L)', 'Three', 'Hundred', 'Yards', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(Texas', 'Tornadoe', '-', '15.339', '-', 'August', '3,', '2019)', 'Purse', '$8,100', 'Includes', '$4,600', 'Other', 'Sources', 'Available', 'Money', '$8,100', 'Value', 'of', 'Race', '$8,100', '1st', '$4,455,', '2nd', '$1,620,', '3rd', '$810,', '4th', '$486,', '5th', '$324,', '6th', '$162,', '7th', '$81,', '8th', '$81,', '9th', '$81', 'Wind', 'Speed', '12', 'Wind', 'Direction', 'Head', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '2', '24', 'Start', 'Good', 'for', 'all', 'except', '4', 'Timer', 'Electronic']
track :  ARIZ ?ONA DOWNS
date :  September 17, 2022
race_num :  2
criteria :  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON TWO RACES.
track_length :  Older, 126 lbs. (NW2 L) Three Hundred Yards On The Dirt
purse :  $8,100
weather :  Cloudy
track_type :  Fast
off_time :  2 24
start :  Good for all except 4
{'track': 'Arizona Downs', 'date': 'September 17, 2022', 'race_num': '2', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON TWO RACES', 'track_length': ' Three Hundred Yards On The Dirt', 'purse': '$8,100', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '2:24', 'start': 'Good for all except 4', 'race_type': 'allowance'}
Looking for tables...
Found table top bound at 141.31399999999996
Found table bottom bound at 241.714
Looking for tables...
Found table top bound at 419.514

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 531.376
     Last Raced   Pgm jockey_first_name jockey_last_name   PP Start Str 1 Str  \
0    3Sep22 AZD   6.0           Rodolfo           Arvizu  6.0   4.0     1   1
1    3Sep22 AZD   7.0             Elias        Gutierrez  7.0   2.0     4   2
2    3Sep22 AZD   3.0             David     Reyes-Frisby  3.0   5.0     3   3
3   15Aug22 AZD   1.0           Michael           Ybarra  1.0   1.0     2   4
4   15Aug22 AZD   8.0            Martin            Osuna  8.0   3.0     5   5
5   27Aug22 AZD   4.0              Jose             Leon  4.0   7.0     6   6
6   15Aug22 AZD   5.0             Aaron           Belloc  5.0   8.0     7   7
7   23Jul22 AZD   2.0             Kevin         Carbajal  2.0   6.0     8   8
8   15Aug22 AZD   3.0             Kevin         Carbajal  3.0   1.0   NaN   1
9   27Aug22 AZD   1.0              Kody     Kellenberger  1.0   5.0   NaN   2
10  29Aug22 AZD   9.0           Rodolfo           Arvizu  8.0   3.0   NaN   3
11  29Aug22 AZD   8.0             Ernie          Aispuro  7.0   2.0   NaN   4
12   2Jul22 WYO   4.0             David     Reyes-Frisby  4.0   9.0   NaN   5
13  27Aug22 AZD   2.0             Aaron           Belloc  2.0   7.0   NaN   6
14  11Jul22 AZD   5.0           Michael           Ybarra  5.0   6.0   NaN   7
15  20Aug22 AZD   6.0             Elias        Gutierrez  6.0   8.0   NaN   8
16  27Aug22 AZD  10.0              Jose             Leon  9.0   4.0   NaN   9

   Fin   Odds  ...                date race_num  \
0    1   3.90  ...  September 17, 2022        1
1    2  15.30  ...  September 17, 2022        1
2    3  1.70*  ...  September 17, 2022        1
3    4   7.80  ...  September 17, 2022        1
4    5   9.50  ...  September 17, 2022        1
5    6   4.20  ...  September 17, 2022        1
6    7  17.80  ...  September 17, 2022        1
7    8   5.10  ...  September 17, 2022        1
8    1   6.60  ...  September 17, 2022        2
9    2   4.60  ...  September 17, 2022        2
10   3  1.30*  ...  September 17, 2022        2
11   4   8.80  ...  September 17, 2022        2
12   5  21.10  ...  September 17, 2022        2
13   6  15.80  ...  September 17, 2022        2
14   7  20.10  ...  September 17, 2022        2
15   8   8.60  ...  September 17, 2022        2
16   9   5.50  ...  September 17, 2022        2

                                             criteria  \
0   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
1   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
2   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
3   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
4   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
5   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
6   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
7   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
8   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
9   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
10  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
11  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
12  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
13  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
14  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
15  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
16  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...

                        track_length   purse weather track_type off_time  \
0     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
1     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
2     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
3     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
4     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
5     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
6     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
7     Four Hundred Yards On The Dirt  $8,100  Cloudy       Fast     1:47
8    Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
9    Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
10   Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
11   Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
12   Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
13   Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
14   Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
15   Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24
16   Three Hundred Yards On The Dirt  $8,100  Cloudy       Fast     2:24

                    start  race_type
0                    Poor  allowance
1                    Poor  allowance
2                    Poor  allowance
3                    Poor  allowance
4                    Poor  allowance
5                    Poor  allowance
6                    Poor  allowance
7                    Poor  allowance
8   Good for all except 4  allowance
9   Good for all except 4  allowance
10  Good for all except 4  allowance
11  Good for all except 4  allowance
12  Good for all except 4  allowance
13  Good for all except 4  allowance
14  Good for all except 4  allowance
15  Good for all except 4  allowance
16  Good for all except 4  allowance

[17 rows x 38 columns]
['ARIZONA', 'DO', '<WNS', '-', 'September', '17,', '2022', '-', 'Race', '3', 'ALLOWANCE', '-', 'Quarter', 'Horse', 'FOR', 'THREE', 'YEAR', 'OLDS', 'AND', 'UPWARD.', 'Three', 'Year', 'Olds,', '124', 'lbs.;', 'Older,', '126', 'lbs.', 'Two', 'Hundred', 'And', 'Fifty', 'Yards', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(Streakin', 'Seis', 'Corona', '-', '13.183', '-', 'August', '10,', '2019)', 'Purse', '$11,100', 'Includes', '$7,600', 'Other', 'Sources', 'Available', 'Money', '$11,100', 'Value', 'of', 'Race', '$11,100', '1st', '$6,105,', '2nd', '$2,220,', '3rd', '$1,110,', '4th', '$666,', '5th', '$444,', '6th', '$222,', '7th', '$111,', '8th', '$111,', '9th', '$111', 'Wind', 'Speed', '13', 'Wind', 'Direction', 'Head', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '2', '50', 'Start', 'Good', 'for', 'all', 'except', '9', 'Timer', 'Electronic']
track :  ARIZONA DO <WNS
date :  September 17, 2022
race_num :  3
criteria :  FOR THREE YEAR OLDS AND UPWARD.
track_length :  Older, 126 lbs. Two Hundred And Fifty Yards On The Dirt
purse :  $11,100
weather :  Cloudy
track_type :  Fast
off_time :  2 50
start :  Good for all except 9
{'track': 'Arizona Downs', 'date': 'September 17, 2022', 'race_num': '3', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD', 'track_length': ' Two Hundred And Fifty Yards On The Dirt', 'purse': '$11,100', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '2:50', 'start': 'Good for all except 9', 'race_type': 'allowance'}
Looking for tables...
Couldn't read a table, moving on from 202.31399999999996 top_bound
Couldn't read a table, moving on from 212.31399999999996 top_bound
Found table top bound at 132.31399999999996
Found table bottom bound at 229.414
Looking for tables...
Found table top bound at 394.764

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 506.62600000000003
     Last Raced   Pgm jockey_first_name jockey_last_name   PP Start Str 1 Str  \
0    3Sep22 AZD   6.0           Rodolfo           Arvizu  6.0   4.0     1   1
1    3Sep22 AZD   7.0             Elias        Gutierrez  7.0   2.0     4   2
2    3Sep22 AZD   3.0             David     Reyes-Frisby  3.0   5.0     3   3
3   15Aug22 AZD   1.0           Michael           Ybarra  1.0   1.0     2   4
4   15Aug22 AZD   8.0            Martin            Osuna  8.0   3.0     5   5
5   27Aug22 AZD   4.0              Jose             Leon  4.0   7.0     6   6
6   15Aug22 AZD   5.0             Aaron           Belloc  5.0   8.0     7   7
7   23Jul22 AZD   2.0             Kevin         Carbajal  2.0   6.0     8   8
8   15Aug22 AZD   3.0             Kevin         Carbajal  3.0   1.0   NaN   1
9   27Aug22 AZD   1.0              Kody     Kellenberger  1.0   5.0   NaN   2
10  29Aug22 AZD   9.0           Rodolfo           Arvizu  8.0   3.0   NaN   3
11  29Aug22 AZD   8.0             Ernie          Aispuro  7.0   2.0   NaN   4
12   2Jul22 WYO   4.0             David     Reyes-Frisby  4.0   9.0   NaN   5
13  27Aug22 AZD   2.0             Aaron           Belloc  2.0   7.0   NaN   6
14  11Jul22 AZD   5.0           Michael           Ybarra  5.0   6.0   NaN   7
15  20Aug22 AZD   6.0             Elias        Gutierrez  6.0   8.0   NaN   8
16  27Aug22 AZD  10.0              Jose             Leon  9.0   4.0   NaN   9
17  20Aug22 AZD   7.0             Kevin         Carbajal  6.0   1.0   NaN   1
18  27Aug22 AZD  10.0           Michael           Ybarra  9.0   3.0   NaN   3
19   1Aug22 AZD   4.0             Elias        Gutierrez  3.0   2.0   NaN   2
20  20Aug22 AZD   8.0            Martin            Osuna  7.0   4.0   NaN   4
21  27Aug22 AZD   6.0           Rodolfo           Arvizu  5.0   5.0   NaN   5
22  20Mar22 RIL   5.0              Kody     Kellenberger  4.0   6.0   NaN   6
23   1Aug22 AZD   9.0             Aaron           Belloc  8.0   9.0   NaN   7
24  10Sep22 AZD   1.0           Antonio            Bazan  1.0   7.0   NaN   8
25  10Sep22 AZD   2.0             David     Reyes-Frisby  2.0   8.0   NaN   9

   Fin   Odds  ...                date race_num  \
0    1   3.90  ...  September 17, 2022        1
1    2  15.30  ...  September 17, 2022        1
2    3  1.70*  ...  September 17, 2022        1
3    4   7.80  ...  September 17, 2022        1
4    5   9.50  ...  September 17, 2022        1
5    6   4.20  ...  September 17, 2022        1
6    7  17.80  ...  September 17, 2022        1
7    8   5.10  ...  September 17, 2022        1
8    1   6.60  ...  September 17, 2022        2
9    2   4.60  ...  September 17, 2022        2
10   3  1.30*  ...  September 17, 2022        2
11   4   8.80  ...  September 17, 2022        2
12   5  21.10  ...  September 17, 2022        2
13   6  15.80  ...  September 17, 2022        2
14   7  20.10  ...  September 17, 2022        2
15   8   8.60  ...  September 17, 2022        2
16   9   5.50  ...  September 17, 2022        2
17   1   3.70  ...  September 17, 2022        3
18   2   3.40  ...  September 17, 2022        3
19   3  11.80  ...  September 17, 2022        3
20   4  29.30  ...  September 17, 2022        3
21   5  11.70  ...  September 17, 2022        3
22   6   4.80  ...  September 17, 2022        3
23   7  1.40*  ...  September 17, 2022        3
24   8  29.10  ...  September 17, 2022        3
25   9  75.50  ...  September 17, 2022        3

                                             criteria  \
0   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
1   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
2   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
3   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
4   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
5   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
6   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
7   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
8   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
9   FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
10  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
11  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
12  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
13  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
14  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
15  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
16  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVE...
17                     FOR THREE YEAR OLDS AND UPWARD
18                     FOR THREE YEAR OLDS AND UPWARD
19                     FOR THREE YEAR OLDS AND UPWARD
20                     FOR THREE YEAR OLDS AND UPWARD
21                     FOR THREE YEAR OLDS AND UPWARD
22                     FOR THREE YEAR OLDS AND UPWARD
23                     FOR THREE YEAR OLDS AND UPWARD
24                     FOR THREE YEAR OLDS AND UPWARD
25                     FOR THREE YEAR OLDS AND UPWARD

                                track_length    purse weather track_type  \
0             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
1             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
2             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
3             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
4             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
5             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
6             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
7             Four Hundred Yards On The Dirt   $8,100  Cloudy       Fast
8            Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
9            Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
10           Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
11           Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
12           Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
13           Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
14           Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
15           Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
16           Three Hundred Yards On The Dirt   $8,100  Cloudy       Fast
17   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
18   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
19   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
20   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
21   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
22   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
23   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
24   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast
25   Two Hundred And Fifty Yards On The Dirt  $11,100  Cloudy       Fast

   off_time                  start  race_type
0      1:47                   Poor  allowance
1      1:47                   Poor  allowance
2      1:47                   Poor  allowance
3      1:47                   Poor  allowance
4      1:47                   Poor  allowance
5      1:47                   Poor  allowance
6      1:47                   Poor  allowance
7      1:47                   Poor  allowance
8      2:24  Good for all except 4  allowance
9      2:24  Good for all except 4  allowance
10     2:24  Good for all except 4  allowance
11     2:24  Good for all except 4  allowance
12     2:24  Good for all except 4  allowance
13     2:24  Good for all except 4  allowance
14     2:24  Good for all except 4  allowance
15     2:24  Good for all except 4  allowance
16     2:24  Good for all except 4  allowance
17     2:50  Good for all except 9  allowance
18     2:50  Good for all except 9  allowance
19     2:50  Good for all except 9  allowance
20     2:50  Good for all except 9  allowance
21     2:50  Good for all except 9  allowance
22     2:50  Good for all except 9  allowance
23     2:50  Good for all except 9  allowance
24     2:50  Good for all except 9  allowance
25     2:50  Good for all except 9  allowance

[26 rows x 38 columns]
['ARIZONA', 'DO', '<WNS', '-', 'September', '17,', '2022', '-', 'Race', '4', 'STARTER', 'OPTIONAL', 'CLAIMING', '-', 'Thoroughbred', 'FOR', 'THREE', 'YEAR', 'OLDS', 'AND', 'UPWARD', 'WHICH', 'HAVE', 'STARTED', 'FOR', 'A', 'CLAIMING', 'PRICE', 'OF', '$3,500', 'OR', 'LESS', 'IN', '2020', '-', '2022', 'OR', 'CLAIMING', 'PRICE', '$4,000.', 'Three', 'Year', 'Olds,', '120', 'lbs.;', 'Older,', '124', 'lbs.', 'Non-winners', 'Of', 'A', 'Race', 'Since', 'July', '17', 'Allowed', '2', 'lbs.', 'Claiming', 'Price', '$4,000', '(', 'Races', 'Where', 'Entered', 'For', '$3,000', 'Or', 'Less', 'Not', 'Considered', 'In', 'Allowances).', 'Arizona', 'Bred', 'Claiming', 'Price', '$5,000.', 'Claiming', 'Price', '$5,000', 'Six', 'Furlongs', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(', "Annie's", 'Boy', '-', '1', '07.68', '-', 'July', '13,', '2021)', 'Purse', '$13,025', 'Includes', '$4,575', 'Other', 'Sources', 'Includes', '$5,400', 'Other', 'Sources', 'Available', 'Money', '$13,025', 'Value', 'of', 'Race', '$13,025', '1st', '$7,815,', '2nd', '$2,605,', '3rd', '$1,303,', '4th', '$521,', '5th', '$391,', '6th', '$260,', '7th', '$130', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '3', '17', 'Start', 'Good', 'for', 'all', 'Timer', 'Hand']
track :  ARIZONA DO <WNS
date :  September 17, 2022
race_num :  4
criteria :  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE STARTED FOR A CLAIMING PRICE OF $3,500 OR LESS IN 2020 - 2022 OR CLAIMING PRICE $4,000.
claiming_price :  $4,000
track_length :  Or Less Not Considered In Allowances). Arizona Bred Claiming Price $5,000. Claiming Price $5,000 Six Furlongs On The Dirt
purse :  $13,025
weather :  Cloudy
track_type :  Fast
off_time :  3 17
start :  Good for all
{'track': 'Arizona Downs', 'date': 'September 17, 2022', 'race_num': '4', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD WHICH HAVE STARTED FOR A CLAIMING PRICE OF $3,500 OR LESS IN 2020 - 2022 OR CLAIMING PRICE $4,000', 'claiming_price': '$4,000', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$13,025', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '3:17', 'start': 'Good for all', 'race_type': 'starter optional claiming'}

Looking for tables...
Found table top bound at 161.82999999999993
Found table bottom bound at 243.13
Looking for tables...
Found table top bound at 430.349

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 514.9830000000001
     Last Raced   Pgm jockey_first_name jockey_last_name   PP Start Str 1 Str  \
0    3Sep22 AZD   6.0           Rodolfo           Arvizu  6.0   4.0     1   1
1    3Sep22 AZD   7.0             Elias        Gutierrez  7.0   2.0     4   2
2    3Sep22 AZD   3.0             David     Reyes-Frisby  3.0   5.0     3   3
3   15Aug22 AZD   1.0           Michael           Ybarra  1.0   1.0     2   4
4   15Aug22 AZD   8.0            Martin            Osuna  8.0   3.0     5   5
5   27Aug22 AZD   4.0              Jose             Leon  4.0   7.0     6   6
6   15Aug22 AZD   5.0             Aaron           Belloc  5.0   8.0     7   7
7   23Jul22 AZD   2.0             Kevin         Carbajal  2.0   6.0     8   8
8   15Aug22 AZD   3.0             Kevin         Carbajal  3.0   1.0   NaN   1
9   27Aug22 AZD   1.0              Kody     Kellenberger  1.0   5.0   NaN   2
10  29Aug22 AZD   9.0           Rodolfo           Arvizu  8.0   3.0   NaN   3
11  29Aug22 AZD   8.0             Ernie          Aispuro  7.0   2.0   NaN   4
12   2Jul22 WYO   4.0             David     Reyes-Frisby  4.0   9.0   NaN   5
13  27Aug22 AZD   2.0             Aaron           Belloc  2.0   7.0   NaN   6
14  11Jul22 AZD   5.0           Michael           Ybarra  5.0   6.0   NaN   7
15  20Aug22 AZD   6.0             Elias        Gutierrez  6.0   8.0   NaN   8
16  27Aug22 AZD  10.0              Jose             Leon  9.0   4.0   NaN   9
17  20Aug22 AZD   7.0             Kevin         Carbajal  6.0   1.0   NaN   1
18  27Aug22 AZD  10.0           Michael           Ybarra  9.0   3.0   NaN   3
19   1Aug22 AZD   4.0             Elias        Gutierrez  3.0   2.0   NaN   2
20  20Aug22 AZD   8.0            Martin            Osuna  7.0   4.0   NaN   4
21  27Aug22 AZD   6.0           Rodolfo           Arvizu  5.0   5.0   NaN   5
22  20Mar22 RIL   5.0              Kody     Kellenberger  4.0   6.0   NaN   6
23   1Aug22 AZD   9.0             Aaron           Belloc  8.0   9.0   NaN   7
24  10Sep22 AZD   1.0           Antonio            Bazan  1.0   7.0   NaN   8
25  10Sep22 AZD   2.0             David     Reyes-Frisby  2.0   8.0   NaN   9
26   5Sep22 AZD   7.0           Enrique           Garcia  7.0   4.0   NaN   2
27  10Sep22 AZD   3.0           Richard             Lull  3.0   1.0   NaN   1
28  22Aug22 AZD   5.0              Kody     Kellenberger  5.0   5.0   NaN   3
29  10Sep22 AZD   1.0           Antonio            Bazan  1.0   2.0   NaN   5
30  29Aug22 AZD   6.0              Jose             Leon  6.0   7.0   NaN   6
31   5Sep22 AZD   4.0             Kevin         Carbajal  4.0   3.0   NaN   4
32   5Sep22 AZD   2.0             Devon            Ellis  2.0   6.0   NaN   7

   Fin   Odds  ...                  race_type  1/4  1/2 1/4_length_behind  \
0    1   3.90  ...                  allowance  NaN  NaN               NaN
1    2  15.30  ...                  allowance  NaN  NaN               NaN
2    3  1.70*  ...                  allowance  NaN  NaN               NaN
3    4   7.80  ...                  allowance  NaN  NaN               NaN
4    5   9.50  ...                  allowance  NaN  NaN               NaN
5    6   4.20  ...                  allowance  NaN  NaN               NaN
6    7  17.80  ...                  allowance  NaN  NaN               NaN
7    8   5.10  ...                  allowance  NaN  NaN               NaN
8    1   6.60  ...                  allowance  NaN  NaN               NaN
9    2   4.60  ...                  allowance  NaN  NaN               NaN
10   3  1.30*  ...                  allowance  NaN  NaN               NaN
11   4   8.80  ...                  allowance  NaN  NaN               NaN
12   5  21.10  ...                  allowance  NaN  NaN               NaN
13   6  15.80  ...                  allowance  NaN  NaN               NaN
14   7  20.10  ...                  allowance  NaN  NaN               NaN
15   8   8.60  ...                  allowance  NaN  NaN               NaN
16   9   5.50  ...                  allowance  NaN  NaN               NaN
17   1   3.70  ...                  allowance  NaN  NaN               NaN
18   2   3.40  ...                  allowance  NaN  NaN               NaN
19   3  11.80  ...                  allowance  NaN  NaN               NaN
20   4  29.30  ...                  allowance  NaN  NaN               NaN
21   5  11.70  ...                  allowance  NaN  NaN               NaN
22   6   4.80  ...                  allowance  NaN  NaN               NaN
23   7  1.40*  ...                  allowance  NaN  NaN               NaN
24   8  29.10  ...                  allowance  NaN  NaN               NaN
25   9  75.50  ...                  allowance  NaN  NaN               NaN
26   1  1.10*  ...  starter optional claiming    3    2                 1
27   2   1.90  ...  starter optional claiming    1    1             1 1/2
28   3   8.60  ...  starter optional claiming    5    5               1/2
29   4  14.20  ...  starter optional claiming    4    4             3 1/2
30   5  10.00  ...  starter optional claiming    7    7               NaN
31   6   7.00  ...  starter optional claiming    2    3               1/2
32   7  16.30  ...  starter optional claiming    6    6                 3

   1/2_length_behind 1/4_RLP 1/2_RLP 1/4_length_behind_RLP  \
0                NaN     NaN     NaN                   NaN
1                NaN     NaN     NaN                   NaN
2                NaN     NaN     NaN                   NaN
3                NaN     NaN     NaN                   NaN
4                NaN     NaN     NaN                   NaN
5                NaN     NaN     NaN                   NaN
6                NaN     NaN     NaN                   NaN
7                NaN     NaN     NaN                   NaN
8                NaN     NaN     NaN                   NaN
9                NaN     NaN     NaN                   NaN
10               NaN     NaN     NaN                   NaN
11               NaN     NaN     NaN                   NaN
12               NaN     NaN     NaN                   NaN
13               NaN     NaN     NaN                   NaN
14               NaN     NaN     NaN                   NaN
15               NaN     NaN     NaN                   NaN
16               NaN     NaN     NaN                   NaN
17               NaN     NaN     NaN                   NaN
18               NaN     NaN     NaN                   NaN
19               NaN     NaN     NaN                   NaN
20               NaN     NaN     NaN                   NaN
21               NaN     NaN     NaN                   NaN
22               NaN     NaN     NaN                   NaN
23               NaN     NaN     NaN                   NaN
24               NaN     NaN     NaN                   NaN
25               NaN     NaN     NaN                   NaN
26             1 1/2     NaN     NaN                   NaN
27                 1     NaN     NaN                   NaN
28                 1     NaN     NaN                   NaN
29               1/2     NaN     NaN                   NaN
30               NaN     NaN     NaN                   NaN
31                 4     NaN     NaN                   NaN
32                 3     NaN     NaN                   NaN

   1/2_length_behind_RLP claiming_price
0                    NaN            NaN
1                    NaN            NaN
2                    NaN            NaN
3                    NaN            NaN
4                    NaN            NaN
5                    NaN            NaN
6                    NaN            NaN
7                    NaN            NaN
8                    NaN            NaN
9                    NaN            NaN
10                   NaN            NaN
11                   NaN            NaN
12                   NaN            NaN
13                   NaN            NaN
14                   NaN            NaN
15                   NaN            NaN
16                   NaN            NaN
17                   NaN            NaN
18                   NaN            NaN
19                   NaN            NaN
20                   NaN            NaN
21                   NaN            NaN
22                   NaN            NaN
23                   NaN            NaN
24                   NaN            NaN
25                   NaN            NaN
26                   NaN         $4,000
27                   NaN         $4,000
28                   NaN         $4,000
29                   NaN         $4,000
30                   NaN         $4,000
31                   NaN         $4,000
32                   NaN         $4,000

[33 rows x 47 columns]
['AR', '?IZONA', 'DOWNS', '-', 'September', '17,', '2022', '-', 'Race', '5', 'CLAIMING', '-', 'Thoroughbred', 'FOR', 'THREE', 'YEAR', 'OLDS', 'AND', 'UPWARD', 'WHICH', 'HAVE', 'NOT', 'WON', 'TWO', 'RACES', 'IN', '2022', 'OR', 'WHICH', 'HAVE', 'NEVER', 'WON', 'FOUR', 'RACES.', 'Three', 'Year', 'Olds,', '120', 'lbs.;', 'Older,', '124', 'lbs.', 'Claiming', 'Price', '$3,000', '(', 'Claiming', 'Races', 'For', '$2,500', 'Or', 'Less', 'Not', 'Considered', 'In', 'Eligibility).', 'Arizona', 'Bred', 'Claiming', 'Price', '$4,000.', '(', 'C)', 'Claiming', 'Price', '$4,000', '-', '$3,000', 'Six', 'Furlongs', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(', "Annie's", 'Boy', '-', '1', '07.68', '-', 'July', '13,', '2021)', 'Purse', '$9,525', 'Includes', '$2,475', 'Other', 'Sources', 'Available', 'Money', '$9,525', 'Value', 'of', 'Race', '$9,525', '1st', '$5,715,', '2nd', '$1,905,', '3rd', '$953,', '4th', '$381,', '5th', '$286,', '6th', '$190,', '7th', '$95', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '3', '47', 'Start', 'Good', 'for', 'all', 'except', '7', 'Timer', 'Hand']
track :  AR ?IZONA DOWNS
date :  September 17, 2022
race_num :  5
criteria :  FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NOT WON TWO RACES IN 2022 OR WHICH HAVE NEVER WON FOUR RACES.
claiming_price :  $3,000
track_length :  Or Less Not Considered In Eligibility). Arizona Bred Claiming Price $4,000. ( C) Claiming Price $4,000 - $3,000 Six Furlongs On The Dirt
purse :  $9,525 Includes $2,475 Other Sources Available Money $9,525 Value of Race $9,525 1st $5,715, 2nd $1,905,
weather :  Cloudy
track_type :  Fast
off_time :  3 47
start :  Good for all except 7
{'track': 'Arizona Downs', 'date': 'September 17, 2022', 'race_num': '5', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NOT WON TWO RACES IN 2022 OR WHICH HAVE NEVER WON FOUR RACES', 'claiming_price': '$3,000', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$9,525 Includes $2,475 Other Sources Available Money $9,525 Value of Race $9,525 1st $5,715, 2nd $1,905,', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '3:47', 'start': 'Good for all except 7', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 143.82999999999993
Found table bottom bound at 225.13
Looking for tables...
Found table top bound at 473.624
Found table bottom bound at 558.258
     Last Raced   Pgm jockey_first_name jockey_last_name   PP Start Str 1 Str  \
0    3Sep22 AZD   6.0           Rodolfo           Arvizu  6.0   4.0     1   1
1    3Sep22 AZD   7.0             Elias        Gutierrez  7.0   2.0     4   2
2    3Sep22 AZD   3.0             David     Reyes-Frisby  3.0   5.0     3   3
3   15Aug22 AZD   1.0           Michael           Ybarra  1.0   1.0     2   4
4   15Aug22 AZD   8.0            Martin            Osuna  8.0   3.0     5   5
5   27Aug22 AZD   4.0              Jose             Leon  4.0   7.0     6   6
6   15Aug22 AZD   5.0             Aaron           Belloc  5.0   8.0     7   7
7   23Jul22 AZD   2.0             Kevin         Carbajal  2.0   6.0     8   8
8   15Aug22 AZD   3.0             Kevin         Carbajal  3.0   1.0   NaN   1
9   27Aug22 AZD   1.0              Kody     Kellenberger  1.0   5.0   NaN   2
10  29Aug22 AZD   9.0           Rodolfo           Arvizu  8.0   3.0   NaN   3
11  29Aug22 AZD   8.0             Ernie          Aispuro  7.0   2.0   NaN   4
12   2Jul22 WYO   4.0             David     Reyes-Frisby  4.0   9.0   NaN   5
13  27Aug22 AZD   2.0             Aaron           Belloc  2.0   7.0   NaN   6
14  11Jul22 AZD   5.0           Michael           Ybarra  5.0   6.0   NaN   7
15  20Aug22 AZD   6.0             Elias        Gutierrez  6.0   8.0   NaN   8
16  27Aug22 AZD  10.0              Jose             Leon  9.0   4.0   NaN   9
17  20Aug22 AZD   7.0             Kevin         Carbajal  6.0   1.0   NaN   1
18  27Aug22 AZD  10.0           Michael           Ybarra  9.0   3.0   NaN   3
19   1Aug22 AZD   4.0             Elias        Gutierrez  3.0   2.0   NaN   2
20  20Aug22 AZD   8.0            Martin            Osuna  7.0   4.0   NaN   4
21  27Aug22 AZD   6.0           Rodolfo           Arvizu  5.0   5.0   NaN   5
22  20Mar22 RIL   5.0              Kody     Kellenberger  4.0   6.0   NaN   6
23   1Aug22 AZD   9.0             Aaron           Belloc  8.0   9.0   NaN   7
24  10Sep22 AZD   1.0           Antonio            Bazan  1.0   7.0   NaN   8
25  10Sep22 AZD   2.0             David     Reyes-Frisby  2.0   8.0   NaN   9
26   5Sep22 AZD   7.0           Enrique           Garcia  7.0   4.0   NaN   2
27  10Sep22 AZD   3.0           Richard             Lull  3.0   1.0   NaN   1
28  22Aug22 AZD   5.0              Kody     Kellenberger  5.0   5.0   NaN   3
29  10Sep22 AZD   1.0           Antonio            Bazan  1.0   2.0   NaN   5
30  29Aug22 AZD   6.0              Jose             Leon  6.0   7.0   NaN   6
31   5Sep22 AZD   4.0             Kevin         Carbajal  4.0   3.0   NaN   4
32   5Sep22 AZD   2.0             Devon            Ellis  2.0   6.0   NaN   7
33  10Sep22 AZD   6.0            Isaias         Enriquez  5.0   2.0   NaN   1
34  22Aug22 AZD   1.0              Jose             Leon  1.0   3.0   NaN   2
35   9Apr22 EVD   2.0              Ryan           Barber  2.0   4.0   NaN   4
36  22Aug22 AZD   4.0             Kevin         Carbajal  4.0   1.0   NaN   3
37  14Aug22 ALB   7.0           Richard             Lull  6.0   6.0   NaN   6
38  29Aug22 AZD   8.0           Michael           Ybarra  7.0   7.0   NaN   7
39  29Aug22 AZD   3.0           Enrique           Garcia  3.0   5.0   NaN   5

   Fin   Odds  ...                  race_type  1/4  1/2 1/4_length_behind  \
0    1   3.90  ...                  allowance  NaN  NaN               NaN
1    2  15.30  ...                  allowance  NaN  NaN               NaN
2    3  1.70*  ...                  allowance  NaN  NaN               NaN
3    4   7.80  ...                  allowance  NaN  NaN               NaN
4    5   9.50  ...                  allowance  NaN  NaN               NaN
5    6   4.20  ...                  allowance  NaN  NaN               NaN
6    7  17.80  ...                  allowance  NaN  NaN               NaN
7    8   5.10  ...                  allowance  NaN  NaN               NaN
8    1   6.60  ...                  allowance  NaN  NaN               NaN
9    2   4.60  ...                  allowance  NaN  NaN               NaN
10   3  1.30*  ...                  allowance  NaN  NaN               NaN
11   4   8.80  ...                  allowance  NaN  NaN               NaN
12   5  21.10  ...                  allowance  NaN  NaN               NaN
13   6  15.80  ...                  allowance  NaN  NaN               NaN
14   7  20.10  ...                  allowance  NaN  NaN               NaN
15   8   8.60  ...                  allowance  NaN  NaN               NaN
16   9   5.50  ...                  allowance  NaN  NaN               NaN
17   1   3.70  ...                  allowance  NaN  NaN               NaN
18   2   3.40  ...                  allowance  NaN  NaN               NaN
19   3  11.80  ...                  allowance  NaN  NaN               NaN
20   4  29.30  ...                  allowance  NaN  NaN               NaN
21   5  11.70  ...                  allowance  NaN  NaN               NaN
22   6   4.80  ...                  allowance  NaN  NaN               NaN
23   7  1.40*  ...                  allowance  NaN  NaN               NaN
24   8  29.10  ...                  allowance  NaN  NaN               NaN
25   9  75.50  ...                  allowance  NaN  NaN               NaN
26   1  1.10*  ...  starter optional claiming    3    2                 1
27   2   1.90  ...  starter optional claiming    1    1             1 1/2
28   3   8.60  ...  starter optional claiming    5    5               1/2
29   4  14.20  ...  starter optional claiming    4    4             3 1/2
30   5  10.00  ...  starter optional claiming    7    7               NaN
31   6   7.00  ...  starter optional claiming    2    3               1/2
32   7  16.30  ...  starter optional claiming    6    6                 3
33   1  0.50*  ...                   claiming    2    1             1 1/2
34   2   3.20  ...                   claiming    1    2              Head
35   3  32.60  ...                   claiming    4    4             1 1/2
36   4   3.60  ...                   claiming    3    3             1 1/2
37   5  23.30  ...                   claiming    7    7               NaN
38   6  32.50  ...                   claiming    6    6               1/2
39   7  23.70  ...                   claiming    5    5                 3

   1/2_length_behind 1/4_RLP 1/2_RLP 1/4_length_behind_RLP  \
0                NaN     NaN     NaN                   NaN
1                NaN     NaN     NaN                   NaN
2                NaN     NaN     NaN                   NaN
3                NaN     NaN     NaN                   NaN
4                NaN     NaN     NaN                   NaN
5                NaN     NaN     NaN                   NaN
6                NaN     NaN     NaN                   NaN
7                NaN     NaN     NaN                   NaN
8                NaN     NaN     NaN                   NaN
9                NaN     NaN     NaN                   NaN
10               NaN     NaN     NaN                   NaN
11               NaN     NaN     NaN                   NaN
12               NaN     NaN     NaN                   NaN
13               NaN     NaN     NaN                   NaN
14               NaN     NaN     NaN                   NaN
15               NaN     NaN     NaN                   NaN
16               NaN     NaN     NaN                   NaN
17               NaN     NaN     NaN                   NaN
18               NaN     NaN     NaN                   NaN
19               NaN     NaN     NaN                   NaN
20               NaN     NaN     NaN                   NaN
21               NaN     NaN     NaN                   NaN
22               NaN     NaN     NaN                   NaN
23               NaN     NaN     NaN                   NaN
24               NaN     NaN     NaN                   NaN
25               NaN     NaN     NaN                   NaN
26             1 1/2     NaN     NaN                   NaN
27                 1     NaN     NaN                   NaN
28                 1     NaN     NaN                   NaN
29               1/2     NaN     NaN                   NaN
30               NaN     NaN     NaN                   NaN
31                 4     NaN     NaN                   NaN
32                 3     NaN     NaN                   NaN
33              Head     NaN     NaN                   NaN
34                 4     NaN     NaN                   NaN
35                 2     NaN     NaN                   NaN
36                 1     NaN     NaN                   NaN
37               NaN     NaN     NaN                   NaN
38               1/2     NaN     NaN                   NaN
39             2 1/2     NaN     NaN                   NaN

   1/2_length_behind_RLP claiming_price
0                    NaN            NaN
1                    NaN            NaN
2                    NaN            NaN
3                    NaN            NaN
4                    NaN            NaN
5                    NaN            NaN
6                    NaN            NaN
7                    NaN            NaN
8                    NaN            NaN
9                    NaN            NaN
10                   NaN            NaN
11                   NaN            NaN
12                   NaN            NaN
13                   NaN            NaN
14                   NaN            NaN
15                   NaN            NaN
16                   NaN            NaN
17                   NaN            NaN
18                   NaN            NaN
19                   NaN            NaN
20                   NaN            NaN
21                   NaN            NaN
22                   NaN            NaN
23                   NaN            NaN
24                   NaN            NaN
25                   NaN            NaN
26                   NaN         $4,000
27                   NaN         $4,000
28                   NaN         $4,000
29                   NaN         $4,000
30                   NaN         $4,000
31                   NaN         $4,000
32                   NaN         $4,000
33                   NaN         $3,000
34                   NaN         $3,000
35                   NaN         $3,000
36                   NaN         $3,000
37                   NaN         $3,000
38                   NaN         $3,000
39                   NaN         $3,000

[40 rows x 47 columns]

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

['ARI', '[ZONA', 'DOWNS', '-', 'September', '17,', '2022', '-', 'Race', '6', 'CLAIMING', '-', 'Thoroughbred', 'FOR', 'THREE', 'YEAR', 'OLDS', 'AND', 'UPWARD.', 'Three', 'Year', 'Olds,', '120', 'lbs.;', 'Older,', '124', 'lbs.', 'Claiming', 'Price', '$15,000.', 'Arizona', 'Bred', 'Claiming', 'Price', '$20,000.', 'Claiming', 'Price', '$20,000', '-', '$15,000', 'Two', 'Furlongs', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(', 'Master', 'Ruler', '-', '22.34', '-', 'September', '17,', '2022)', 'Purse', '$15,025', 'Includes', '$5,775', 'Other', 'Sources', 'Includes', '$5,400', 'Other', 'Sources', 'Available', 'Money', '$15,025', 'Value', 'of', 'Race', '$15,025', '1st', '$9,015,', '2nd', '$3,005,', '3rd', '$1,503,', '4th', '$601,', '5th', '$451,', '6th', '$300,', '7th', '$150', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '4', '16', 'Start', 'Good', 'for', 'all', 'Timer', 'Hand']
track :  ARI [ZONA DOWNS
date :  September 17, 2022
race_num :  6
criteria :  FOR THREE YEAR OLDS AND UPWARD.
claiming_price :  $15,000.
track_length :  Claiming Price $20,000 - $15,000 Two Furlongs On The Dirt
purse :  $15,025
weather :  Cloudy
track_type :  Fast
off_time :  4 16
start :  Good for all
{'track': 'Arizona Downs', 'date': 'September 17, 2022', 'race_num': '6', 'criteria': 'FOR THREE YEAR OLDS AND UPWARD', 'claiming_price': '$15,000', 'track_length': ' Two Furlongs On The Dirt', 'purse': '$15,025', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '4:16', 'start': 'Good for all', 'race_type': 'claiming'}
Looking for tables...
Found table top bound at 143.82999999999993
Found table bottom bound at 230.53000000000003
Looking for tables...
Found table top bound at 411.58

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Error_PDFS/AZD_09_17_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 504.858
     Last Raced   Pgm jockey_first_name jockey_last_name   PP Start Str 1 Str  \
0    3Sep22 AZD   6.0           Rodolfo           Arvizu  6.0   4.0     1   1
1    3Sep22 AZD   7.0             Elias        Gutierrez  7.0   2.0     4   2
2    3Sep22 AZD   3.0             David     Reyes-Frisby  3.0   5.0     3   3
3   15Aug22 AZD   1.0           Michael           Ybarra  1.0   1.0     2   4
4   15Aug22 AZD   8.0            Martin            Osuna  8.0   3.0     5   5
5   27Aug22 AZD   4.0              Jose             Leon  4.0   7.0     6   6
6   15Aug22 AZD   5.0             Aaron           Belloc  5.0   8.0     7   7
7   23Jul22 AZD   2.0             Kevin         Carbajal  2.0   6.0     8   8
8   15Aug22 AZD   3.0             Kevin         Carbajal  3.0   1.0   NaN   1
9   27Aug22 AZD   1.0              Kody     Kellenberger  1.0   5.0   NaN   2
10  29Aug22 AZD   9.0           Rodolfo           Arvizu  8.0   3.0   NaN   3
11  29Aug22 AZD   8.0             Ernie          Aispuro  7.0   2.0   NaN   4
12   2Jul22 WYO   4.0             David     Reyes-Frisby  4.0   9.0   NaN   5
13  27Aug22 AZD   2.0             Aaron           Belloc  2.0   7.0   NaN   6
14  11Jul22 AZD   5.0           Michael           Ybarra  5.0   6.0   NaN   7
15  20Aug22 AZD   6.0             Elias        Gutierrez  6.0   8.0   NaN   8
16  27Aug22 AZD  10.0              Jose             Leon  9.0   4.0   NaN   9
17  20Aug22 AZD   7.0             Kevin         Carbajal  6.0   1.0   NaN   1
18  27Aug22 AZD  10.0           Michael           Ybarra  9.0   3.0   NaN   3
19   1Aug22 AZD   4.0             Elias        Gutierrez  3.0   2.0   NaN   2
20  20Aug22 AZD   8.0            Martin            Osuna  7.0   4.0   NaN   4
21  27Aug22 AZD   6.0           Rodolfo           Arvizu  5.0   5.0   NaN   5
22  20Mar22 RIL   5.0              Kody     Kellenberger  4.0   6.0   NaN   6
23   1Aug22 AZD   9.0             Aaron           Belloc  8.0   9.0   NaN   7
24  10Sep22 AZD   1.0           Antonio            Bazan  1.0   7.0   NaN   8
25  10Sep22 AZD   2.0             David     Reyes-Frisby  2.0   8.0   NaN   9
26   5Sep22 AZD   7.0           Enrique           Garcia  7.0   4.0   NaN   2
27  10Sep22 AZD   3.0           Richard             Lull  3.0   1.0   NaN   1
28  22Aug22 AZD   5.0              Kody     Kellenberger  5.0   5.0   NaN   3
29  10Sep22 AZD   1.0           Antonio            Bazan  1.0   2.0   NaN   5
30  29Aug22 AZD   6.0              Jose             Leon  6.0   7.0   NaN   6
31   5Sep22 AZD   4.0             Kevin         Carbajal  4.0   3.0   NaN   4
32   5Sep22 AZD   2.0             Devon            Ellis  2.0   6.0   NaN   7
33  10Sep22 AZD   6.0            Isaias         Enriquez  5.0   2.0   NaN   1
34  22Aug22 AZD   1.0              Jose             Leon  1.0   3.0   NaN   2
35   9Apr22 EVD   2.0              Ryan           Barber  2.0   4.0   NaN   4
36  22Aug22 AZD   4.0             Kevin         Carbajal  4.0   1.0   NaN   3
37  14Aug22 ALB   7.0           Richard             Lull  6.0   6.0   NaN   6
38  29Aug22 AZD   8.0           Michael           Ybarra  7.0   7.0   NaN   7
39  29Aug22 AZD   3.0           Enrique           Garcia  3.0   5.0   NaN   5
40   3Sep22 AZD   6.0              Jose             Leon  6.0   1.0   NaN   1
41  22Aug22 AZD   5.0            Martin            Osuna  5.0   2.0   NaN   2
42   3Sep22 AZD   7.0            Isaias         Enriquez  7.0   5.0   NaN   4
43   3Sep22 AZD   1.0           Michael           Ybarra  1.0   3.0   NaN   3
44  29Aug22 AZD   3.0           Richard             Lull  3.0   6.0   NaN   6
45   3Sep22 AZD   2.0              Kody     Kellenberger  2.0   4.0   NaN   5
46   3Sep22 AZD   4.0             Kevin         Carbajal  4.0   7.0   NaN   7

   Fin   Odds  ...                  race_type  1/4  1/2 1/4_length_behind  \
0    1   3.90  ...                  allowance  NaN  NaN               NaN
1    2  15.30  ...                  allowance  NaN  NaN               NaN
2    3  1.70*  ...                  allowance  NaN  NaN               NaN
3    4   7.80  ...                  allowance  NaN  NaN               NaN
4    5   9.50  ...                  allowance  NaN  NaN               NaN
5    6   4.20  ...                  allowance  NaN  NaN               NaN
6    7  17.80  ...                  allowance  NaN  NaN               NaN
7    8   5.10  ...                  allowance  NaN  NaN               NaN
8    1   6.60  ...                  allowance  NaN  NaN               NaN
9    2   4.60  ...                  allowance  NaN  NaN               NaN
10   3  1.30*  ...                  allowance  NaN  NaN               NaN
11   4   8.80  ...                  allowance  NaN  NaN               NaN
12   5  21.10  ...                  allowance  NaN  NaN               NaN
13   6  15.80  ...                  allowance  NaN  NaN               NaN
14   7  20.10  ...                  allowance  NaN  NaN               NaN
15   8   8.60  ...                  allowance  NaN  NaN               NaN
16   9   5.50  ...                  allowance  NaN  NaN               NaN
17   1   3.70  ...                  allowance  NaN  NaN               NaN
18   2   3.40  ...                  allowance  NaN  NaN               NaN
19   3  11.80  ...                  allowance  NaN  NaN               NaN
20   4  29.30  ...                  allowance  NaN  NaN               NaN
21   5  11.70  ...                  allowance  NaN  NaN               NaN
22   6   4.80  ...                  allowance  NaN  NaN               NaN
23   7  1.40*  ...                  allowance  NaN  NaN               NaN
24   8  29.10  ...                  allowance  NaN  NaN               NaN
25   9  75.50  ...                  allowance  NaN  NaN               NaN
26   1  1.10*  ...  starter optional claiming    3    2                 1
27   2   1.90  ...  starter optional claiming    1    1             1 1/2
28   3   8.60  ...  starter optional claiming    5    5               1/2
29   4  14.20  ...  starter optional claiming    4    4             3 1/2
30   5  10.00  ...  starter optional claiming    7    7               NaN
31   6   7.00  ...  starter optional claiming    2    3               1/2
32   7  16.30  ...  starter optional claiming    6    6                 3
33   1  0.50*  ...                   claiming    2    1             1 1/2
34   2   3.20  ...                   claiming    1    2              Head
35   3  32.60  ...                   claiming    4    4             1 1/2
36   4   3.60  ...                   claiming    3    3             1 1/2
37   5  23.30  ...                   claiming    7    7               NaN
38   6  32.50  ...                   claiming    6    6               1/2
39   7  23.70  ...                   claiming    5    5                 3
40   1  1.00*  ...                   claiming  NaN  NaN               NaN
41   2  15.90  ...                   claiming  NaN  NaN               NaN
42   3   1.40  ...                   claiming  NaN  NaN               NaN
43   4  12.70  ...                   claiming  NaN  NaN               NaN
44   5  18.20  ...                   claiming  NaN  NaN               NaN
45   6  18.40  ...                   claiming  NaN  NaN               NaN
46   7   7.90  ...                   claiming  NaN  NaN               NaN

   1/2_length_behind 1/4_RLP 1/2_RLP 1/4_length_behind_RLP  \
0                NaN     NaN     NaN                   NaN
1                NaN     NaN     NaN                   NaN
2                NaN     NaN     NaN                   NaN
3                NaN     NaN     NaN                   NaN
4                NaN     NaN     NaN                   NaN
5                NaN     NaN     NaN                   NaN
6                NaN     NaN     NaN                   NaN
7                NaN     NaN     NaN                   NaN
8                NaN     NaN     NaN                   NaN
9                NaN     NaN     NaN                   NaN
10               NaN     NaN     NaN                   NaN
11               NaN     NaN     NaN                   NaN
12               NaN     NaN     NaN                   NaN
13               NaN     NaN     NaN                   NaN
14               NaN     NaN     NaN                   NaN
15               NaN     NaN     NaN                   NaN
16               NaN     NaN     NaN                   NaN
17               NaN     NaN     NaN                   NaN
18               NaN     NaN     NaN                   NaN
19               NaN     NaN     NaN                   NaN
20               NaN     NaN     NaN                   NaN
21               NaN     NaN     NaN                   NaN
22               NaN     NaN     NaN                   NaN
23               NaN     NaN     NaN                   NaN
24               NaN     NaN     NaN                   NaN
25               NaN     NaN     NaN                   NaN
26             1 1/2     NaN     NaN                   NaN
27                 1     NaN     NaN                   NaN
28                 1     NaN     NaN                   NaN
29               1/2     NaN     NaN                   NaN
30               NaN     NaN     NaN                   NaN
31                 4     NaN     NaN                   NaN
32                 3     NaN     NaN                   NaN
33              Head     NaN     NaN                   NaN
34                 4     NaN     NaN                   NaN
35                 2     NaN     NaN                   NaN
36                 1     NaN     NaN                   NaN
37               NaN     NaN     NaN                   NaN
38               1/2     NaN     NaN                   NaN
39             2 1/2     NaN     NaN                   NaN
40               NaN     NaN     NaN                   NaN
41               NaN     NaN     NaN                   NaN
42               NaN     NaN     NaN                   NaN
43               NaN     NaN     NaN                   NaN
44               NaN     NaN     NaN                   NaN
45               NaN     NaN     NaN                   NaN
46               NaN     NaN     NaN                   NaN

   1/2_length_behind_RLP claiming_price
0                    NaN            NaN
1                    NaN            NaN
2                    NaN            NaN
3                    NaN            NaN
4                    NaN            NaN
5                    NaN            NaN
6                    NaN            NaN
7                    NaN            NaN
8                    NaN            NaN
9                    NaN            NaN
10                   NaN            NaN
11                   NaN            NaN
12                   NaN            NaN
13                   NaN            NaN
14                   NaN            NaN
15                   NaN            NaN
16                   NaN            NaN
17                   NaN            NaN
18                   NaN            NaN
19                   NaN            NaN
20                   NaN            NaN
21                   NaN            NaN
22                   NaN            NaN
23                   NaN            NaN
24                   NaN            NaN
25                   NaN            NaN
26                   NaN         $4,000
27                   NaN         $4,000
28                   NaN         $4,000
29                   NaN         $4,000
30                   NaN         $4,000
31                   NaN         $4,000
32                   NaN         $4,000
33                   NaN         $3,000
34                   NaN         $3,000
35                   NaN         $3,000
36                   NaN         $3,000
37                   NaN         $3,000
38                   NaN         $3,000
39                   NaN         $3,000
40                   NaN        $15,000
41                   NaN        $15,000
42                   NaN        $15,000
43                   NaN        $15,000
44                   NaN        $15,000
45                   NaN        $15,000
46                   NaN        $15,000

[47 rows x 47 columns]
['ARIZONA', 'DOWN', '/S', '-', 'September', '17,', '2022', '-', 'Race', '7', 'MAIDEN', 'OPTIONAL', 'CLAIMING', '-', 'Thoroughbred', 'FOR', 'MAIDENS,', 'FILLIES', 'AND', 'MARES', 'THREE', 'YEARS', 'OLD', 'AND', 'UPWARD.', 'Three', 'Year', 'Olds,', '120', 'lbs.;', 'Older,', '124', 'lbs.', 'Claiming', 'Price', '$30,000.', 'Claiming', 'Price', '$30,000', 'Five', 'And', 'One', 'Half', 'Furlongs', 'On', 'The', 'Dirt', 'Current', 'Track', 'Record', '(', 'Botero', '-', '1', '01.56', '-', 'August', '17,', '2021)', 'Purse', '$14,025', 'Includes', '$5,175', 'Other', 'Sources', 'Includes', '$5,400', 'Other', 'Sources', 'Available', 'Money', '$14,025', 'Value', 'of', 'Race', '$14,025', '1st', '$8,415,', '2nd', '$2,805,', '3rd', '$1,403,', '4th', '$561,', '5th', '$421,', '6th', '$280,', '7th', '$140', 'Weather', 'Cloudy', 'Track', 'Fast', 'Off', 'at', '4', '51', 'Start', 'Good', 'for', 'all', 'except', '1', 'Timer', 'Hand']
track :  ARIZONA DOWN /S
date :  September 17, 2022
race_num :  7
criteria :  FOR MAIDENS, FILLIES AND MARES THREE YEARS OLD AND UPWARD.
claiming_price :  $30,000.
track_length :  Five And One Half Furlongs On The Dirt
purse :  $14,025
weather :  Cloudy
track_type :  Fast
off_time :  4 51
start :  Good for all except 1
{'track': 'Arizona Downs', 'date': 'September 17, 2022', 'race_num': '7', 'criteria': 'FOR MAIDENS, FILLIES AND MARES THREE YEARS OLD AND UPWARD', 'claiming_price': '$30,000', 'track_length': ' Five And One Half Furlongs On The Dirt', 'purse': '$14,025', 'weather': 'Cloudy', 'track_type': 'Fast', 'off_time': '4:51', 'start': 'Good for all except 1', 'race_type': 'maiden optional claiming'}

Looking for tables...
Found table top bound at 143.82999999999993
Found table bottom bound at 235.13
Looking for tables...

In [6]:
pdf_df

,Last Raced,Pgm,jockey_first_name,jockey_last_name,PP,Start,1/4,1/2,Str,Fin,...,Str 1_length_behind_RLP,claiming_price,3/16,3/8,3/16_length_behind,3/8_length_behind,3/16_RLP,3/8_RLP,3/16_length_behind_RLP,3/8_length_behind_RLP
0,15Aug22 ARP,5.0,Hugo,Herrera,5.0,2.0,2,2,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11Sep22 ARP,2.0,David,Martin,2.0,5.0,5,6,5,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25Sep22 ARP,4.0,Nathan,Haar,4.0,4.0,6,5,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12Sep22 ARP,3.0,Adrian,Ramos,3.0,1.0,1,1,2,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8Aug22 ARP,6.0,Travis,Wales,6.0,6.0,4,3,4,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7Aug22 ARP,1.0,Pedro,Gonzalez,1.0,3.0,3,4,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,18Sep22 ARP,7.0,Adrian,Morales,7.0,1.0,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4Sep22 ARP,2.0,Martin,Lazalde,2.0,3.0,NaN,NaN,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,18Sep22 ARP,1.0,Jose,Lopez,1.0,2.0,NaN,NaN,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,28Aug22 ARP,4.0,Jhaciel,Soto,4.0,4.0,NaN,NaN,4,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,14Aug22 ARP,3.0,Ron,Beverly Jr.,3.0,6.0,NaN,NaN,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,18Sep22 ARP,6.0,Rey,Hernandez,6.0,5.0,NaN,NaN,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,---,5.0,Pedro,Gonzalez,5.0,7.0,NaN,NaN,7,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,18Sep22 ARP,1.0,Jose,Lopez,NaN,1.0,NaN,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,18Sep22 ARP,4.0,Adrian,Morales,NaN,2.0,NaN,NaN,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,18Sep22 ARP,6.0,Rey,Hernandez,NaN,4.0,NaN,NaN,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,18Sep22 ARP,3.0,Genovero,Montalvo,NaN,3.0,NaN,NaN,3,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,18Sep22 ARP,5.0,Jhaciel,Soto,NaN,5.0,NaN,NaN,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18Sep22 ARP,2.0,Martin,Lazalde,NaN,6.0,NaN,NaN,6,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,6Sep22 ARP,1.0,Hugo,Herrera,1.0,1.0,1,NaN,1,1,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,19Sep22 ARP,5.0,David,Cardoso,5.0,3.0,2,NaN,3,2,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,29Aug22 ARP,2.0,Daniel,Aguilar,2.0,5.0,6,NaN,6,3,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,19Sep22 ARP,8.0,David,Martin,8.0,4.0,4,NaN,4,4,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,5Sep22 ARP,6.0,Travis,Wales,6.0,2.0,3,NaN,2,5,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,29Aug22 ARP,3.0,Nathan,Haar,3.0,8.0,5,NaN,5,6,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,12Sep22 ARP,7.0,Adrian,Ramos,7.0,6.0,7,NaN,7,7,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,19Sep22 ARP,4.0,Scott,Bethke,4.0,7.0,8,NaN,8,8,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,19Sep22 ARP,6.0,Travis,Wales,6.0,5.0,NaN,NaN,4,1,...,NaN,"$5,000",5,5,3,8,NaN,NaN,NaN,NaN
28,20Sep22 ARP,4.0,Adrian,Ramos,4.0,4.0,NaN,NaN,3,2,...,NaN,"$5,000",4,3,2,1/2,NaN,NaN,NaN,NaN
29,12Sep22 ARP,2.0,Nathan,Haar,2.0,1.0,NaN,NaN,1,3,...,NaN,"$5,000",2,2,Head,1/2,NaN,NaN,NaN,NaN
30,23Aug22 ARP,3.0,David,Cardoso,3.0,2.0,NaN,NaN,5,4,...,NaN,"$5,000",3,4,1/2,1,NaN,NaN,NaN,NaN
31,12Sep22 ARP,1.0,Hugo,Herrera,1.0,3.0,NaN,NaN,2,5,...,NaN,"$5,000",1,1,Head,Head,NaN,NaN,NaN,NaN
32,6Sep22 ARP,5.0,Pedro,Gonzalez,5.0,6.0,NaN,NaN,6,6,...,NaN,"$5,000",6,6,NaN,NaN,NaN,NaN,NaN,NaN
33,15Sep22 CBY,5.0,Scott,Bethke,5.0,1.0,1,1,1,1,...,NaN,"$5,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,19Sep22 ARP,4.0,Travis,Wales,4.0,3.0,3,2,2,2,...,NaN,"$5,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,25Sep22 ARP,3.0,Adrian,Ramos,3.0,5.0,4,3,3,3,...,NaN,"$5,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,20Sep22 ARP,2.0,David,Cardoso,2.0,4.0,2,5,5,4,...,NaN,"$5,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,19Sep22 ARP,7.0,Hugo,Herrera,6.0,2.0,5,4,4,5,...,NaN,"$5,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,20Sep22 ARP,7.0,Travis,Wales,6.0,1.0,2,2,1,1,...,NaN,"$3,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,30Aug22 ARP,5.0,Bryan,McNeil,4.0,3.0,1,1,2,2,...,NaN,"$3,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,13Sep22 ARP,6.0,Nathan,Haar,5.0,2.0,5,4,3,3,...,NaN,"$3,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,20Sep22 ARP,4.0,David,Cardoso,3.0,6.0,6,6,6,4,...,NaN,"$3,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,13Sep22 ARP,1.0,Adrian,Ramos,1.0,5.0,3,3,4,5,...,NaN,"$3,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,20Sep22 ARP,2.0,Hugo,Herrera,2.0,4.0,4,5,5,6,...,NaN,"$3,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,11Sep22 ARP,2.0,Hugo,Herrera,1.0,4.0,1,1,1.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,11Sep22 ARP,6.0,Nathan,Haar,5.0,1.0,3,2,2.0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,11Sep22 ARP,3.0,Scott,Bethke,2.0,5.0,6,4,4.0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,---,7.0,Pedro,Gonzalez,6.0,2.0,4,3,3.0,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,13Sep22 ARP,5.0,David,Cardoso,4.0,6.0,5,6,5.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,11Sep22 ARP,4.0,Daniel,Aguilar,3.0,3.0,2,5,6.0,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,19Sep22 ARP,4.0,Scott,Bethke,4.0,1.0,1,1,1,1,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,11Sep22 ARP,5.0,Adrian,Ramos,5.0,6.0,5,5,4,2,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,19Sep22 ARP,2.0,Travis,Wales,2.0,4.0,4,2,2,3,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,20Sep22 ARP,7.0,Hugo,Herrera,7.0,3.0,3,3,3,4,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,19Sep22 ARP,6.0,Nathan,Haar,6.0,2.0,2,4,5,5,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,17Aug22 CBY,8.0,Bryan,McNeil,8.0,7.0,6,6,6,6,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,19Sep22 ARP,3.0,David,Martin,3.0,5.0,7,7,7,7,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,20Sep22 ARP,1.0,Daniel,Aguilar,1.0,9.0,9,8,8,8,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,19Sep22 ARP,9.0,David,Cardoso,9.0,8.0,8,9,9,9,...,NaN,"$2,500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
pdf_df.to_csv("ARAP.csv")