In [1]:
import race_results_scanner
import google_cloud_downloader as gcd
from PyPDF2 import PdfReader
import numpy as np
import pandas as pd
import os
import header_scanner as hs


#pdf = "Error_PDFS/BAQ_09_15_2022.pdf"
pdf = "Example_PDFS/equibaseFile.pdf"

In [3]:
#Testing for page

page_list = race_results_scanner.get_page_list(pdf)
target_page = 1

page_list_index = 0
for page in page_list:
    if(target_page == page['page_num']):
        break
    page_list_index += 1
    
reader = PdfReader(pdf) #File to be scanned
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()

page = page_list[page_list_index]
header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
for field,value in header.items():
    print(field ,':', value)
result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan

The PDF <_io.BufferedReader name='Error_PDFS/BAQ_09_15_2022.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

track :  BELMONT AT THE BIG A
date :  September 15, 2022
race_num :  2
criteria :  TO BE RUN OVER NATIONAL FENCES A HURDLE HANDICAP FOR FOUR-YEAR-OLDS AND UPWARD.
track_length :  (7)(e)(5) Lasix not permitted within 48 hours of post time. Closed Saturday, September 3, 2022 with 12 Nominations. Two And One Half Miles On The Hurdle
purse :  $150,000
weather :  Clear
track_type :  Firm
off_time :  1 43
start :  Good for all
track : Belmont At the Big A
date : September 15, 2022
race_num : 2
criteria : TO BE RUN OVER NATIONAL FENCES A HURDLE HANDICAP FOR FOUR-YEAR-OLDS AND UPWARD
track_length :  Two And One Half Miles On The Hurdle
purse : $150,000
weather : Clear
track_type : Firm
off_time : 1:43
start : Good for all
race_type : stakes
Looking for tables...
Found table top bound at 134.12199999999996
Found table bottom bound at 260.822
Looking for tables...
Found table top bound at 369.122
Couldn't read a table, moving on from 379.567 bottom_bound
Couldn't read a table, moving on from 369.567 bottom_bound
Couldn't read a table, moving on from 359.567 bottom_bound
Couldn't read a table, moving on from 349.567 bottom_bound
Couldn't read a table, moving on from 339.567 bottom_bound
Couldn't read a table, moving on from 329.567 bottom_bound
Couldn't read a table, moving on from 319.567 bottom_bound
Couldn't read a table, moving on from 309.567 bottom_bound
Couldn't read a table, moving on from 299.567 bottom_bound
Couldn't read a table, moving on from 289.567 bottom_bound
Couldn't read a table, moving on from 279.567 bottom_bound
Error: Couldn't find bottom bound

Exception: Couldn't find top table

In [4]:
result_tables[1]

,Pgm,Horse Name,Start,1/4,3/8,Str,Fin,1/4_length_behind,3/8_length_behind,Str_length_behind,Fin_length_behind
0,4,Boisterously Irish,4.0,5,3,2,1,5,3 1/2,2,1 3/4
1,3,She Had a Secret,3.0,2,1,1,2,1 1/2,Head,2,1 3/4
2,2,Belle My Belle,5.0,4,4,3,3,4,3 3/4,2 1/2,3
3,6,Downtown Cutie,2.0,1,2,4,4,1 1/2,Head,5 1/2,11 1/2
4,1,Sweet and Ez,7.0,6,5,5,5,6,5 3/4,10,14 1/4
5,5,C'Mon Lets Switch,1.0,3,6,6,6,3 1/2,7 1/4,17,31
6,7,Legal Mischief,6.0,---,---,---,---,NaN,NaN,NaN,NaN

In [2]:
#Testing for whole pdf
master_df = pd.DataFrame()
page_list = race_results_scanner.get_page_list(pdf)
print(page_list)
    
reader = PdfReader(pdf) #File to be scanned
number_of_pages = len(reader.pages) #Number of pages
header_scanner = hs.HeaderScanner()
pdf_df = pd.DataFrame()
i = 0
for page in page_list:
    header = header_scanner.scan(pdf,page['page_num']) #Header scan for page
    print(header)
    result_tables = race_results_scanner.scan_page(pdf,page['page_num'], page['horse_count']) #Table scan
                
    #Combine into page DF
    top_table = result_tables[0].astype(object)
    bottom_table = result_tables[1].astype(object)
    #Dropping horse name for merge
    bottom_table = bottom_table.drop("Horse Name", axis = 1)
    merged_df = top_table.join(bottom_table.set_index("Pgm"), on = "Pgm", rsuffix = "_RLP")
    for field,value in header.items():
        merged_df[field] = value
        #Changing all cols to object type 
        merged_df = merged_df.astype(object)
        #For every page df
    #Merge into master pdf df
    if(len(pdf_df) < 1):
        pdf_df = merged_df
    else:
        pdf_df = pd.merge(pdf_df, merged_df, how = 'outer')
            
    print(pdf_df)
    #Merging into master 
    #if(len(master_df) < 1):
     #   master_df = pdf_df
    #else:
    #    master_df = pd.merge(master_df,pdf_df, how = 'outer')

The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

[{'page_num': 0, 'horse_count': 5}, {'page_num': 1, 'horse_count': 7}, {'page_num': 2, 'horse_count': 5}, {'page_num': 3, 'horse_count': 6}, {'page_num': 4, 'horse_count': 8}, {'page_num': 5, 'horse_count': 7}, {'page_num': 6, 'horse_count': 5}, {'page_num': 7, 'horse_count': 8}, {'page_num': 8, 'horse_count': 8}, {'page_num': 9, 'horse_count': 8}, {'page_num': 10, 'horse_count': 5}]
track :  MO <NMOUTH PARK
date :  August 27, 2022
race_num :  1
criteria :  (PLUS UP TO 40% NJB) FOR TWO YEAR OLDS WHICH HAVE BROKEN THEIR MAIDEN FOR A CLAIMING PRICE OR IN ANY STATE BRED RACE AND WHICH HAVE NEVER WON TWO RACES OR CLAIMING PRICE $50,000.
claiming_price :  $50,000.
track_length :  Five And One Half Furlongs On The Dirt
purse :  $45,000
weather :  Clear
track_type :  Fast
off_time :  12 16
start :  Good for all except 1
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '1', 'criteria': '(PLUS UP TO 40% NJB) FOR TWO YEAR OLDS WHICH HAVE BROKEN THEIR MAIDEN FOR A CLAIMING PRICE OR IN ANY STATE BRED RACE AND WHICH HAVE NEVER WON TWO RACES OR CLAIMING PRICE $50,000', 'claiming_price': '$50,000', 'track_length': ' Five And One Half Furlongs On The Dirt', 'purse': '$45,000', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '12:16', 'start': 'Good for all except 1', 'race_type': 'allowance claiming'}
Looking for tables...
Found table top bound at 135.24599999999995
Found table bottom bound at 206.54599999999994
Looking for tables...

The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table top bound at 404.8310000000001
Found table bottom bound at 479.4650000000001
    Last Raced  Pgm jockey_first_name jockey_last_name   PP Start 1/4 3/8 Str  \
0   2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0   2   2   2
1   2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0   3   3   1
2  30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0   5   5   4
3  22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0   4   4   5
4  30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0   1   1   3

  Fin  ... race_num                                           criteria  \
0   1  ...        1  (PLUS UP TO 40% NJB) FOR TWO YEAR OLDS WHICH H...
1   2  ...        1  (PLUS UP TO 40% NJB) FOR TWO YEAR OLDS WHICH H...
2   3  ...        1  (PLUS UP TO 40% NJB) FOR TWO YEAR OLDS WHICH H...
3   4  ...        1  (PLUS UP TO 40% NJB) FOR TWO YEAR OLDS WHICH H...
4   5  ...        1  (PLUS UP TO 40% NJB) FOR TWO YEAR OLDS WHICH H...

  claiming_price                             track_length    purse weather  \
0        $50,000   Five And One Half Furlongs On The Dirt  $45,000   Clear
1        $50,000   Five And One Half Furlongs On The Dirt  $45,000   Clear
2        $50,000   Five And One Half Furlongs On The Dirt  $45,000   Clear
3        $50,000   Five And One Half Furlongs On The Dirt  $45,000   Clear
4        $50,000   Five And One Half Furlongs On The Dirt  $45,000   Clear

  track_type off_time                  start           race_type
0       Fast    12:16  Good for all except 1  allowance claiming
1       Fast    12:16  Good for all except 1  allowance claiming
2       Fast    12:16  Good for all except 1  allowance claiming
3       Fast    12:16  Good for all except 1  allowance claiming
4       Fast    12:16  Good for all except 1  allowance claiming

[5 rows x 41 columns]
track :  MONMOUTH /PARK
date :  August 27, 2022
race_num :  2
criteria :  (PLUS UP TO 40% NJB) FOR MAIDENS, THREE YEARS OLD AND UPWARD.
claiming_price :  $40,000,
track_length :  To $30,000 1 lb. ( Rail at 24 feet). Claiming Price $40,000 - $30,000 One And One Sixteenth Miles On The Turf
purse :  $31,000
weather :  Clear
track_type :  Firm
off_time :  12 49
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '2', 'criteria': '(PLUS UP TO 40% NJB) FOR MAIDENS, THREE YEARS OLD AND UPWARD', 'claiming_price': '$40,000,', 'track_length': ' One And One Sixteenth Miles On The Turf', 'purse': '$31,000', 'weather': 'Clear', 'track_type': 'Firm', 'off_time': '12:49', 'start': 'Good for all', 'race_type': 'maiden claiming'}
Looking for tables...
Found table top bound at 125.82999999999993
Found table bottom bound at 207.13
Looking for tables...
Found table top bound at 404.83

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 498.108
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start 1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0   2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0   3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0   5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0   4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0   1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0   6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0   7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0   2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0   5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0   4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0   3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0   1  NaN

   Str Fin  ...                  start           race_type  1/2  3/4  \
0    2   1  ...  Good for all except 1  allowance claiming  NaN  NaN
1    1   2  ...  Good for all except 1  allowance claiming  NaN  NaN
2    4   3  ...  Good for all except 1  allowance claiming  NaN  NaN
3    5   4  ...  Good for all except 1  allowance claiming  NaN  NaN
4    3   5  ...  Good for all except 1  allowance claiming  NaN  NaN
5    3   1  ...           Good for all     maiden claiming    6    5
6    1   2  ...           Good for all     maiden claiming    7    2
7    2   3  ...           Good for all     maiden claiming    1    1
8    4   4  ...           Good for all     maiden claiming    4    4
9    5   5  ...           Good for all     maiden claiming    3    3
10   6   6  ...           Good for all     maiden claiming    5    6
11   7   7  ...           Good for all     maiden claiming    2    7

   1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP 1/2_length_behind_RLP  \
0                NaN               NaN     NaN     NaN                   NaN
1                NaN               NaN     NaN     NaN                   NaN
2                NaN               NaN     NaN     NaN                   NaN
3                NaN               NaN     NaN     NaN                   NaN
4                NaN               NaN     NaN     NaN                   NaN
5                  1                 2     NaN     NaN                   NaN
6                NaN               1/2     NaN     NaN                   NaN
7                1/2              Head     NaN     NaN                   NaN
8               Head              Head     NaN     NaN                   NaN
9                  1                 1     NaN     NaN                   NaN
10                 1                 2     NaN     NaN                   NaN
11              Head               NaN     NaN     NaN                   NaN

   3/4_length_behind_RLP
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
5                    NaN
6                    NaN
7                    NaN
8                    NaN
9                    NaN
10                   NaN
11                   NaN

[12 rows x 49 columns]
track :  MONM *OUTH PARK
date :  August 27, 2022
race_num :  3
criteria :  (PLUS UP TO 40% NJB) FOR MAIDENS, TWO YEARS OLD.
track_length :  Five Furlongs On The Dirt
purse :  $57,500
weather :  Clear
track_type :  Fast
off_time :  1 16
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '3', 'criteria': '(PLUS UP TO 40% NJB) FOR MAIDENS, TWO YEARS OLD', 'track_length': ' Five Furlongs On The Dirt', 'purse': '$57,500', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '1:16', 'start': 'Good for all', 'race_type': 'maiden special weight'}
Looking for tables...
Found table top bound at 109.68599999999992
Found table bottom bound at 179.54599999999994
Looking for tables...

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table top bound at 350.30600000000004
Found table bottom bound at 424.94
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0    2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0    3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0    5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0    4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0    1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0    6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0    7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0    2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0    5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0    4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0    3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0    1  NaN
12          ---  2.0           Charlie          Marquez  2.0   1.0  NaN  1.0
13          ---  7.0            Carlos          Olivero  4.0   3.0  NaN  2.0
14  12Aug22 MTH  8.0             Ramon             Moya  5.0   2.0  NaN  3.0
15          ---  6.0             Jomar           Torres  3.0   5.0  NaN  4.0
16          ---  1.0           Richard         Mitchell  1.0   4.0  NaN  5.0

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
5    3   1  ...                 1                 2     NaN     NaN
6    1   2  ...               NaN               1/2     NaN     NaN
7    2   3  ...               1/2              Head     NaN     NaN
8    4   4  ...              Head              Head     NaN     NaN
9    5   5  ...                 1                 1     NaN     NaN
10   6   6  ...                 1                 2     NaN     NaN
11   7   7  ...              Head               NaN     NaN     NaN
12   1   1  ...               NaN               NaN     NaN     NaN
13   2   2  ...               NaN               NaN     NaN     NaN
14   3   3  ...               NaN               NaN     NaN     NaN
15   4   4  ...               NaN               NaN     NaN     NaN
16   5   5  ...               NaN               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
5                    NaN                   NaN  NaN                NaN
6                    NaN                   NaN  NaN                NaN
7                    NaN                   NaN  NaN                NaN
8                    NaN                   NaN  NaN                NaN
9                    NaN                   NaN  NaN                NaN
10                   NaN                   NaN  NaN                NaN
11                   NaN                   NaN  NaN                NaN
12                   NaN                   NaN    1              2 1/2
13                   NaN                   NaN    3                  6
14                   NaN                   NaN    2                  4
15                   NaN                   NaN    5                NaN
16                   NaN                   NaN    4               Head

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
5       NaN                    NaN
6       NaN                    NaN
7       NaN                    NaN
8       NaN                    NaN
9       NaN                    NaN
10      NaN                    NaN
11      NaN                    NaN
12      NaN                    NaN
13      NaN                    NaN
14      NaN                    NaN
15      NaN                    NaN
16      NaN                    NaN

[17 rows x 53 columns]
track :  M?ONMOUTH PARK
date :  August 27, 2022
race_num :  4
criteria :  (PLUS UP TO 40% NJB) FOR THREE YEAR OLDS OR FOUR YEAR OLDS AND UPWARD WHICH HAVE NEVER WON THREE RACES.
claiming_price :  $30,000,
track_length :  allowed 1 lb. ( Races Where Entered For $22,000 Or Less Not Considered In Allowances). ( C) Claiming Price $30,000 - $25,000 Six Furlongs On The Dirt
purse :  $34,000
weather :  Clear
track_type :  Fast
off_time :  1 45
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '4', 'criteria': '(PLUS UP TO 40% NJB) FOR THREE YEAR OLDS OR FOUR YEAR OLDS AND UPWARD WHICH HAVE NEVER WON THREE RACES', 'claiming_price': '$30,000,', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$34,000', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '1:45', 'start': 'Good for all', 'race_type': 'claiming'}
Looking for tables...
Found table top bound at 134.538
Found table bottom bound at 215.83799999999997
Looking for tables...
Found table top bound at 420.765

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 505.39900000000006
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0    2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0    3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0    5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0    4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0    1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0    6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0    7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0    2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0    5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0    4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0    3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0    1  NaN
12          ---  2.0           Charlie          Marquez  2.0   1.0  NaN  1.0
13          ---  7.0            Carlos          Olivero  4.0   3.0  NaN  2.0
14  12Aug22 MTH  8.0             Ramon             Moya  5.0   2.0  NaN  3.0
15          ---  6.0             Jomar           Torres  3.0   5.0  NaN  4.0
16          ---  1.0           Richard         Mitchell  1.0   4.0  NaN  5.0
17   7Aug22 MTH  7.0              Jose            Gomez  6.0   2.0    3  NaN
18  13Jul22 DEL  4.0             Ruben          Silvera  4.0   1.0    1  NaN
19  12Aug22 MTH  3.0             Albin          Jimenez  3.0   6.0    6  NaN
20  13Aug22 MTH  6.0             Manny          Jimenez  5.0   3.0    2  NaN
21  13Aug22 SAR  2.0              Luis         Cardenas  2.0   5.0    4  NaN
22  13Aug22 MTH  1.0             Angel        Rodriguez  1.0   4.0    5  NaN

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
5    3   1  ...                 1                 2     NaN     NaN
6    1   2  ...               NaN               1/2     NaN     NaN
7    2   3  ...               1/2              Head     NaN     NaN
8    4   4  ...              Head              Head     NaN     NaN
9    5   5  ...                 1                 1     NaN     NaN
10   6   6  ...                 1                 2     NaN     NaN
11   7   7  ...              Head               NaN     NaN     NaN
12   1   1  ...               NaN               NaN     NaN     NaN
13   2   2  ...               NaN               NaN     NaN     NaN
14   3   3  ...               NaN               NaN     NaN     NaN
15   4   4  ...               NaN               NaN     NaN     NaN
16   5   5  ...               NaN               NaN     NaN     NaN
17   1   1  ...                 1               NaN     NaN     NaN
18   2   2  ...              Head               NaN     NaN     NaN
19   5   3  ...                 1               NaN     NaN     NaN
20   3   4  ...               1/2               NaN     NaN     NaN
21   4   5  ...             2 1/2               NaN     NaN     NaN
22   6   6  ...               NaN               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
5                    NaN                   NaN  NaN                NaN
6                    NaN                   NaN  NaN                NaN
7                    NaN                   NaN  NaN                NaN
8                    NaN                   NaN  NaN                NaN
9                    NaN                   NaN  NaN                NaN
10                   NaN                   NaN  NaN                NaN
11                   NaN                   NaN  NaN                NaN
12                   NaN                   NaN    1              2 1/2
13                   NaN                   NaN    3                  6
14                   NaN                   NaN    2                  4
15                   NaN                   NaN    5                NaN
16                   NaN                   NaN    4               Head
17                   NaN                   NaN  NaN                NaN
18                   NaN                   NaN  NaN                NaN
19                   NaN                   NaN  NaN                NaN
20                   NaN                   NaN  NaN                NaN
21                   NaN                   NaN  NaN                NaN
22                   NaN                   NaN  NaN                NaN

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
5       NaN                    NaN
6       NaN                    NaN
7       NaN                    NaN
8       NaN                    NaN
9       NaN                    NaN
10      NaN                    NaN
11      NaN                    NaN
12      NaN                    NaN
13      NaN                    NaN
14      NaN                    NaN
15      NaN                    NaN
16      NaN                    NaN
17      NaN                    NaN
18      NaN                    NaN
19      NaN                    NaN
20      NaN                    NaN
21      NaN                    NaN
22      NaN                    NaN

[23 rows x 53 columns]
track :  M?ONMOUTH PARK
date :  August 27, 2022
race_num :  5
criteria :  (PLUS UP TO 40% NJB) FOR MAIDENS, FILLIES TWO YEARS OLD.
claiming_price :  $25,000,
track_length :  To $20,000 1 lb. Claiming Price $25,000 - $20,000 Five Furlongs On The Dirt
purse :  $25,750
weather :  Clear
track_type :  Fast
off_time :  2 17
start :  Good for all except 5
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '5', 'criteria': '(PLUS UP TO 40% NJB) FOR MAIDENS, FILLIES TWO YEARS OLD', 'claiming_price': '$25,000,', 'track_length': ' Five Furlongs On The Dirt', 'purse': '$25,750', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '2:17', 'start': 'Good for all except 5', 'race_type': 'maiden claiming'}
Looking for tables...
Found table top bound at 134.12199999999996
Found table bottom bound at 225.42199999999988
Looking for tables...
Found table top bound at 496.581

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 591.215
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0    2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0    3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0    5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0    4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0    1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0    6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0    7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0    2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0    5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0    4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0    3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0    1  NaN
12          ---  2.0           Charlie          Marquez  2.0   1.0  NaN  1.0
13          ---  7.0            Carlos          Olivero  4.0   3.0  NaN  2.0
14  12Aug22 MTH  8.0             Ramon             Moya  5.0   2.0  NaN  3.0
15          ---  6.0             Jomar           Torres  3.0   5.0  NaN  4.0
16          ---  1.0           Richard         Mitchell  1.0   4.0  NaN  5.0
17   7Aug22 MTH  7.0              Jose            Gomez  6.0   2.0    3  NaN
18  13Jul22 DEL  4.0             Ruben          Silvera  4.0   1.0    1  NaN
19  12Aug22 MTH  3.0             Albin          Jimenez  3.0   6.0    6  NaN
20  13Aug22 MTH  6.0             Manny          Jimenez  5.0   3.0    2  NaN
21  13Aug22 SAR  2.0              Luis         Cardenas  2.0   5.0    4  NaN
22  13Aug22 MTH  1.0             Angel        Rodriguez  1.0   4.0    5  NaN
23  12Aug22 MTH  7.0             Jorge      Vargas  Jr.  7.0   1.0  NaN    1
24          ---  1.0             Angel        Rodriguez  1.0   4.0  NaN    2
25  16Jul22 MTH  3.0              Jose            Gomez  3.0   3.0  NaN    4
26  13Aug22 MTH  9.0             Jorge         Gonzalez  8.0   2.0  NaN    3
27  31Jul22 MTH  2.0              Paco            Lopez  2.0   6.0  NaN    6
28          ---  5.0             Albin          Jimenez  5.0   8.0  NaN    7
29  12Aug22 MTH  4.0               Nik           Juarez  4.0   5.0  NaN    5
30  13Aug22 MTH  6.0           Richard         Mitchell  6.0   7.0  NaN    8

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
5    3   1  ...                 1                 2     NaN     NaN
6    1   2  ...               NaN               1/2     NaN     NaN
7    2   3  ...               1/2              Head     NaN     NaN
8    4   4  ...              Head              Head     NaN     NaN
9    5   5  ...                 1                 1     NaN     NaN
10   6   6  ...                 1                 2     NaN     NaN
11   7   7  ...              Head               NaN     NaN     NaN
12   1   1  ...               NaN               NaN     NaN     NaN
13   2   2  ...               NaN               NaN     NaN     NaN
14   3   3  ...               NaN               NaN     NaN     NaN
15   4   4  ...               NaN               NaN     NaN     NaN
16   5   5  ...               NaN               NaN     NaN     NaN
17   1   1  ...                 1               NaN     NaN     NaN
18   2   2  ...              Head               NaN     NaN     NaN
19   5   3  ...                 1               NaN     NaN     NaN
20   3   4  ...               1/2               NaN     NaN     NaN
21   4   5  ...             2 1/2               NaN     NaN     NaN
22   6   6  ...               NaN               NaN     NaN     NaN
23   1   1  ...               NaN               NaN     NaN     NaN
24   2   2  ...               NaN               NaN     NaN     NaN
25   4   3  ...               NaN               NaN     NaN     NaN
26   3   4  ...               NaN               NaN     NaN     NaN
27   6   5  ...               NaN               NaN     NaN     NaN
28   7   6  ...               NaN               NaN     NaN     NaN
29   5   7  ...               NaN               NaN     NaN     NaN
30   8   8  ...               NaN               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
5                    NaN                   NaN  NaN                NaN
6                    NaN                   NaN  NaN                NaN
7                    NaN                   NaN  NaN                NaN
8                    NaN                   NaN  NaN                NaN
9                    NaN                   NaN  NaN                NaN
10                   NaN                   NaN  NaN                NaN
11                   NaN                   NaN  NaN                NaN
12                   NaN                   NaN    1              2 1/2
13                   NaN                   NaN    3                  6
14                   NaN                   NaN    2                  4
15                   NaN                   NaN    5                NaN
16                   NaN                   NaN    4               Head
17                   NaN                   NaN  NaN                NaN
18                   NaN                   NaN  NaN                NaN
19                   NaN                   NaN  NaN                NaN
20                   NaN                   NaN  NaN                NaN
21                   NaN                   NaN  NaN                NaN
22                   NaN                   NaN  NaN                NaN
23                   NaN                   NaN    1              2 1/2
24                   NaN                   NaN    3              2 1/2
25                   NaN                   NaN    4                1/2
26                   NaN                   NaN    2                  1
27                   NaN                   NaN    6              2 1/2
28                   NaN                   NaN    8                NaN
29                   NaN                   NaN    5                  4
30                   NaN                   NaN    7                  2

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
5       NaN                    NaN
6       NaN                    NaN
7       NaN                    NaN
8       NaN                    NaN
9       NaN                    NaN
10      NaN                    NaN
11      NaN                    NaN
12      NaN                    NaN
13      NaN                    NaN
14      NaN                    NaN
15      NaN                    NaN
16      NaN                    NaN
17      NaN                    NaN
18      NaN                    NaN
19      NaN                    NaN
20      NaN                    NaN
21      NaN                    NaN
22      NaN                    NaN
23      NaN                    NaN
24      NaN                    NaN
25      NaN                    NaN
26      NaN                    NaN
27      NaN                    NaN
28      NaN                    NaN
29      NaN                    NaN
30      NaN                    NaN

[31 rows x 53 columns]
track :  MONMOU *TH PARK
date :  August 27, 2022
race_num :  6
criteria :  (PLUS UP TO 40% NJB) FOR THREE YEAR OLDS OR FOUR YEAR OLDS AND UPWARD WHICH HAVE NEVER WON THREE RACES.
claiming_price :  $16,000,
track_length :  To $14,000 1 lb.( Races Where Entered For $12,500 Or Less Not Considered In Allowances). ( Rail at 24 feet). ( C) Claiming Price $16,000 - $14,000 Five And One Half Furlongs On The Turf
purse :  $27,150
weather :  Clear
track_type :  Firm
off_time :  2 45
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '6', 'criteria': '(PLUS UP TO 40% NJB) FOR THREE YEAR OLDS OR FOUR YEAR OLDS AND UPWARD WHICH HAVE NEVER WON THREE RACES', 'claiming_price': '$16,000,', 'track_length': ' Five And One Half Furlongs On The Turf', 'purse': '$27,150', 'weather': 'Clear', 'track_type': 'Firm', 'off_time': '2:45', 'start': 'Good for all', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 143.82999999999993
Found table bottom bound at 225.13
Looking for tables...
Found table top bound at 456.749

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 541.383
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0    2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0    3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0    5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0    4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0    1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0    6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0    7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0    2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0    5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0    4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0    3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0    1  NaN
12          ---  2.0           Charlie          Marquez  2.0   1.0  NaN  1.0
13          ---  7.0            Carlos          Olivero  4.0   3.0  NaN  2.0
14  12Aug22 MTH  8.0             Ramon             Moya  5.0   2.0  NaN  3.0
15          ---  6.0             Jomar           Torres  3.0   5.0  NaN  4.0
16          ---  1.0           Richard         Mitchell  1.0   4.0  NaN  5.0
17   7Aug22 MTH  7.0              Jose            Gomez  6.0   2.0    3  NaN
18  13Jul22 DEL  4.0             Ruben          Silvera  4.0   1.0    1  NaN
19  12Aug22 MTH  3.0             Albin          Jimenez  3.0   6.0    6  NaN
20  13Aug22 MTH  6.0             Manny          Jimenez  5.0   3.0    2  NaN
21  13Aug22 SAR  2.0              Luis         Cardenas  2.0   5.0    4  NaN
22  13Aug22 MTH  1.0             Angel        Rodriguez  1.0   4.0    5  NaN
23  12Aug22 MTH  7.0             Jorge      Vargas  Jr.  7.0   1.0  NaN    1
24          ---  1.0             Angel        Rodriguez  1.0   4.0  NaN    2
25  16Jul22 MTH  3.0              Jose            Gomez  3.0   3.0  NaN    4
26  13Aug22 MTH  9.0             Jorge         Gonzalez  8.0   2.0  NaN    3
27  31Jul22 MTH  2.0              Paco            Lopez  2.0   6.0  NaN    6
28          ---  5.0             Albin          Jimenez  5.0   8.0  NaN    7
29  12Aug22 MTH  4.0               Nik           Juarez  4.0   5.0  NaN    5
30  13Aug22 MTH  6.0           Richard         Mitchell  6.0   7.0  NaN    8
31  14Aug22 MTH  6.0             Jairo           Rendon  5.0   6.0    2    2
32   8Aug22 MTH  8.0              Samy          Camacho  7.0   5.0    4    3
33   8Aug22 MTH  1.0               Nik           Juarez  1.0   3.0    3    4
34   8Aug22 MTH  4.0             Jorge          Panaijo  3.0   2.0    6    5
35   8Aug22 MTH  5.0          Madeline          Rowland  4.0   1.0    1    1
36  19Jul22 PRX  2.0              Paco            Lopez  2.0   7.0    7    7
37  29Jul22 MTH  7.0             Albin          Jimenez  6.0   4.0    5    6

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
5    3   1  ...                 1                 2     NaN     NaN
6    1   2  ...               NaN               1/2     NaN     NaN
7    2   3  ...               1/2              Head     NaN     NaN
8    4   4  ...              Head              Head     NaN     NaN
9    5   5  ...                 1                 1     NaN     NaN
10   6   6  ...                 1                 2     NaN     NaN
11   7   7  ...              Head               NaN     NaN     NaN
12   1   1  ...               NaN               NaN     NaN     NaN
13   2   2  ...               NaN               NaN     NaN     NaN
14   3   3  ...               NaN               NaN     NaN     NaN
15   4   4  ...               NaN               NaN     NaN     NaN
16   5   5  ...               NaN               NaN     NaN     NaN
17   1   1  ...                 1               NaN     NaN     NaN
18   2   2  ...              Head               NaN     NaN     NaN
19   5   3  ...                 1               NaN     NaN     NaN
20   3   4  ...               1/2               NaN     NaN     NaN
21   4   5  ...             2 1/2               NaN     NaN     NaN
22   6   6  ...               NaN               NaN     NaN     NaN
23   1   1  ...               NaN               NaN     NaN     NaN
24   2   2  ...               NaN               NaN     NaN     NaN
25   4   3  ...               NaN               NaN     NaN     NaN
26   3   4  ...               NaN               NaN     NaN     NaN
27   6   5  ...               NaN               NaN     NaN     NaN
28   7   6  ...               NaN               NaN     NaN     NaN
29   5   7  ...               NaN               NaN     NaN     NaN
30   8   8  ...               NaN               NaN     NaN     NaN
31   1   1  ...               NaN               NaN     NaN     NaN
32   2   2  ...               NaN               NaN     NaN     NaN
33   3   3  ...               NaN               NaN     NaN     NaN
34   5   4  ...               NaN               NaN     NaN     NaN
35   4   5  ...               NaN               NaN     NaN     NaN
36   7   6  ...               NaN               NaN     NaN     NaN
37   6   7  ...               NaN               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
5                    NaN                   NaN  NaN                NaN
6                    NaN                   NaN  NaN                NaN
7                    NaN                   NaN  NaN                NaN
8                    NaN                   NaN  NaN                NaN
9                    NaN                   NaN  NaN                NaN
10                   NaN                   NaN  NaN                NaN
11                   NaN                   NaN  NaN                NaN
12                   NaN                   NaN    1              2 1/2
13                   NaN                   NaN    3                  6
14                   NaN                   NaN    2                  4
15                   NaN                   NaN    5                NaN
16                   NaN                   NaN    4               Head
17                   NaN                   NaN  NaN                NaN
18                   NaN                   NaN  NaN                NaN
19                   NaN                   NaN  NaN                NaN
20                   NaN                   NaN  NaN                NaN
21                   NaN                   NaN  NaN                NaN
22                   NaN                   NaN  NaN                NaN
23                   NaN                   NaN    1              2 1/2
24                   NaN                   NaN    3              2 1/2
25                   NaN                   NaN    4                1/2
26                   NaN                   NaN    2                  1
27                   NaN                   NaN    6              2 1/2
28                   NaN                   NaN    8                NaN
29                   NaN                   NaN    5                  4
30                   NaN                   NaN    7                  2
31                   NaN                   NaN  NaN                NaN
32                   NaN                   NaN  NaN                NaN
33                   NaN                   NaN  NaN                NaN
34                   NaN                   NaN  NaN                NaN
35                   NaN                   NaN  NaN                NaN
36                   NaN                   NaN  NaN                NaN
37                   NaN                   NaN  NaN                NaN

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
5       NaN                    NaN
6       NaN                    NaN
7       NaN                    NaN
8       NaN                    NaN
9       NaN                    NaN
10      NaN                    NaN
11      NaN                    NaN
12      NaN                    NaN
13      NaN                    NaN
14      NaN                    NaN
15      NaN                    NaN
16      NaN                    NaN
17      NaN                    NaN
18      NaN                    NaN
19      NaN                    NaN
20      NaN                    NaN
21      NaN                    NaN
22      NaN                    NaN
23      NaN                    NaN
24      NaN                    NaN
25      NaN                    NaN
26      NaN                    NaN
27      NaN                    NaN
28      NaN                    NaN
29      NaN                    NaN
30      NaN                    NaN
31      NaN                    NaN
32      NaN                    NaN
33      NaN                    NaN
34      NaN                    NaN
35      NaN                    NaN
36      NaN                    NaN
37      NaN                    NaN

[38 rows x 53 columns]
track :  MONMOUTH PAR ?K
date :  August 27, 2022
race_num :  7
criteria :  (PLUS UP TO 40% NJB) FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON TWO RACES OTHER THAN MAIDEN, CLAIMING, STARTER, OR STATE BRED ALLOWANCE OR WHICH HAVE NEVER WON THREE RACES OR CLAIMING PRICE $25,000.
claiming_price :  $25,000
track_length :  Or Less Not Considered In Allowances). ( N W2 X) Claiming Price $25,000 One Mile And Seventy Yards On The Dirt
purse :  $62,500
weather :  Clear
track_type :  Fast
off_time :  3 10
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '7', 'criteria': '(PLUS UP TO 40% NJB) FOR THREE YEAR OLDS AND UPWARD WHICH HAVE NEVER WON TWO RACES OTHER THAN MAIDEN, CLAIMING, STARTER, OR STATE BRED ALLOWANCE OR WHICH HAVE NEVER WON THREE RACES OR CLAIMING PRICE $25,000', 'claiming_price': '$25,000', 'track_length': ' One Mile And Seventy Yards On The Dirt', 'purse': '$62,500', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '3:10', 'start': 'Good for all', 'race_type': 'allowance claiming'}

Looking for tables...
Found table top bound at 144.24599999999998
Found table bottom bound at 215.54599999999994
Looking for tables...
Found table top bound at 402.869

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 477.563
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0    2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0    3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0    5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0    4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0    1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0    6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0    7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0    2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0    5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0    4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0    3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0    1  NaN
12          ---  2.0           Charlie          Marquez  2.0   1.0  NaN  1.0
13          ---  7.0            Carlos          Olivero  4.0   3.0  NaN  2.0
14  12Aug22 MTH  8.0             Ramon             Moya  5.0   2.0  NaN  3.0
15          ---  6.0             Jomar           Torres  3.0   5.0  NaN  4.0
16          ---  1.0           Richard         Mitchell  1.0   4.0  NaN  5.0
17   7Aug22 MTH  7.0              Jose            Gomez  6.0   2.0    3  NaN
18  13Jul22 DEL  4.0             Ruben          Silvera  4.0   1.0    1  NaN
19  12Aug22 MTH  3.0             Albin          Jimenez  3.0   6.0    6  NaN
20  13Aug22 MTH  6.0             Manny          Jimenez  5.0   3.0    2  NaN
21  13Aug22 SAR  2.0              Luis         Cardenas  2.0   5.0    4  NaN
22  13Aug22 MTH  1.0             Angel        Rodriguez  1.0   4.0    5  NaN
23  12Aug22 MTH  7.0             Jorge      Vargas  Jr.  7.0   1.0  NaN    1
24          ---  1.0             Angel        Rodriguez  1.0   4.0  NaN    2
25  16Jul22 MTH  3.0              Jose            Gomez  3.0   3.0  NaN    4
26  13Aug22 MTH  9.0             Jorge         Gonzalez  8.0   2.0  NaN    3
27  31Jul22 MTH  2.0              Paco            Lopez  2.0   6.0  NaN    6
28          ---  5.0             Albin          Jimenez  5.0   8.0  NaN    7
29  12Aug22 MTH  4.0               Nik           Juarez  4.0   5.0  NaN    5
30  13Aug22 MTH  6.0           Richard         Mitchell  6.0   7.0  NaN    8
31  14Aug22 MTH  6.0             Jairo           Rendon  5.0   6.0    2    2
32   8Aug22 MTH  8.0              Samy          Camacho  7.0   5.0    4    3
33   8Aug22 MTH  1.0               Nik           Juarez  1.0   3.0    3    4
34   8Aug22 MTH  4.0             Jorge          Panaijo  3.0   2.0    6    5
35   8Aug22 MTH  5.0          Madeline          Rowland  4.0   1.0    1    1
36  19Jul22 PRX  2.0              Paco            Lopez  2.0   7.0    7    7
37  29Jul22 MTH  7.0             Albin          Jimenez  6.0   4.0    5    6
38  15Aug22 MTH  6.0              Jose           Ferrer  4.0   5.0  5.0  NaN
39  23Jul22 MTH  8.0              Jose            Gomez  5.0   2.0  3.0  NaN
40  11Aug22 SAR  3.0            Javier       Castellano  2.0   4.0  4.0  NaN
41  23Jul22 MTH  5.0              Samy          Camacho  3.0   1.0  1.0  NaN
42    7May22 CD  2.0             Jorge      Vargas  Jr.  1.0   3.0  2.0  NaN

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
5    3   1  ...                 1                 2     NaN     NaN
6    1   2  ...               NaN               1/2     NaN     NaN
7    2   3  ...               1/2              Head     NaN     NaN
8    4   4  ...              Head              Head     NaN     NaN
9    5   5  ...                 1                 1     NaN     NaN
10   6   6  ...                 1                 2     NaN     NaN
11   7   7  ...              Head               NaN     NaN     NaN
12   1   1  ...               NaN               NaN     NaN     NaN
13   2   2  ...               NaN               NaN     NaN     NaN
14   3   3  ...               NaN               NaN     NaN     NaN
15   4   4  ...               NaN               NaN     NaN     NaN
16   5   5  ...               NaN               NaN     NaN     NaN
17   1   1  ...                 1               NaN     NaN     NaN
18   2   2  ...              Head               NaN     NaN     NaN
19   5   3  ...                 1               NaN     NaN     NaN
20   3   4  ...               1/2               NaN     NaN     NaN
21   4   5  ...             2 1/2               NaN     NaN     NaN
22   6   6  ...               NaN               NaN     NaN     NaN
23   1   1  ...               NaN               NaN     NaN     NaN
24   2   2  ...               NaN               NaN     NaN     NaN
25   4   3  ...               NaN               NaN     NaN     NaN
26   3   4  ...               NaN               NaN     NaN     NaN
27   6   5  ...               NaN               NaN     NaN     NaN
28   7   6  ...               NaN               NaN     NaN     NaN
29   5   7  ...               NaN               NaN     NaN     NaN
30   8   8  ...               NaN               NaN     NaN     NaN
31   1   1  ...               NaN               NaN     NaN     NaN
32   2   2  ...               NaN               NaN     NaN     NaN
33   3   3  ...               NaN               NaN     NaN     NaN
34   5   4  ...               NaN               NaN     NaN     NaN
35   4   5  ...               NaN               NaN     NaN     NaN
36   7   6  ...               NaN               NaN     NaN     NaN
37   6   7  ...               NaN               NaN     NaN     NaN
38   2   1  ...               NaN             2 1/2     NaN     NaN
39   1   2  ...             1 1/2                 1     NaN     NaN
40   3   3  ...                 1                 4     NaN     NaN
41   4   4  ...                 5              Head     NaN     NaN
42   5   5  ...               1/2               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
5                    NaN                   NaN  NaN                NaN
6                    NaN                   NaN  NaN                NaN
7                    NaN                   NaN  NaN                NaN
8                    NaN                   NaN  NaN                NaN
9                    NaN                   NaN  NaN                NaN
10                   NaN                   NaN  NaN                NaN
11                   NaN                   NaN  NaN                NaN
12                   NaN                   NaN    1              2 1/2
13                   NaN                   NaN    3                  6
14                   NaN                   NaN    2                  4
15                   NaN                   NaN    5                NaN
16                   NaN                   NaN    4               Head
17                   NaN                   NaN  NaN                NaN
18                   NaN                   NaN  NaN                NaN
19                   NaN                   NaN  NaN                NaN
20                   NaN                   NaN  NaN                NaN
21                   NaN                   NaN  NaN                NaN
22                   NaN                   NaN  NaN                NaN
23                   NaN                   NaN    1              2 1/2
24                   NaN                   NaN    3              2 1/2
25                   NaN                   NaN    4                1/2
26                   NaN                   NaN    2                  1
27                   NaN                   NaN    6              2 1/2
28                   NaN                   NaN    8                NaN
29                   NaN                   NaN    5                  4
30                   NaN                   NaN    7                  2
31                   NaN                   NaN  NaN                NaN
32                   NaN                   NaN  NaN                NaN
33                   NaN                   NaN  NaN                NaN
34                   NaN                   NaN  NaN                NaN
35                   NaN                   NaN  NaN                NaN
36                   NaN                   NaN  NaN                NaN
37                   NaN                   NaN  NaN                NaN
38                   NaN                   NaN  NaN                NaN
39                   NaN                   NaN  NaN                NaN
40                   NaN                   NaN  NaN                NaN
41                   NaN                   NaN  NaN                NaN
42                   NaN                   NaN  NaN                NaN

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
5       NaN                    NaN
6       NaN                    NaN
7       NaN                    NaN
8       NaN                    NaN
9       NaN                    NaN
10      NaN                    NaN
11      NaN                    NaN
12      NaN                    NaN
13      NaN                    NaN
14      NaN                    NaN
15      NaN                    NaN
16      NaN                    NaN
17      NaN                    NaN
18      NaN                    NaN
19      NaN                    NaN
20      NaN                    NaN
21      NaN                    NaN
22      NaN                    NaN
23      NaN                    NaN
24      NaN                    NaN
25      NaN                    NaN
26      NaN                    NaN
27      NaN                    NaN
28      NaN                    NaN
29      NaN                    NaN
30      NaN                    NaN
31      NaN                    NaN
32      NaN                    NaN
33      NaN                    NaN
34      NaN                    NaN
35      NaN                    NaN
36      NaN                    NaN
37      NaN                    NaN
38      NaN                    NaN
39      NaN                    NaN
40      NaN                    NaN
41      NaN                    NaN
42      NaN                    NaN

[43 rows x 53 columns]
track :  MONMO *UTH PARK
date :  August 27, 2022
race_num :  8
criteria :  (PLUS UP TO 40% NJB) FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD.
claiming_price :  $22,000,
track_length :  To $18,000 1lb. ( Races Where Entered For $16,000 Or Less Not Considered In Allowances). ( Rail at 24 feet). Claiming Price $22,000 - $18,000 Five And One Half Furlongs On The Turf
purse :  $34,300
weather :  Clear
track_type :  Firm
off_time :  3 44
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '8', 'criteria': '(PLUS UP TO 40% NJB) FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD', 'claiming_price': '$22,000,', 'track_length': ' Five And One Half Furlongs On The Turf', 'purse': '$34,300', 'weather': 'Clear', 'track_type': 'Firm', 'off_time': '3:44', 'start': 'Good for all', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 143.12199999999996
Found table bottom bound at 234.42199999999988
Looking for tables...
Found table top bound at 447.933

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 542.567
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0    2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0    3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0    5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0    4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0    1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0    6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0    7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0    2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0    5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0    4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0    3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0    1  NaN
12          ---  2.0           Charlie          Marquez  2.0   1.0  NaN  1.0
13          ---  7.0            Carlos          Olivero  4.0   3.0  NaN  2.0
14  12Aug22 MTH  8.0             Ramon             Moya  5.0   2.0  NaN  3.0
15          ---  6.0             Jomar           Torres  3.0   5.0  NaN  4.0
16          ---  1.0           Richard         Mitchell  1.0   4.0  NaN  5.0
17   7Aug22 MTH  7.0              Jose            Gomez  6.0   2.0    3  NaN
18  13Jul22 DEL  4.0             Ruben          Silvera  4.0   1.0    1  NaN
19  12Aug22 MTH  3.0             Albin          Jimenez  3.0   6.0    6  NaN
20  13Aug22 MTH  6.0             Manny          Jimenez  5.0   3.0    2  NaN
21  13Aug22 SAR  2.0              Luis         Cardenas  2.0   5.0    4  NaN
22  13Aug22 MTH  1.0             Angel        Rodriguez  1.0   4.0    5  NaN
23  12Aug22 MTH  7.0             Jorge      Vargas  Jr.  7.0   1.0  NaN    1
24          ---  1.0             Angel        Rodriguez  1.0   4.0  NaN    2
25  16Jul22 MTH  3.0              Jose            Gomez  3.0   3.0  NaN    4
26  13Aug22 MTH  9.0             Jorge         Gonzalez  8.0   2.0  NaN    3
27  31Jul22 MTH  2.0              Paco            Lopez  2.0   6.0  NaN    6
28          ---  5.0             Albin          Jimenez  5.0   8.0  NaN    7
29  12Aug22 MTH  4.0               Nik           Juarez  4.0   5.0  NaN    5
30  13Aug22 MTH  6.0           Richard         Mitchell  6.0   7.0  NaN    8
31  14Aug22 MTH  6.0             Jairo           Rendon  5.0   6.0    2    2
32   8Aug22 MTH  8.0              Samy          Camacho  7.0   5.0    4    3
33   8Aug22 MTH  1.0               Nik           Juarez  1.0   3.0    3    4
34   8Aug22 MTH  4.0             Jorge          Panaijo  3.0   2.0    6    5
35   8Aug22 MTH  5.0          Madeline          Rowland  4.0   1.0    1    1
36  19Jul22 PRX  2.0              Paco            Lopez  2.0   7.0    7    7
37  29Jul22 MTH  7.0             Albin          Jimenez  6.0   4.0    5    6
38  15Aug22 MTH  6.0              Jose           Ferrer  4.0   5.0  5.0  NaN
39  23Jul22 MTH  8.0              Jose            Gomez  5.0   2.0  3.0  NaN
40  11Aug22 SAR  3.0            Javier       Castellano  2.0   4.0  4.0  NaN
41  23Jul22 MTH  5.0              Samy          Camacho  3.0   1.0  1.0  NaN
42    7May22 CD  2.0             Jorge      Vargas  Jr.  1.0   3.0  2.0  NaN
43   8Aug22 MTH  3.0              Paco            Lopez  3.0   2.0    1    1
44  15Jul22 MTH  8.0             Jairo           Rendon  8.0   5.0    2    2
45   6Aug22 MTH  4.0            Andrew         Wolfsont  4.0   1.0    5    3
46   6Aug22 MTH  6.0              Jose            Gomez  6.0   7.0    8    8
47  21Aug22 MTH  7.0           Richard         Mitchell  7.0   6.0    6    6
48  31Jul22 LRL  5.0             Ruben          Silvera  5.0   8.0    7    7
49  27Jul22 PEN  1.0             Abner           Adorno  1.0   4.0    3    4
50  20Aug22 MTH  2.0              Andy        Hernandez  2.0   3.0    4    5

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
5    3   1  ...                 1                 2     NaN     NaN
6    1   2  ...               NaN               1/2     NaN     NaN
7    2   3  ...               1/2              Head     NaN     NaN
8    4   4  ...              Head              Head     NaN     NaN
9    5   5  ...                 1                 1     NaN     NaN
10   6   6  ...                 1                 2     NaN     NaN
11   7   7  ...              Head               NaN     NaN     NaN
12   1   1  ...               NaN               NaN     NaN     NaN
13   2   2  ...               NaN               NaN     NaN     NaN
14   3   3  ...               NaN               NaN     NaN     NaN
15   4   4  ...               NaN               NaN     NaN     NaN
16   5   5  ...               NaN               NaN     NaN     NaN
17   1   1  ...                 1               NaN     NaN     NaN
18   2   2  ...              Head               NaN     NaN     NaN
19   5   3  ...                 1               NaN     NaN     NaN
20   3   4  ...               1/2               NaN     NaN     NaN
21   4   5  ...             2 1/2               NaN     NaN     NaN
22   6   6  ...               NaN               NaN     NaN     NaN
23   1   1  ...               NaN               NaN     NaN     NaN
24   2   2  ...               NaN               NaN     NaN     NaN
25   4   3  ...               NaN               NaN     NaN     NaN
26   3   4  ...               NaN               NaN     NaN     NaN
27   6   5  ...               NaN               NaN     NaN     NaN
28   7   6  ...               NaN               NaN     NaN     NaN
29   5   7  ...               NaN               NaN     NaN     NaN
30   8   8  ...               NaN               NaN     NaN     NaN
31   1   1  ...               NaN               NaN     NaN     NaN
32   2   2  ...               NaN               NaN     NaN     NaN
33   3   3  ...               NaN               NaN     NaN     NaN
34   5   4  ...               NaN               NaN     NaN     NaN
35   4   5  ...               NaN               NaN     NaN     NaN
36   7   6  ...               NaN               NaN     NaN     NaN
37   6   7  ...               NaN               NaN     NaN     NaN
38   2   1  ...               NaN             2 1/2     NaN     NaN
39   1   2  ...             1 1/2                 1     NaN     NaN
40   3   3  ...                 1                 4     NaN     NaN
41   4   4  ...                 5              Head     NaN     NaN
42   5   5  ...               1/2               NaN     NaN     NaN
43   1   1  ...               NaN               NaN     NaN     NaN
44   2   2  ...               NaN               NaN     NaN     NaN
45   3   3  ...               NaN               NaN     NaN     NaN
46   8   4  ...               NaN               NaN     NaN     NaN
47   5   5  ...               NaN               NaN     NaN     NaN
48   7   6  ...               NaN               NaN     NaN     NaN
49   4   7  ...               NaN               NaN     NaN     NaN
50   6   8  ...               NaN               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
5                    NaN                   NaN  NaN                NaN
6                    NaN                   NaN  NaN                NaN
7                    NaN                   NaN  NaN                NaN
8                    NaN                   NaN  NaN                NaN
9                    NaN                   NaN  NaN                NaN
10                   NaN                   NaN  NaN                NaN
11                   NaN                   NaN  NaN                NaN
12                   NaN                   NaN    1              2 1/2
13                   NaN                   NaN    3                  6
14                   NaN                   NaN    2                  4
15                   NaN                   NaN    5                NaN
16                   NaN                   NaN    4               Head
17                   NaN                   NaN  NaN                NaN
18                   NaN                   NaN  NaN                NaN
19                   NaN                   NaN  NaN                NaN
20                   NaN                   NaN  NaN                NaN
21                   NaN                   NaN  NaN                NaN
22                   NaN                   NaN  NaN                NaN
23                   NaN                   NaN    1              2 1/2
24                   NaN                   NaN    3              2 1/2
25                   NaN                   NaN    4                1/2
26                   NaN                   NaN    2                  1
27                   NaN                   NaN    6              2 1/2
28                   NaN                   NaN    8                NaN
29                   NaN                   NaN    5                  4
30                   NaN                   NaN    7                  2
31                   NaN                   NaN  NaN                NaN
32                   NaN                   NaN  NaN                NaN
33                   NaN                   NaN  NaN                NaN
34                   NaN                   NaN  NaN                NaN
35                   NaN                   NaN  NaN                NaN
36                   NaN                   NaN  NaN                NaN
37                   NaN                   NaN  NaN                NaN
38                   NaN                   NaN  NaN                NaN
39                   NaN                   NaN  NaN                NaN
40                   NaN                   NaN  NaN                NaN
41                   NaN                   NaN  NaN                NaN
42                   NaN                   NaN  NaN                NaN
43                   NaN                   NaN  NaN                NaN
44                   NaN                   NaN  NaN                NaN
45                   NaN                   NaN  NaN                NaN
46                   NaN                   NaN  NaN                NaN
47                   NaN                   NaN  NaN                NaN
48                   NaN                   NaN  NaN                NaN
49                   NaN                   NaN  NaN                NaN
50                   NaN                   NaN  NaN                NaN

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
5       NaN                    NaN
6       NaN                    NaN
7       NaN                    NaN
8       NaN                    NaN
9       NaN                    NaN
10      NaN                    NaN
11      NaN                    NaN
12      NaN                    NaN
13      NaN                    NaN
14      NaN                    NaN
15      NaN                    NaN
16      NaN                    NaN
17      NaN                    NaN
18      NaN                    NaN
19      NaN                    NaN
20      NaN                    NaN
21      NaN                    NaN
22      NaN                    NaN
23      NaN                    NaN
24      NaN                    NaN
25      NaN                    NaN
26      NaN                    NaN
27      NaN                    NaN
28      NaN                    NaN
29      NaN                    NaN
30      NaN                    NaN
31      NaN                    NaN
32      NaN                    NaN
33      NaN                    NaN
34      NaN                    NaN
35      NaN                    NaN
36      NaN                    NaN
37      NaN                    NaN
38      NaN                    NaN
39      NaN                    NaN
40      NaN                    NaN
41      NaN                    NaN
42      NaN                    NaN
43      NaN                    NaN
44      NaN                    NaN
45      NaN                    NaN
46      NaN                    NaN
47      NaN                    NaN
48      NaN                    NaN
49      NaN                    NaN
50      NaN                    NaN

[51 rows x 53 columns]
track :  MONMOUTH <PARK
date :  August 27, 2022
race_num :  9
criteria :  FOR TWO-YEAR-OLDS.
track_length :  each, which should accompany the nomination, $1,000 to pass the entry box and an additional $1,500 to start. The owner of the winner to receive $120,000, $40,000 to second, $20,000 to third, $10,000 to fourth, $6,000 to fifth and $2,500 to sixth through last. Weight 121 lbs. Non-winners of a sweepstakes allowed 2 lbs.; An allowance race, 4 lbs.; A race other than claiming, 6 lbs. (State bred races not considered). The winning owner to receive a trophy. Closed Friday, August 12, 2022 with 22 nominations. One Mile On The Dirt
purse :  $203,500
weather :  Clear
track_type :  Fast
off_time :  4 13
start :  Good for all except 8
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '9', 'criteria': 'FOR TWO-YEAR-OLDS', 'track_length': ' One Mile On The Dirt', 'purse': '$203,500', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '4:13', 'start': 'Good for all except 8', 'race_type': 'stakes'}

Looking for tables...
Found table top bound at 152.12199999999996
Found table bottom bound at 243.42199999999988
Looking for tables...
Found table top bound at 403.997

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

Found table bottom bound at 506.567
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start  1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0    2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0    3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0    5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0    4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0    1    1
5    5Aug22 MTH  5.0             Albin          Jimenez  4.0   7.0    6  NaN
6   15Aug22 MTH  4.0          Madeline          Rowland  3.0   6.0    7  NaN
7    5Aug22 MTH  6.0             Jairo           Rendon  5.0   3.0    2  NaN
8   17Jul22 MTH  3.0             Angel        Rodriguez  2.0   4.0    5  NaN
9   30Jul22 MTH  8.0            Carlos            Rojas  7.0   5.0    4  NaN
10  30Jul22 MTH  7.0             Manny          Jimenez  6.0   2.0    3  NaN
11  14Aug22 MTH  1.0             Jorge         Gonzalez  1.0   1.0    1  NaN
12          ---  2.0           Charlie          Marquez  2.0   1.0  NaN  1.0
13          ---  7.0            Carlos          Olivero  4.0   3.0  NaN  2.0
14  12Aug22 MTH  8.0             Ramon             Moya  5.0   2.0  NaN  3.0
15          ---  6.0             Jomar           Torres  3.0   5.0  NaN  4.0
16          ---  1.0           Richard         Mitchell  1.0   4.0  NaN  5.0
17   7Aug22 MTH  7.0              Jose            Gomez  6.0   2.0    3  NaN
18  13Jul22 DEL  4.0             Ruben          Silvera  4.0   1.0    1  NaN
19  12Aug22 MTH  3.0             Albin          Jimenez  3.0   6.0    6  NaN
20  13Aug22 MTH  6.0             Manny          Jimenez  5.0   3.0    2  NaN
21  13Aug22 SAR  2.0              Luis         Cardenas  2.0   5.0    4  NaN
22  13Aug22 MTH  1.0             Angel        Rodriguez  1.0   4.0    5  NaN
23  12Aug22 MTH  7.0             Jorge      Vargas  Jr.  7.0   1.0  NaN    1
24          ---  1.0             Angel        Rodriguez  1.0   4.0  NaN    2
25  16Jul22 MTH  3.0              Jose            Gomez  3.0   3.0  NaN    4
26  13Aug22 MTH  9.0             Jorge         Gonzalez  8.0   2.0  NaN    3
27  31Jul22 MTH  2.0              Paco            Lopez  2.0   6.0  NaN    6
28          ---  5.0             Albin          Jimenez  5.0   8.0  NaN    7
29  12Aug22 MTH  4.0               Nik           Juarez  4.0   5.0  NaN    5
30  13Aug22 MTH  6.0           Richard         Mitchell  6.0   7.0  NaN    8
31  14Aug22 MTH  6.0             Jairo           Rendon  5.0   6.0    2    2
32   8Aug22 MTH  8.0              Samy          Camacho  7.0   5.0    4    3
33   8Aug22 MTH  1.0               Nik           Juarez  1.0   3.0    3    4
34   8Aug22 MTH  4.0             Jorge          Panaijo  3.0   2.0    6    5
35   8Aug22 MTH  5.0          Madeline          Rowland  4.0   1.0    1    1
36  19Jul22 PRX  2.0              Paco            Lopez  2.0   7.0    7    7
37  29Jul22 MTH  7.0             Albin          Jimenez  6.0   4.0    5    6
38  15Aug22 MTH  6.0              Jose           Ferrer  4.0   5.0  5.0  NaN
39  23Jul22 MTH  8.0              Jose            Gomez  5.0   2.0  3.0  NaN
40  11Aug22 SAR  3.0            Javier       Castellano  2.0   4.0  4.0  NaN
41  23Jul22 MTH  5.0              Samy          Camacho  3.0   1.0  1.0  NaN
42    7May22 CD  2.0             Jorge      Vargas  Jr.  1.0   3.0  2.0  NaN
43   8Aug22 MTH  3.0              Paco            Lopez  3.0   2.0    1    1
44  15Jul22 MTH  8.0             Jairo           Rendon  8.0   5.0    2    2
45   6Aug22 MTH  4.0            Andrew         Wolfsont  4.0   1.0    5    3
46   6Aug22 MTH  6.0              Jose            Gomez  6.0   7.0    8    8
47  21Aug22 MTH  7.0           Richard         Mitchell  7.0   6.0    6    6
48  31Jul22 LRL  5.0             Ruben          Silvera  5.0   8.0    7    7
49  27Jul22 PEN  1.0             Abner           Adorno  1.0   4.0    3    4
50  20Aug22 MTH  2.0              Andy        Hernandez  2.0   3.0    4    5
51   3Jul22 BEL  2.0            Javier       Castellano  2.0   4.0    4  NaN
52  16Jul22 ELP  1.0             Jairo           Rendon  1.0   3.0    1  NaN
53  16Jul22 SAR  7.0              Paco            Lopez  7.0   5.0    3  NaN
54  30Jul22 ELP  6.0             Colby        Hernandez  6.0   6.0    6  NaN
55  23Jul22 MTH  4.0            Hector        Diaz  Jr.  4.0   7.0    5  NaN
56  13Jul22 DEL  8.0           Charlie          Marquez  8.0   8.0    8  NaN
57  21Jul22 SAR  5.0              Samy          Camacho  5.0   2.0    2  NaN
58   3Aug22 DEL  3.0             Angel           Suarez  3.0   1.0    7  NaN

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
5    3   1  ...                 1                 2     NaN     NaN
6    1   2  ...               NaN               1/2     NaN     NaN
7    2   3  ...               1/2              Head     NaN     NaN
8    4   4  ...              Head              Head     NaN     NaN
9    5   5  ...                 1                 1     NaN     NaN
10   6   6  ...                 1                 2     NaN     NaN
11   7   7  ...              Head               NaN     NaN     NaN
12   1   1  ...               NaN               NaN     NaN     NaN
13   2   2  ...               NaN               NaN     NaN     NaN
14   3   3  ...               NaN               NaN     NaN     NaN
15   4   4  ...               NaN               NaN     NaN     NaN
16   5   5  ...               NaN               NaN     NaN     NaN
17   1   1  ...                 1               NaN     NaN     NaN
18   2   2  ...              Head               NaN     NaN     NaN
19   5   3  ...                 1               NaN     NaN     NaN
20   3   4  ...               1/2               NaN     NaN     NaN
21   4   5  ...             2 1/2               NaN     NaN     NaN
22   6   6  ...               NaN               NaN     NaN     NaN
23   1   1  ...               NaN               NaN     NaN     NaN
24   2   2  ...               NaN               NaN     NaN     NaN
25   4   3  ...               NaN               NaN     NaN     NaN
26   3   4  ...               NaN               NaN     NaN     NaN
27   6   5  ...               NaN               NaN     NaN     NaN
28   7   6  ...               NaN               NaN     NaN     NaN
29   5   7  ...               NaN               NaN     NaN     NaN
30   8   8  ...               NaN               NaN     NaN     NaN
31   1   1  ...               NaN               NaN     NaN     NaN
32   2   2  ...               NaN               NaN     NaN     NaN
33   3   3  ...               NaN               NaN     NaN     NaN
34   5   4  ...               NaN               NaN     NaN     NaN
35   4   5  ...               NaN               NaN     NaN     NaN
36   7   6  ...               NaN               NaN     NaN     NaN
37   6   7  ...               NaN               NaN     NaN     NaN
38   2   1  ...               NaN             2 1/2     NaN     NaN
39   1   2  ...             1 1/2                 1     NaN     NaN
40   3   3  ...                 1                 4     NaN     NaN
41   4   4  ...                 5              Head     NaN     NaN
42   5   5  ...               1/2               NaN     NaN     NaN
43   1   1  ...               NaN               NaN     NaN     NaN
44   2   2  ...               NaN               NaN     NaN     NaN
45   3   3  ...               NaN               NaN     NaN     NaN
46   8   4  ...               NaN               NaN     NaN     NaN
47   5   5  ...               NaN               NaN     NaN     NaN
48   7   6  ...               NaN               NaN     NaN     NaN
49   4   7  ...               NaN               NaN     NaN     NaN
50   6   8  ...               NaN               NaN     NaN     NaN
51   2   1  ...               1/2                 1     NaN     NaN
52   1   2  ...               1/2              Head     NaN     NaN
53   3   3  ...             1 1/2                 1     NaN     NaN
54   4   4  ...                 3                 3     NaN     NaN
55   5   5  ...              Head               1/2     NaN     NaN
56   7   6  ...                 2                 6     NaN     NaN
57   6   7  ...               1/2             1 1/2     NaN     NaN
58   8   8  ...               NaN               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
5                    NaN                   NaN  NaN                NaN
6                    NaN                   NaN  NaN                NaN
7                    NaN                   NaN  NaN                NaN
8                    NaN                   NaN  NaN                NaN
9                    NaN                   NaN  NaN                NaN
10                   NaN                   NaN  NaN                NaN
11                   NaN                   NaN  NaN                NaN
12                   NaN                   NaN    1              2 1/2
13                   NaN                   NaN    3                  6
14                   NaN                   NaN    2                  4
15                   NaN                   NaN    5                NaN
16                   NaN                   NaN    4               Head
17                   NaN                   NaN  NaN                NaN
18                   NaN                   NaN  NaN                NaN
19                   NaN                   NaN  NaN                NaN
20                   NaN                   NaN  NaN                NaN
21                   NaN                   NaN  NaN                NaN
22                   NaN                   NaN  NaN                NaN
23                   NaN                   NaN    1              2 1/2
24                   NaN                   NaN    3              2 1/2
25                   NaN                   NaN    4                1/2
26                   NaN                   NaN    2                  1
27                   NaN                   NaN    6              2 1/2
28                   NaN                   NaN    8                NaN
29                   NaN                   NaN    5                  4
30                   NaN                   NaN    7                  2
31                   NaN                   NaN  NaN                NaN
32                   NaN                   NaN  NaN                NaN
33                   NaN                   NaN  NaN                NaN
34                   NaN                   NaN  NaN                NaN
35                   NaN                   NaN  NaN                NaN
36                   NaN                   NaN  NaN                NaN
37                   NaN                   NaN  NaN                NaN
38                   NaN                   NaN  NaN                NaN
39                   NaN                   NaN  NaN                NaN
40                   NaN                   NaN  NaN                NaN
41                   NaN                   NaN  NaN                NaN
42                   NaN                   NaN  NaN                NaN
43                   NaN                   NaN  NaN                NaN
44                   NaN                   NaN  NaN                NaN
45                   NaN                   NaN  NaN                NaN
46                   NaN                   NaN  NaN                NaN
47                   NaN                   NaN  NaN                NaN
48                   NaN                   NaN  NaN                NaN
49                   NaN                   NaN  NaN                NaN
50                   NaN                   NaN  NaN                NaN
51                   NaN                   NaN  NaN                NaN
52                   NaN                   NaN  NaN                NaN
53                   NaN                   NaN  NaN                NaN
54                   NaN                   NaN  NaN                NaN
55                   NaN                   NaN  NaN                NaN
56                   NaN                   NaN  NaN                NaN
57                   NaN                   NaN  NaN                NaN
58                   NaN                   NaN  NaN                NaN

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
5       NaN                    NaN
6       NaN                    NaN
7       NaN                    NaN
8       NaN                    NaN
9       NaN                    NaN
10      NaN                    NaN
11      NaN                    NaN
12      NaN                    NaN
13      NaN                    NaN
14      NaN                    NaN
15      NaN                    NaN
16      NaN                    NaN
17      NaN                    NaN
18      NaN                    NaN
19      NaN                    NaN
20      NaN                    NaN
21      NaN                    NaN
22      NaN                    NaN
23      NaN                    NaN
24      NaN                    NaN
25      NaN                    NaN
26      NaN                    NaN
27      NaN                    NaN
28      NaN                    NaN
29      NaN                    NaN
30      NaN                    NaN
31      NaN                    NaN
32      NaN                    NaN
33      NaN                    NaN
34      NaN                    NaN
35      NaN                    NaN
36      NaN                    NaN
37      NaN                    NaN
38      NaN                    NaN
39      NaN                    NaN
40      NaN                    NaN
41      NaN                    NaN
42      NaN                    NaN
43      NaN                    NaN
44      NaN                    NaN
45      NaN                    NaN
46      NaN                    NaN
47      NaN                    NaN
48      NaN                    NaN
49      NaN                    NaN
50      NaN                    NaN
51      NaN                    NaN
52      NaN                    NaN
53      NaN                    NaN
54      NaN                    NaN
55      NaN                    NaN
56      NaN                    NaN
57      NaN                    NaN
58      NaN                    NaN

[59 rows x 53 columns]
track :  MONM /OUTH PARK
date :  August 27, 2022
race_num :  10
criteria :  (PLUS UP TO 40% NJB) FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD.
claiming_price :  $12,500,
track_length :  To $10,500 1 lb. ( Races Where Entered For $10,000 Or Less Not Considered In Allowances). ( Rail at 24 feet). Claiming Price $12,500 - $10,500 One Mile On The Turf
purse :  $28,125 Available Money $28,125 Value of Race $28,125 1st $16,500,
weather :  Clear
track_type :  Firm
off_time :  4 43
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '10', 'criteria': '(PLUS UP TO 40% NJB) FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD', 'claiming_price': '$12,500,', 'track_length': ' One Mile On The Turf', 'purse': '$28,125 Available Money $28,125 Value of Race $28,125 1st $16,500,', 'weather': 'Clear', 'track_type': 'Firm', 'off_time': '4:43', 'start': 'Good for all', 'race_type': 'claiming'}

Looking for tables...
Found table top bound at 143.12199999999996
Found table bottom bound at 234.42199999999988
Looking for tables...
Found table top bound at 439.997
Found table bottom bound at 542.567
     Last Raced  Pgm jockey_first_name  jockey_last_name   PP Start 1/4  3/8  \
0    2Jul22 MTH  4.0             Albin           Jimenez  4.0   3.0   2    2
1    2Jul22 MTH  6.0             Angel         Rodriguez  5.0   2.0   3    3
2   30Jun22 DEL  1.0              Jose            Ferrer  1.0   5.0   5    5
3   22Jul22 MTH  2.0             Jorge       Vargas  Jr.  2.0   4.0   4    4
4   30Jul22 MTH  3.0             Jomar            Torres  3.0   1.0   1    1
..          ...  ...               ...               ...  ...   ...  ..  ...
62   5Aug22 MTH  2.0             Manny           Jimenez  2.0   7.0   4  NaN
63   9Jul22 MTH  7.0              Paco             Lopez  7.0   6.0   7  NaN
64   1Aug22 MTH  5.0              Omar  Hernandez Moreno  5.0   4.0   2  NaN
65  29Jul22 LRL  6.0             Jomar            Torres  6.0   8.0   8  NaN
66  28Jul22 DEL  1.0               Nik            Juarez  1.0   3.0   5  NaN

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
..  ..  ..  ...               ...               ...     ...     ...
62   2   4  ...              Head              Head     NaN     NaN
63   4   5  ...               NaN                 2     NaN     NaN
64   6   6  ...                 1             1 1/2     NaN     NaN
65   7   7  ...              Head                 1     NaN     NaN
66   8   8  ...                 1               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
..                   ...                   ...  ...                ...
62                   NaN                   NaN  NaN                NaN
63                   NaN                   NaN  NaN                NaN
64                   NaN                   NaN  NaN                NaN
65                   NaN                   NaN  NaN                NaN
66                   NaN                   NaN  NaN                NaN

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
..      ...                    ...
62      NaN                    NaN
63      NaN                    NaN
64      NaN                    NaN
65      NaN                    NaN
66      NaN                    NaN

[67 rows x 53 columns]
track :  MONMOUTH PA ?RK
date :  August 27, 2022
race_num :  11
criteria :  (PLUS UP TO 40% NJB) FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD WHICH HAVE NEVER WON TWO RACES.
claiming_price :  $30,000,
track_length :  To $25,000 1 lb. ( Races Where Entered For $22,000 Or Less Not Considered In Allowances). ( N W2 L X) Claiming Price $30,000 - $25,000 Six Furlongs On The Dirt
purse :  $30,000
weather :  Clear
track_type :  Fast
off_time :

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
The PDF <_io.BufferedReader name='Example_PDFS/equibaseFile.pdf'> contains a metadata field indicating that it should not allow text extraction. Ignoring this field and proceeding. Use the check_extractable if you want to raise an error in this case

 5 12
start :  Good for all
{'track': 'Monmouth Park', 'date': 'August 27, 2022', 'race_num': '11', 'criteria': '(PLUS UP TO 40% NJB) FOR FILLIES AND MARES THREE YEARS OLD AND UPWARD WHICH HAVE NEVER WON TWO RACES', 'claiming_price': '$30,000,', 'track_length': ' Six Furlongs On The Dirt', 'purse': '$30,000', 'weather': 'Clear', 'track_type': 'Fast', 'off_time': '5:12', 'start': 'Good for all', 'race_type': 'claiming'}
Looking for tables...
Found table top bound at 135.24599999999995
Found table bottom bound at 206.54599999999994
Looking for tables...
Found table top bound at 445.3310000000001
Found table bottom bound at 519.965
     Last Raced  Pgm jockey_first_name jockey_last_name   PP Start 1/4  3/8  \
0    2Jul22 MTH  4.0             Albin          Jimenez  4.0   3.0   2    2
1    2Jul22 MTH  6.0             Angel        Rodriguez  5.0   2.0   3    3
2   30Jun22 DEL  1.0              Jose           Ferrer  1.0   5.0   5    5
3   22Jul22 MTH  2.0             Jorge      Vargas  Jr.  2.0   4.0   4    4
4   30Jul22 MTH  3.0             Jomar           Torres  3.0   1.0   1    1
..          ...  ...               ...              ...  ...   ...  ..  ...
67   8Aug22 MTH  5.0             Angel         Castillo  4.0   1.0   1  NaN
68  31Jul22 MTH  3.0              Paco            Lopez  2.0   2.0   2  NaN
69  29Jul22 MTH  1.0              Samy          Camacho  1.0   3.0   3  NaN
70   6Aug22 MTH  4.0             Manny          Jimenez  3.0   4.0   4  NaN
71   4Jun22 DEL  6.0             Albin          Jimenez  5.0   5.0   5  NaN

   Str Fin  ... 1/2_length_behind 3/4_length_behind 1/2_RLP 3/4_RLP  \
0    2   1  ...               NaN               NaN     NaN     NaN
1    1   2  ...               NaN               NaN     NaN     NaN
2    4   3  ...               NaN               NaN     NaN     NaN
3    5   4  ...               NaN               NaN     NaN     NaN
4    3   5  ...               NaN               NaN     NaN     NaN
..  ..  ..  ...               ...               ...     ...     ...
67   1   1  ...             2 1/2               NaN     NaN     NaN
68   2   2  ...             2 1/2               NaN     NaN     NaN
69   3   3  ...              Head               NaN     NaN     NaN
70   4   4  ...                 4               NaN     NaN     NaN
71   5   5  ...               NaN               NaN     NaN     NaN

   1/2_length_behind_RLP 3/4_length_behind_RLP 3/16 3/16_length_behind  \
0                    NaN                   NaN  NaN                NaN
1                    NaN                   NaN  NaN                NaN
2                    NaN                   NaN  NaN                NaN
3                    NaN                   NaN  NaN                NaN
4                    NaN                   NaN  NaN                NaN
..                   ...                   ...  ...                ...
67                   NaN                   NaN  NaN                NaN
68                   NaN                   NaN  NaN                NaN
69                   NaN                   NaN  NaN                NaN
70                   NaN                   NaN  NaN                NaN
71                   NaN                   NaN  NaN                NaN

   3/16_RLP 3/16_length_behind_RLP
0       NaN                    NaN
1       NaN                    NaN
2       NaN                    NaN
3       NaN                    NaN
4       NaN                    NaN
..      ...                    ...
67      NaN                    NaN
68      NaN                    NaN
69      NaN                    NaN
70      NaN                    NaN
71      NaN                    NaN

[72 rows x 53 columns]

C:\Users\jonho\AppData\Roaming\Python\Python39\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

In [3]:
pdf_df

,Last Raced,Pgm,jockey_first_name,jockey_last_name,PP,Start,Str 1,Str,Fin,Odds,...,1/2_length_behind_RLP,claiming_price,3/8,3/8_length_behind,3/8_RLP,3/8_length_behind_RLP,3/4,3/4_length_behind,3/4_RLP,3/4_length_behind_RLP
0,3Sep22 AZD,6.0,Rodolfo,Arvizu,6.0,4.0,1,1,1,3.90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3Sep22 AZD,7.0,Elias,Gutierrez,7.0,2.0,4,2,2,15.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3Sep22 AZD,3.0,David,Reyes-Frisby,3.0,5.0,3,3,3,1.70*,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15Aug22 AZD,1.0,Michael,Ybarra,1.0,1.0,2,4,4,7.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15Aug22 AZD,8.0,Martin,Osuna,8.0,3.0,5,5,5,9.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,29Aug22 AZD,4.0,Isaias,Enriquez,4.0,4.0,NaN,4,4,2.30,...,NaN,"$3,500",NaN,NaN,NaN,NaN,3,1 1/2,NaN,NaN
66,15Aug22 AZD,3.0,Devon,Ellis,3.0,5.0,NaN,6,5,19.10,...,NaN,"$3,500",NaN,NaN,NaN,NaN,6,Head,NaN,NaN
67,15Aug22 AZD,2.0,Kevin,Carbajal,2.0,2.0,NaN,5,6,22.30,...,NaN,"$3,500",NaN,NaN,NaN,NaN,4,1/2,NaN,NaN
68,29Aug22 AZD,5.0,Allyssa,Morales,5.0,6.0,NaN,7,7,7.70,...,NaN,"$3,500",NaN,NaN,NaN,NaN,7,3 1/2,NaN,NaN
69,15Aug22 AZD,1.0,Kody,Kellenberger,1.0,8.0,NaN,---,---,6.60,...,NaN,"$3,500",NaN,NaN,NaN,NaN,8,NaN,NaN,NaN

In [6]:
pdf_df.to_csv("ARAP.csv")